openapi: 3.1.0
info:
  title: Exchange market API
  version: 0.2.0
  description: |
    Public market endpoints, no sign-in. Reference data (requirements
    §5.5: assets, networks, trading pairs) is cacheable for 10 seconds;
    market data (§5.11, §11.8: tickers, depth, trades, candles) for 1
    second. A pair with a reference market (reference_symbol) shows that
    market's candles and tickers while the flags market.reference_kline
    and market.reference_ticker are on for it (ADR-0010); otherwise the
    data is built from the platform's own trades and book. Amounts are
    decimal strings (ADR-0008): clients must not parse them into floating
    point. Live updates come over the WebSocket channels tickers,
    ticker:, depth:, trades: and candles:, and for perpetual contracts
    mark-price:, funding: and liquidations: (§7.3; liquidations: pushes
    the reference market's forced orders on the contract as Liquidation,
    design 2026-10-06 §3.3, from batch G3b). Contracts (BTC-USDT-PERP, and
    the coin-margined BTC-USD-PERP) have tickers, depth, trades and
    candles like pairs; their charts and tickers follow their index pair's
    reference market.
servers:
  - url: https://astras.vip
tags:
  - name: market
paths:
  /v1/market/assets:
    get:
      operationId: listAssets
      summary: Assets with their networks
      tags: [market]
      responses:
        '200':
          description: Every asset.
          content:
            application/json:
              schema:
                type: object
                required: [assets]
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/assets/{code}/logo:
    get:
      operationId: getAssetLogo
      summary: An asset's logo
      description: >-
        PNG, SVG (cleaned on upload) or WebP. Asked for with the current profile version (v, as
        logo_url carries it) it is cached for a year; with another version, for a minute.
      tags: [market]
      parameters:
        - name: code
          in: path
          required: true
          schema:
            type: string
            examples: [ASTRA]
        - name: v
          in: query
          schema:
            type: integer
      responses:
        '200':
          description: The logo.
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
                format: binary
            image/webp:
              schema:
                type: string
                format: binary
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/pairs:
    get:
      operationId: listPairs
      summary: Trading pairs (delisted ones excluded)
      tags: [market]
      responses:
        '200':
          description: Every listed pair.
          content:
            application/json:
              schema:
                type: object
                required: [pairs]
                properties:
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingPair'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/pairs/{symbol}:
    get:
      operationId: getPair
      summary: One trading pair, delisted ones included
      tags: [market]
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
            examples: [BTC-USDT]
      responses:
        '200':
          description: The pair.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradingPair'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/contracts:
    get:
      operationId: listContracts
      summary: Perpetual contracts of a margin type (delisted ones excluded)
      description: |
        Linear perpetuals settled in USDT (requirements §5.8, §11.7):
        quantities in the base asset; price, margin, fees and PnL in USDT.
        Coin-margined (inverse) perpetuals (design 2026-10-06 §2.1), e.g.
        BTC-USD-PERP: prices in USD, quantities whole contracts of
        contract_size USD, margin, fees and PnL in the base asset they
        settle in. A position's leverage and maintenance margin rate come
        from the risk tier its notional falls in. margin_type picks the
        kind; without it the list keeps to the linear contracts, as before
        the coin-margined ones.
      tags: [market]
      parameters:
        - name: margin_type
          in: query
          schema:
            type: string
            enum: [USDT, COIN, ALL]
            default: USDT
      responses:
        '200':
          description: Every listed contract.
          content:
            application/json:
              schema:
                type: object
                required: [contracts]
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/contracts/{symbol}:
    get:
      operationId: getContract
      summary: One perpetual contract of either margin type, delisted ones included
      tags: [market]
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
            examples: [BTC-USDT-PERP]
      responses:
        '200':
          description: The contract.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Contract'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/tickers:
    get:
      operationId: listTickers
      summary: Rolling 24-hour tickers of every listed pair and contract
      tags: [market]
      responses:
        '200':
          description: One ticker per listed pair and contract.
          content:
            application/json:
              schema:
                type: object
                required: [tickers]
                properties:
                  tickers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticker'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/summary:
    get:
      operationId: getMarketSummary
      summary: Top movers and most traded USDT pairs
      description: |
        The home page overview, from the tickers of the USDT pairs that are
        trading and have a price: gainers by 24-hour change (highest
        first), losers (lowest first) and turnover by quote volume
        (highest first).
      tags: [market]
      parameters:
        - name: limit
          in: query
          description: Tickers per list.
          schema:
            type: integer
            minimum: 1
            maximum: 20
            default: 5
      responses:
        '200':
          description: The overview.
          content:
            application/json:
              schema:
                type: object
                required: [gainers, losers, turnover, updated_at]
                properties:
                  gainers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticker'
                  losers:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticker'
                  turnover:
                    type: array
                    items:
                      $ref: '#/components/schemas/Ticker'
                  updated_at:
                    type: string
                    format: date-time
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/sparklines:
    get:
      operationId: getSparklines
      summary: Trend lines of many pairs at once
      description: |
        The market lists' lines from hourly closes, oldest first: 7d thins
        the last week to 56 points, 24h gives the last 24 closes. One
        request serves a page of rows; the server keeps each pair's closes
        for five minutes. A pair without candles is left out.
      tags: [market]
      parameters:
        - name: symbols
          in: query
          required: true
          description: Up to 60 pairs or contracts, comma-separated.
          schema:
            type: string
            examples: ['BTC-USDT,ETH-USDT']
        - name: range
          in: query
          schema:
            type: string
            enum: [7d, 24h]
            default: 7d
      responses:
        '200':
          description: The lines by symbol.
          content:
            application/json:
              schema:
                type: object
                required: [range, interval, sparklines]
                properties:
                  range:
                    type: string
                    enum: [7d, 24h]
                  interval:
                    type: string
                    const: 1h
                  sparklines:
                    type: object
                    additionalProperties:
                      type: array
                      items:
                        $ref: '#/components/schemas/Decimal'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/futures/overview:
    get:
      operationId: getFuturesOverview
      summary: Every listed contract's mark price, funding, open interest and day
      description: |
        Every listed contract, by symbol, with its mark and index prices,
        the funding estimate, the open interest from Binance (null for a
        contract the reference market does not trade, or before it was
        read) and the 24-hour change and volume of its ticker (design
        2026-10-06 §3.3). Batch G3b.
      tags: [market]
      responses:
        '200':
          description: One item per listed contract.
          content:
            application/json:
              schema:
                type: object
                required: [contracts]
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/FuturesOverviewItem'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/ticker:
    get:
      operationId: getTicker
      summary: Rolling 24-hour ticker of a pair
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
      responses:
        '200':
          description: The ticker.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticker'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/depth:
    get:
      operationId: getDepth
      summary: Order book depth, aggregated by price, best first
      description: The engine's latest snapshot (at most every 100 ms); empty before the first one.
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: limit
          in: query
          description: Levels per side, at most 200.
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 100
      responses:
        '200':
          description: The depth.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, sequence, bids, asks, updated_at]
                properties:
                  symbol:
                    type: string
                  sequence:
                    type: integer
                    format: int64
                    description: The book's engine sequence at the snapshot; 0 before the first.
                  bids:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceLevel'
                  asks:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceLevel'
                  updated_at:
                    type: [string, 'null']
                    format: date-time
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/trades:
    get:
      operationId: listTrades
      summary: The latest trades of a pair, newest first
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: The trades.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, trades]
                properties:
                  symbol:
                    type: string
                  trades:
                    type: array
                    items:
                      $ref: '#/components/schemas/PublicTrade'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/mark-price:
    get:
      operationId: getMarkPrice
      summary: A contract's mark and index prices and funding estimate
      description: |
        Computed every second (requirements §11.7): the index is the
        weighted median of reference spot prices; the mark price is the
        index moved by the 30-second EMA of the book's mid price relative
        to it, at most 1% either way; the funding rate is the running
        estimate of the period ending next_funding_time. Prices stay at the
        last computation while none is possible; after 10 seconds without
        one the contract is degraded (reduce-only trading).
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
      responses:
        '200':
          description: The prices.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkPrice'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/funding-rates:
    get:
      operationId: listFundingRates
      summary: A contract's settled funding rates, newest first
      description: |
        One per funding period (00:00, 08:00, 16:00 UTC for an 8-hour
        interval): clamp(premium + clamp(interest - premium, +-0.05%),
        +-cap), premium being the period's average premium index. Positions
        at funding_time pay notional x rate at mark_price: longs pay shorts
        when the rate is positive.
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: from
          in: query
          description: Funding times at or after this (RFC 3339).
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Funding times before this (RFC 3339).
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
      responses:
        '200':
          description: The rates.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, funding_rates]
                properties:
                  symbol:
                    type: string
                  funding_rates:
                    type: array
                    items:
                      $ref: '#/components/schemas/FundingRate'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/futures-data:
    get:
      operationId: getFuturesData
      summary: A contract's futures statistics from Binance, oldest first
      description: |
        Binance's statistics of the Binance contract the contract follows
        (design 2026-10-06 §3.3): open interest, the long and short
        shares of all accounts and of the top traders' accounts and
        positions, the takers' buy and sell volume, the basis and the
        settled funding rates; a series keeps the 500 latest points, none
        older than 30 days. The latest limit points, oldest first, each
        with the values of its metric (FuturesDataPoint). A contract the
        reference market does not trade (the platform coin's) is 404
        MARKET_NO_FUTURES_DATA (coordinator 2026-10-06 20:45; until the
        service has read the contracts after a start, it serves what is
        stored instead); a symbol that is no listed contract is 404
        COMMON_NOT_FOUND. market.futures_data turns the reading on; off,
        what is stored is still served. A limit above 500 answers the
        latest 500 (not an error). Batch G3b.
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: metric
          in: query
          required: true
          schema:
            type: string
            enum: [open_interest, long_short_account, top_long_short_account, top_long_short_position, taker_ratio, basis, funding]
        - name: period
          in: query
          description: The points' spacing; funding has one point per settlement and takes no period.
          schema:
            type: string
            enum: [5m, 15m, 1h, 4h, 1d]
            default: 5m
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 30
      responses:
        '200':
          description: The points.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, metric, period, points]
                properties:
                  symbol:
                    type: string
                  metric:
                    type: string
                  period:
                    type: [string, 'null']
                    description: Null for funding.
                  points:
                    type: array
                    items:
                      $ref: '#/components/schemas/FuturesDataPoint'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/liquidations:
    get:
      operationId: listLiquidations
      summary: A contract's recent liquidations on Binance, newest first
      description: |
        The reference market's liquidation orders on the Binance contract
        the contract follows from the last day, as Binance streams them
        (the latest of a contract within a second, not all of them):
        what the channel liquidations:{symbol} pushed (design 2026-10-06
        §3.3, coordinator 20:45). The same 404s as futures-data:
        MARKET_NO_FUTURES_DATA for a contract the reference market does not
        trade, COMMON_NOT_FOUND for a symbol that is no listed contract.
        "The last day" is what is kept: an hourly purge removes those older
        than a day, so up to about 25 hours. A limit above 100 answers the
        latest 100 (not an error). Batch G3b.
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: The liquidations.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, liquidations]
                properties:
                  symbol:
                    type: string
                  liquidations:
                    type: array
                    items:
                      $ref: '#/components/schemas/Liquidation'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/market/{symbol}/candles:
    get:
      operationId: listCandles
      summary: Candles of a pair, oldest first
      description: |
        Aligned to UTC (weeks start on Monday). A pair in reference mode
        (market.reference_kline) shows its reference market's candles; the
        platform's own are built from its trades: intervals without trades
        repeat the previous close with zero volume, so the series has no
        gaps, and intervals before the first trade are left out. At most
        `limit` candles, the latest ones opening before `to`. To page back
        through history, pass the oldest open_time received as `to`.
      tags: [market]
      parameters:
        - $ref: '#/components/parameters/Symbol'
        - name: interval
          in: query
          required: true
          schema:
            type: string
            enum: [1m, 3m, 5m, 15m, 30m, 1h, 2h, 4h, 6h, 12h, 1d, 1w, 1M]
        - name: from
          in: query
          description: First candle, the one containing this time (RFC 3339); default limit intervals before to.
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          description: Candles opening before this time (RFC 3339); default now, which includes the open candle.
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
      responses:
        '200':
          description: The candles.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, interval, candles]
                properties:
                  symbol:
                    type: string
                  interval:
                    type: string
                  candles:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candle'
        default:
          $ref: './common.yaml#/components/responses/Error'
components:
  parameters:
    Symbol:
      name: symbol
      in: path
      required: true
      description: A listed pair or contract (case-insensitive).
      schema:
        type: string
        examples: [BTC-USDT]
  schemas:
    Decimal:
      type: string
      pattern: '^-?[0-9]+(\.[0-9]+)?$'
      examples: ['0.00001']
    Network:
      type: object
      required: [network, display_name, chain, address_format, contract_address, confirmations, eta_minutes, min_deposit, min_withdraw,
        withdraw_fee, memo_required, deposit_enabled, withdraw_enabled, explorer_tx_url, explorer_address_url]
      properties:
        network:
          type: string
          examples: [ETH-SEPOLIA]
        display_name:
          type: string
          description: The name users see, e.g. TRC20, BEP20, ERC20, Bitcoin; the network code when none is set.
        chain:
          type: string
          description: Chain identifier, e.g. the EVM chain ID.
        address_format:
          type: string
          enum: [EVM, TRON, BTC]
          description: How addresses are written and checked.
        contract_address:
          type: string
          description: Empty for the chain's native coin.
        confirmations:
          type: integer
        eta_minutes:
          type: integer
          description: Usual minutes from the transfer to the credit; 0 when unknown.
        explorer_tx_url:
          type: [string, 'null']
          description: Block explorer link of a transaction, with a {tx} placeholder.
          examples: ['https://sepolia.etherscan.io/tx/{tx}']
        explorer_address_url:
          type: [string, 'null']
          description: Block explorer link of an address, with an {address} placeholder.
        min_deposit:
          $ref: '#/components/schemas/Decimal'
        min_withdraw:
          $ref: '#/components/schemas/Decimal'
        withdraw_fee:
          $ref: '#/components/schemas/Decimal'
        memo_required:
          type: boolean
        deposit_enabled:
          type: boolean
        withdraw_enabled:
          type: boolean
    Asset:
      type: object
      required: [asset_code, name, decimals, rank, categories, deposit_enabled, withdraw_enabled, trading_enabled, networks,
        display_name, description, links, logo_url, profile_version]
      properties:
        asset_code:
          type: string
          examples: [BTC]
        name:
          type: string
        rank:
          type: [integer, 'null']
          description: Market-cap rank at listing; null when unranked.
        categories:
          type: array
          description: Sector tags, e.g. layer-1, defi, meme.
          items:
            type: string
        decimals:
          type: integer
          minimum: 0
          maximum: 18
          description: Amounts of the asset have at most this many decimal places.
        deposit_enabled:
          type: boolean
        withdraw_enabled:
          type: boolean
        trading_enabled:
          type: boolean
        networks:
          type: array
          items:
            $ref: '#/components/schemas/Network'
        display_name:
          type: [string, 'null']
          description: The name operators set for the sites (ASTRA design §5.3); null shows the name.
        description:
          type: object
          description: Introductions by language ("zh-CN", "en"), set by operators; empty when none.
          additionalProperties:
            type: string
        links:
          type: object
          description: https links by kind ("website", "explorer", "whitepaper"); empty when none.
          additionalProperties:
            type: string
        logo_url:
          type: [string, 'null']
          description: >-
            The logo (GET /v1/market/assets/{code}/logo?v=...): the URL changes with every profile
            change, so it can be cached for good. Null without a logo (the sites draw the letter icon).
        profile_version:
          type: integer
          minimum: 0
          description: Goes up with every change of the profile.
    RiskTier:
      type: object
      required: [max_notional, max_leverage, mmr]
      properties:
        max_notional:
          type: string
          description: >-
            Largest position notional of the tier, in the settlement asset: USDT, or the base
            asset of a coin-margined contract (contracts x contract_size / mark price).
        max_leverage:
          type: integer
        mmr:
          type: string
          description: Maintenance margin rate, liquidation fee included.
    Contract:
      type: object
      required: [symbol, type, base_asset, quote_asset, index_symbol, tick_size, lot_size, min_quantity, max_quantity, min_notional,
        price_band, max_leverage, risk_tiers, funding_interval_hours, interest_rate, funding_cap, impact_notional, maker_fee_rate,
        taker_fee_rate, status, margin_type, settle_asset, contract_size, reference_symbol]
      properties:
        symbol:
          type: string
          examples: [BTC-USDT-PERP, BTC-USD-PERP]
        type:
          type: string
          enum: [PERPETUAL]
        base_asset:
          type: string
        quote_asset:
          type: string
          description: USDT, or USD for a coin-margined contract (USD is no asset).
        index_symbol:
          type: string
          description: The spot market whose reference prices make the index (the USDT pair, also for a coin-margined contract).
        tick_size:
          type: string
        lot_size:
          type: string
          description: In the base asset, or whole contracts ("1") of a coin-margined contract.
        min_quantity:
          type: string
        max_quantity:
          type: string
        min_notional:
          type: string
          description: In USDT, or USD for a coin-margined contract (one contract's face value).
        price_band:
          type: string
          description: Largest deviation of a limit price from the mark price, as a fraction.
        max_leverage:
          type: integer
        risk_tiers:
          type: array
          items:
            $ref: '#/components/schemas/RiskTier'
        funding_interval_hours:
          type: integer
          enum: [1, 4, 8]
        interest_rate:
          type: string
          description: Per funding interval.
        funding_cap:
          type: string
        impact_notional:
          type: string
          description: In USDT, or in contracts of a coin-margined contract (10,000 USD of them).
        maker_fee_rate:
          type: string
        taker_fee_rate:
          type: string
        status:
          type: string
          enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
        margin_type:
          type: string
          enum: [USDT, COIN]
          description: USDT for a linear contract, COIN for a coin-margined (inverse) one.
        settle_asset:
          type: string
          description: The asset margin, fees, funding and PnL are in (the FUTURES account of that asset).
          examples: [USDT, BTC]
        contract_size:
          type: string
          description: A coin-margined contract's face value in USD (100 for BTC, 10 for the others); "0" for a linear contract.
        reference_symbol:
          type: [string, 'null']
          description: >-
            The Binance contract the contract's market data and, with market.reference_mark, its mark
            price follow: BTCUSDT (USDⓈ-M) or BTCUSD_PERP (COIN-M); null when none does (the platform
            coin's).
    FuturesDataPoint:
      type: object
      description: |
        One point of a contract's futures statistics (Binance's figures as
        they are; decimal strings; quantities in the base asset, or
        contracts of a coin-margined contract; values in USD). values has
        the names of its metric:
        open_interest: open_interest, open_interest_value;
        long_short_account, top_long_short_account and
        top_long_short_position: long, short (shares of the accounts or
        positions), long_short_ratio; taker_ratio: buy_vol, sell_vol,
        buy_sell_ratio; basis: futures_price, index_price, basis,
        basis_rate; funding: funding_rate, mark_price.
      required: [time, values]
      properties:
        time:
          type: string
          format: date-time
          description: The point's time at the source (a snapshot's, or the start of the period a volume was traded in).
        values:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Decimal'
    FuturesOverviewItem:
      type: object
      required: [symbol, mark_price, index_price, funding_rate, next_funding_time, open_interest, open_interest_value, change,
        quote_volume, futures_data]
      properties:
        symbol:
          type: string
        mark_price:
          $ref: '#/components/schemas/NullableDecimal'
        index_price:
          $ref: '#/components/schemas/NullableDecimal'
        funding_rate:
          description: The running period's estimate.
          $ref: '#/components/schemas/NullableDecimal'
        next_funding_time:
          type: [string, 'null']
          format: date-time
        open_interest:
          description: Binance's now, in the base asset or contracts; null when not known.
          $ref: '#/components/schemas/NullableDecimal'
        open_interest_value:
          description: The open interest's value in USD.
          $ref: '#/components/schemas/NullableDecimal'
        change:
          description: The ticker's 24-hour change as a fraction (Ticker.change).
          $ref: '#/components/schemas/NullableDecimal'
        quote_volume:
          description: The ticker's 24-hour volume in USD (USDT).
          $ref: '#/components/schemas/NullableDecimal'
        futures_data:
          type: boolean
          description: Whether GET /v1/market/{symbol}/futures-data has the reference market's statistics of the contract
            (one the service follows; before it has read the reference market's contracts, one with a reference market).
    Liquidation:
      type: object
      description: |
        A liquidation order of the reference market on a contract (design
        2026-10-06 §3.3), pushed on the public WebSocket channel
        liquidations:{symbol} as Binance streams them (the latest of a
        contract within a second, not all of them) and listed by GET
        /v1/market/{symbol}/liquidations for a day. Batch G3b.
      required: [symbol, position_side, price, average_price, quantity, value_usd, traded_at]
      properties:
        symbol:
          type: string
        position_side:
          type: string
          enum: [LONG, SHORT]
          description: The side of the position closed (LONG when the order sold).
        price:
          $ref: '#/components/schemas/Decimal'
        average_price:
          $ref: '#/components/schemas/Decimal'
        quantity:
          description: Filled, in the base asset or contracts of a coin-margined contract.
          $ref: '#/components/schemas/Decimal'
        value_usd:
          description: The average price times the quantity, or the contracts times their face value.
          $ref: '#/components/schemas/Decimal'
        traded_at:
          type: string
          format: date-time
    TradingPair:
      type: object
      required: [symbol, base_asset, quote_asset, base_name, rank, categories, tick_size, lot_size, price_decimals, qty_decimals,
        min_quantity, max_quantity, min_notional, price_band, maker_fee_rate, taker_fee_rate, status, reference_symbol,
        reference_multiplier, listed_at, base_display_name, base_logo_url]
      properties:
        symbol:
          type: string
          examples: [BTC-USDT]
        base_asset:
          type: string
        quote_asset:
          type: string
        base_name:
          type: string
          description: The base asset's name, e.g. Bitcoin.
        rank:
          type: [integer, 'null']
          description: The base asset's market-cap rank at listing; null when unranked.
        categories:
          type: array
          description: The base asset's sector tags.
          items:
            type: string
        tick_size:
          $ref: '#/components/schemas/Decimal'
        lot_size:
          $ref: '#/components/schemas/Decimal'
        price_decimals:
          type: integer
          description: Decimal places of tick_size, for display.
        qty_decimals:
          type: integer
          description: Decimal places of lot_size, for display.
        min_quantity:
          $ref: '#/components/schemas/Decimal'
        max_quantity:
          $ref: '#/components/schemas/Decimal'
        min_notional:
          $ref: '#/components/schemas/Decimal'
        price_band:
          $ref: '#/components/schemas/Decimal'
        maker_fee_rate:
          $ref: '#/components/schemas/Decimal'
        taker_fee_rate:
          $ref: '#/components/schemas/Decimal'
        status:
          type: string
          enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
        reference_symbol:
          type: [string, 'null']
          description: |
            The reference market the pair's market data follows (ADR-0010),
            e.g. BTCUSDT; null when the pair shows its own trades and book.
        reference_multiplier:
          description: Platform price = reference price x multiplier (1000 for a 1000PEPE pair); quantities divide by it.
          $ref: '#/components/schemas/Decimal'
        listed_at:
          type: string
          format: date-time
        base_display_name:
          type: [string, 'null']
          description: The base asset's display name (Asset.display_name); null shows base_name.
        base_logo_url:
          type: [string, 'null']
          description: The base asset's logo (Asset.logo_url); null without one.
    NullableDecimal:
      type: [string, 'null']
      pattern: '^-?[0-9]+(\.[0-9]+)?$'
    Ticker:
      type: object
      description: |
        Rolling 24 hours (§11.8): the reference market's while
        market.reference_ticker is on for the symbol (ADR-0010), else the
        platform's at minute resolution. Prices are null while unknown: a
        pair that never traded, or an empty side of the book. A reference
        ticker keeps its updated_at when the feed stalls: clients show a
        warning once it is 30 seconds old.
      required: [symbol, rank, last, open, high, low, volume, quote_volume, trade_count, change, bid, ask, updated_at]
      properties:
        symbol:
          type: string
        rank:
          type: [integer, 'null']
          description: The base asset's market-cap rank; null when unranked.
        last:
          $ref: '#/components/schemas/NullableDecimal'
        open:
          description: The last trade price 24 hours ago.
          $ref: '#/components/schemas/NullableDecimal'
        high:
          $ref: '#/components/schemas/NullableDecimal'
        low:
          $ref: '#/components/schemas/NullableDecimal'
        volume:
          description: >-
            The 24 hours' volume in the market's quantity: the base asset of a pair or a linear contract, whole
            contracts of a coin-margined one (design 2026-10-06 §3.2).
          $ref: '#/components/schemas/Decimal'
        quote_volume:
          description: >-
            The 24 hours' turnover in the quote: USDT for a pair quoted in it and a linear contract, USD (contracts x
            face value) for a coin-margined one.
          $ref: '#/components/schemas/Decimal'
        trade_count:
          type: integer
          format: int64
        change:
          description: (last - open) / open as a fraction, e.g. "0.0125" for 1.25%.
          $ref: '#/components/schemas/NullableDecimal'
        bid:
          $ref: '#/components/schemas/NullableDecimal'
        ask:
          $ref: '#/components/schemas/NullableDecimal'
        updated_at:
          type: string
          format: date-time
          description: When the reference source computed the ticker, or now for the platform's.
        last_trade_at:
          type: [string, 'null']
          format: date-time
          description: When the platform's own last trade was, how fresh last is; null for a reference ticker or before any trade.
    MarkPrice:
      type: object
      required: [symbol, index_symbol, mark_price, index_price, funding_rate, interest_rate, next_funding_time, degraded, updated_at]
      properties:
        symbol:
          type: string
        index_symbol:
          type: string
          description: The spot market the index follows, e.g. BTC-USDT.
        mark_price:
          description: Null before the first computation.
          $ref: '#/components/schemas/NullableDecimal'
        index_price:
          $ref: '#/components/schemas/NullableDecimal'
        funding_rate:
          description: The running period's estimate, e.g. "0.0001" for 0.01%.
          $ref: '#/components/schemas/Decimal'
        interest_rate:
          $ref: '#/components/schemas/Decimal'
        next_funding_time:
          type: string
          format: date-time
        degraded:
          type: boolean
          description: No mark price for 10 seconds; trading is reduce-only until an operator lifts it.
        updated_at:
          type: [string, 'null']
          format: date-time
          description: When the prices were computed.
        source:
          type: string
          enum: [PLATFORM, BINANCE]
          description: >-
            PLATFORM (computed here) or BINANCE (the Binance contract's mark and index prices and
            estimated rate, while market.reference_mark is on for the contract; design 2026-10-06 §3.1,
            from batch G3a, which makes it required).
    FundingRate:
      type: object
      required: [funding_time, funding_rate, mark_price, index_price, premium, interest_rate, samples, settled_at]
      properties:
        funding_time:
          type: string
          format: date-time
        funding_rate:
          $ref: '#/components/schemas/Decimal'
        mark_price:
          $ref: '#/components/schemas/Decimal'
        index_price:
          $ref: '#/components/schemas/Decimal'
        premium:
          description: The period's average premium index.
          $ref: '#/components/schemas/Decimal'
        interest_rate:
          $ref: '#/components/schemas/Decimal'
        samples:
          type: integer
          format: int64
          description: Premium index samples in the period (one a second); 0 for a rate taken from Binance.
        settled_at:
          type: string
          format: date-time
        source:
          type: string
          enum: [PLATFORM, BINANCE]
          description: Where the settled rate came from (design 2026-10-06 §3.1, from batch G3a).
    PriceLevel:
      type: array
      description: '[price, quantity]'
      items:
        $ref: '#/components/schemas/Decimal'
      minItems: 2
      maxItems: 2
    PublicTrade:
      type: object
      required: [trade_id, trade_number, price, quantity, quote_quantity, taker_side, executed_at]
      properties:
        trade_id:
          type: string
          format: uuid
        trade_number:
          type: integer
          format: int64
          description: The pair's trades counted from 1 (0 for trades from before numbering).
        price:
          $ref: '#/components/schemas/Decimal'
        quantity:
          description: In the market's quantity (whole contracts on a coin-margined contract).
          $ref: '#/components/schemas/Decimal'
        quote_quantity:
          description: price x quantity in the quote; on a coin-margined contract its USD value (contracts x face value).
          $ref: '#/components/schemas/Decimal'
        taker_side:
          type: string
          enum: [BUY, SELL]
        executed_at:
          type: string
          format: date-time
    Candle:
      type: object
      required: [open_time, open, high, low, close, volume, quote_volume, trade_count, closed]
      properties:
        open_time:
          type: string
          format: date-time
        open:
          $ref: '#/components/schemas/Decimal'
        high:
          $ref: '#/components/schemas/Decimal'
        low:
          $ref: '#/components/schemas/Decimal'
        close:
          $ref: '#/components/schemas/Decimal'
        volume:
          description: In the market's quantity (whole contracts on a coin-margined contract).
          $ref: '#/components/schemas/Decimal'
        quote_volume:
          description: In the quote; USD (contracts x face value) on a coin-margined contract.
          $ref: '#/components/schemas/Decimal'
        trade_count:
          type: integer
          format: int64
        closed:
          type: boolean
          description: The interval has ended.
