openapi: 3.1.0
info:
  title: Exchange notification API
  version: 0.1.0
  description: |
    The in-app inbox (requirements §5.3). Security notices (new-device
    sign-in, contact and password changes, sign-in lock, account status)
    are also mailed, with the anti-phishing code when the user set one.
    New notices are pushed on the private WebSocket channel
    "notifications" (§7.3). Operators' messages (type BROADCAST) come
    from the admin console. The announcements and help articles the
    console publishes are public (no token).
servers:
  - url: https://astras.vip
security:
  - bearer: []
tags:
  - name: notification
  - name: content
paths:
  /v1/notifications:
    get:
      operationId: listNotifications
      summary: The caller's notifications, newest first
      tags: [notification]
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
            format: uuid
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: One page and the unread count.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor, unread_count]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Notification'
                  next_cursor:
                    type: [string, 'null']
                  unread_count:
                    type: integer
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/notifications/read:
    post:
      operationId: markNotificationsRead
      summary: Mark notifications read
      tags: [notification]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              description: Either ids (at most 100) or all=true.
              properties:
                ids:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    format: uuid
                all:
                  type: boolean
      responses:
        '200':
          description: How many changed.
          content:
            application/json:
              schema:
                type: object
                required: [updated]
                properties:
                  updated:
                    type: integer
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/announcements:
    get:
      operationId: listAnnouncements
      summary: The published announcements, pinned first then newest
      description: |
        Written and published in the admin console (design 2026-10-02
        §4.5); a scheduled one shows from its time. Public. Cached for 15
        seconds: the sites show a new one within a minute. A page at a
        time, summaries only (C5.5 ⑫).
      tags: [content]
      security: []
      parameters:
        - $ref: '#/components/parameters/Locale'
        - $ref: '#/components/parameters/ListLimit'
        - $ref: '#/components/parameters/ListCursor'
      responses:
        '200':
          description: The announcements.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleList'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/announcements/{slug}:
    get:
      operationId: getAnnouncement
      summary: A published announcement
      tags: [content]
      security: []
      parameters:
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: The announcement with its Markdown body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        '404':
          $ref: '#/components/responses/ArticleNotFound'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/help:
    get:
      operationId: listHelpArticles
      summary: The published help articles, by category and order
      description: A page at a time, summaries only (C5.5 ⑫).
      tags: [content]
      security: []
      parameters:
        - $ref: '#/components/parameters/Locale'
        - $ref: '#/components/parameters/ListLimit'
        - $ref: '#/components/parameters/ListCursor'
      responses:
        '200':
          description: The help articles.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArticleList'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/help/{slug}:
    get:
      operationId: getHelpArticle
      summary: A published help article
      tags: [content]
      security: []
      parameters:
        - $ref: '#/components/parameters/Slug'
        - $ref: '#/components/parameters/Locale'
      responses:
        '200':
          description: The article with its Markdown body.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        '404':
          $ref: '#/components/responses/ArticleNotFound'
        default:
          $ref: './common.yaml#/components/responses/Error'
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  responses:
    ArticleNotFound:
      description: |
        COMMON_NOT_FOUND: no such article published (the sites show their
        bundled file of the slug, if any); NOTIFY_ARTICLE_WITHDRAWN: taken
        off (they do not).
      content:
        application/json:
          schema:
            $ref: './common.yaml#/components/schemas/Error'
  parameters:
    Locale:
      name: locale
      in: query
      description: en for English; Chinese otherwise. An article without English comes in Chinese (fallback true).
      schema:
        type: string
        enum: [zh-CN, en]
    Slug:
      name: slug
      in: path
      required: true
      schema:
        type: string
        pattern: '^[a-z0-9][a-z0-9-]{0,63}$'
    ListLimit:
      name: limit
      in: query
      description: Articles on a page (20 when absent, at most 100).
      schema:
        type: integer
        minimum: 1
        maximum: 100
    ListCursor:
      name: cursor
      in: query
      description: The previous page's next_cursor; COMMON_INVALID_ARGUMENT when it is not one.
      schema:
        type: string
  schemas:
    ArticleSummary:
      type: object
      required: [slug, category, pinned, order, title, summary, published_at, locale, fallback, version]
      properties:
        slug:
          type: string
        category:
          type: string
          description: Announcements notice, product or another; help account, funds, trading, futures, faq or another.
        pinned:
          type: boolean
        order:
          type: integer
          description: Sorts help articles within their category.
        title:
          type: string
        summary:
          type: string
        published_at:
          type: string
          format: date-time
        locale:
          type: string
          enum: [zh-CN, en]
        fallback:
          type: boolean
          description: No text in the language asked; the Chinese one instead.
        version:
          type: integer
          description: Grows with every change; the sites may cache by it.
    ArticleList:
      type: object
      required: [items, withdrawn, next_cursor]
      properties:
        items:
          type: array
          description: A page of summaries; a list never carries the bodies.
          items:
            $ref: '#/components/schemas/ArticleSummary'
        next_cursor:
          type: [string, 'null']
          description: The next page's cursor; null after the last.
        withdrawn:
          type: array
          description: Slugs of articles taken off; the sites hide their bundled file of such a slug too.
          items:
            type: string
    Article:
      allOf:
        - $ref: '#/components/schemas/ArticleSummary'
        - type: object
          required: [body]
          properties:
            body:
              type: string
              description: Markdown.
    Notification:
      type: object
      required: [id, type, title, body, data, read, created_at]
      properties:
        id:
          type: string
          format: uuid
        type:
          type: string
          enum: [WELCOME, NEW_DEVICE_LOGIN, IDENTITY_CHANGED, PASSWORD_CHANGED, ACCOUNT_LOCKED, STATUS_CHANGED, TOTP_CHANGED,
            DEPOSIT_CREDITED, DEPOSIT_UNCLAIMED, WITHDRAWAL_REQUESTED, WITHDRAWAL_COMPLETED, WITHDRAWAL_REJECTED, WITHDRAWAL_CANCELED,
            WITHDRAWAL_FAILED, BROADCAST]
        title:
          type: string
        body:
          type: string
          description: Rendered in the user's language and time zone.
        data:
          type: object
          additionalProperties:
            type: string
          description: Masked specifics, e.g. ip, channel, to; a BROADCAST (an operator's message) carries broadcast_id and maybe link, a path on the sites.
        read:
          type: boolean
        created_at:
          type: string
          format: date-time
