openapi: 3.1.0
info:
  title: Exchange platform API
  version: 0.1.0
  description: |
    The platform's profile, no sign-in (design 2026-10-04 §4.1): the
    exchange's name, logos, colours, footer, contact, test mode,
    registration and the welcome credits, as operators set them
    in the admin console; and the apps to download (design 2026-10-07,
    App download page). The sites read it at start and every minute and
    fall back to their built-in defaults while it cannot be read, so going
    live is a change of settings, not a build. instrument-service keeps
    the profile; the welcome credits are the ledger's (ledger-service
    applies them), shown here as it read them within the last minute.
servers:
  - url: https://astras.vip
tags:
  - name: platform
paths:
  /v1/platform/profile:
    get:
      operationId: getPlatformProfile
      summary: The platform's profile
      description: >-
        Cacheable for a minute. The ETag is the profile's version: with If-None-Match the answer is 304
        while it has not changed.
      tags: [platform]
      security: []
      parameters:
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        '200':
          description: The profile.
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformProfile'
        '304':
          description: Not changed since the ETag sent.
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/platform/images/{kind}:
    get:
      operationId: getPlatformImage
      summary: One of the platform's images
      description: >-
        PNG, SVG (cleaned on upload) or WebP, square. Asked for with the current profile version (v,
        as the profile's image URLs carry it) it is cached for a year; with another version, for a
        minute. 404 while none is uploaded: the sites show their built-in image.
      tags: [platform]
      security: []
      parameters:
        - name: kind
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/PlatformImageKind'
        - name: v
          in: query
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: The image.
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/svg+xml:
              schema:
                type: string
            image/webp:
              schema:
                type: string
                format: binary
        default:
          $ref: './common.yaml#/components/responses/Error'
  /manifest.webmanifest:
    get:
      operationId: getWebManifest
      summary: The mobile site's web app manifest
      description: >-
        Built from the profile (name, short name, theme colour, the uploaded icons, else the built-in
        ones); m.astras.vip serves it at the same path as before. Cacheable for a minute.
      tags: [platform]
      security: []
      responses:
        '200':
          description: The manifest.
          content:
            application/manifest+json:
              schema:
                type: object
                additionalProperties: true
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/platform/apps:
    get:
      operationId: getPlatformApps
      summary: The apps to download, Android's and iOS's
      description: |
        Design 2026-10-07 (App download page) §2.2: each platform's app as
        the console set it — a link (an app store, TestFlight, another
        page) or a file uploaded in the console and served from
        /downloads/ on each of the sites — while it is enabled and
        complete; null otherwise (the sites leave the platform out, and
        hide the download entries while both are null). Cacheable for a
        minute; the ETag is the two platforms' versions, Android's then
        iOS's, and the profile's ("3-5-7": every change raises one of them,
        a new domain moving the files' addresses included), a strong tag
        that If-None-Match matches weakened too (W/"3-5-7", as Cloudflare
        sends it) and answers 304 while it has not changed. Batch H0; built
        in H1.
      tags: [platform]
      security: []
      parameters:
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        '200':
          description: The apps.
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformApps'
        '304':
          description: Not changed since the ETag sent.
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/platform/products:
    get:
      operationId: getPlatformProducts
      summary: The product lines and whether each is open
      description: |
        Design 2026-10-07 (product switches) §1 #6: spot trading and the
        USDT- and coin-margined contracts, each open unless an operator
        closed it in the console (the flags product.spot, product.usdt_m
        and product.coin_m; seeded open, never deleted). The sites read it
        at start and every minute: a closed line leaves their menus, lists,
        searches and boards, its terminals say it is not open, and a user
        who still holds its positions or orders keeps a way to close them.
        Orders other than cancels and reduce-only closes are refused with
        PRODUCT_CLOSED (details.product). Cacheable for 30 seconds; the
        ETag is the three flags' versions in the order spot, usdt_m, coin_m
        ("3-1-1"; 0 for one not stored), a strong tag that If-None-Match
        matches weakened too, and answers 304 while none changed. No
        WebSocket push. Batch K0.
      tags: [platform]
      security: []
      parameters:
        - name: If-None-Match
          in: header
          schema:
            type: string
      responses:
        '200':
          description: The product lines.
          headers:
            ETag:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PlatformProducts'
        '304':
          description: Not changed since the ETag sent.
        default:
          $ref: './common.yaml#/components/responses/Error'
components:
  schemas:
    ProductLine:
      type: object
      required: [enabled]
      properties:
        enabled:
          type: boolean
          description: Open (true) or closed by an operator.
        closed_at:
          type: string
          format: date-time
          description: When an operator closed it; only while closed.
    PlatformProducts:
      type: object
      required: [spot, usdt_m, coin_m]
      properties:
        spot:
          $ref: '#/components/schemas/ProductLine'
        usdt_m:
          $ref: '#/components/schemas/ProductLine'
        coin_m:
          $ref: '#/components/schemas/ProductLine'
    PlatformImageKind:
      type: string
      enum: [logo_light, logo_dark, favicon, apple_touch_icon]
    Texts:
      description: >-
        A text by language; zh-CN is the fallback of a language without one. zh-TW (Traditional Chinese, design
        2026-10-06 繁体中文 §2.1) is absent or empty until operators write it.
      type: object
      required: [zh-CN, en]
      properties:
        zh-CN:
          type: string
        zh-TW:
          type: string
        en:
          type: string
    WelcomeCredit:
      type: object
      required: [asset, amount]
      properties:
        asset:
          type: string
          examples: [USDT]
        amount:
          type: string
          description: Decimal string, greater than 0.
          examples: ['10000']
    PlatformProfile:
      type: object
      required:
        - name
        - short_name
        - domain
        - theme_color
        - brand_color
        - images
        - footer
        - contact
        - social
        - default_locale
        - test_mode
        - registration
        - welcome_credits
        - version
        - updated_at
      properties:
        name:
          type: string
          description: The exchange's name, 2-32 characters.
          examples: [Astras]
        short_name:
          type: string
          description: Where space is short (the home screen), 2-12 characters.
        domain:
          type: string
          description: The PC site's host name (the mobile site is m.<domain>, the console admin.<domain>); empty until set.
          examples: [astras.vip]
        theme_color:
          type: string
          description: '#rrggbb, the theme colour of the browser (meta theme-color, the manifest).'
          pattern: '^#[0-9a-f]{6}$'
        brand_color:
          type: string
          description: '#rrggbb, the brand colour of buttons and highlights (CSS --brand).'
          pattern: '^#[0-9a-f]{6}$'
        images:
          type: object
          description: Each image's URL with the profile version, null while none is uploaded (the built-in one shows).
          required: [logo_light, logo_dark, favicon, apple_touch_icon]
          properties:
            logo_light:
              description: The mark next to the name on a light background.
              type: [string, 'null']
            logo_dark:
              description: The mark on a dark background.
              type: [string, 'null']
            favicon:
              type: [string, 'null']
            apple_touch_icon:
              type: [string, 'null']
        footer:
          type: object
          required: [copyright, compliance]
          properties:
            copyright:
              $ref: '#/components/schemas/Texts'
            compliance:
              description: Registration or compliance lines; empty for none.
              allOf:
                - $ref: '#/components/schemas/Texts'
        contact:
          type: object
          required: [email, support_url]
          properties:
            email:
              type: string
              description: Empty for none.
            support_url:
              type: [string, 'null']
              description: An https URL.
        social:
          type: array
          maxItems: 10
          items:
            type: object
            required: [kind, url]
            properties:
              kind:
                type: string
                enum: [x, telegram, discord, youtube, facebook, instagram, linkedin, reddit, medium, github, tiktok, weibo]
              url:
                type: string
                description: An https URL.
        default_locale:
          type: string
          enum: [zh-CN, zh-TW, en]
        test_mode:
          type: object
          description: >-
            The exchange in test mode (the learning mode until 2026-10-04; off when live). While enabled the sites show
            the content marked TEST or BOTH (FORMAL or BOTH when off, design §4.4), "测试模式" badges and, when banner
            is true, text in a banner at the top.
          required: [enabled, banner, text]
          properties:
            enabled:
              type: boolean
            banner:
              type: boolean
              description: Show the banner while test mode is on (operators may hide it).
            text:
              $ref: '#/components/schemas/Texts'
        registration:
          type: object
          description: CLOSED refuses sign-ups (403 AUTH_REGISTRATION_CLOSED) and the sign-up pages show closed_text.
          required: [status, closed_text]
          properties:
            status:
              type: string
              enum: [OPEN, CLOSED]
            closed_text:
              $ref: '#/components/schemas/Texts'
        welcome_credits:
          type: array
          description: What a new account gets (the ledger's setting, read within the last minute); empty for nothing.
          items:
            $ref: '#/components/schemas/WelcomeCredit'
        version:
          type: integer
          format: int64
          description: Goes up with every change; the ETag and the image URLs carry it.
        updated_at:
          type: string
          format: date-time
    PlatformApps:
      type: object
      required: [android, ios]
      properties:
        android:
          oneOf:
            - $ref: '#/components/schemas/AppDownload'
            - type: 'null'
        ios:
          oneOf:
            - $ref: '#/components/schemas/AppDownload'
            - type: 'null'
    AppDownload:
      description: |
        One platform's app. A link (mode LINK) has no file facts (null);
        an uploaded file (FILE) has them as read from the package when it
        was uploaded. URLs are absolute: a file's on https://<the
        profile's domain>/downloads/... (any of the three sites serves it).
      type: object
      required: [mode, url, install_url, ios_install, package, version, build, min_os, size, sha256, mobileconfig_url, notes, updated_at]
      properties:
        mode:
          type: string
          enum: [LINK, FILE]
        url:
          type: string
          description: The link, or the file (an .apk to download; an .ipa, which iOS installs through install_url).
          examples: ['https://astras.vip/downloads/android/0192a000-0000-7000-8000-000000000001.apk']
        install_url:
          type: [string, 'null']
          description: >-
            An uploaded iOS app's over-the-air install link,
            itms-services://?action=download-manifest&url=<its manifest.plist>; null otherwise (open url).
        ios_install:
          type: [string, 'null']
          enum: [APP_STORE, OTA, null]
          description: >-
            iOS: APP_STORE for a link (the App Store, TestFlight or another page), OTA for an uploaded .ipa (an enterprise
            or Ad Hoc signed app, installed with install_url); null on Android.
        package:
          type: [string, 'null']
          description: The Android package name or the iOS bundle identifier of an uploaded file.
          examples: [vip.astras.app]
        version:
          type: [string, 'null']
          description: versionName (Android) or CFBundleShortVersionString (iOS) of an uploaded file.
          examples: [1.2.0]
        build:
          type: [string, 'null']
          description: versionCode (Android) or CFBundleVersion (iOS) of an uploaded file.
          examples: ['42']
        min_os:
          type: [string, 'null']
          description: The lowest system it installs on (Android API level, iOS version) when the package says.
          examples: ['24', '15.0']
        size:
          type: [integer, 'null']
          format: int64
          description: An uploaded file's size in bytes.
        sha256:
          type: [string, 'null']
          description: An uploaded file's SHA-256, lowercase hex.
        mobileconfig_url:
          type: [string, 'null']
          description: iOS only, optional - a configuration profile (.mobileconfig) uploaded beside the app, downloaded on its own.
        notes:
          description: The version notes; empty for none.
          $ref: '#/components/schemas/Texts'
        updated_at:
          type: string
          format: date-time
