openapi: 3.1.0
info:
  title: Exchange user API
  version: 0.1.0
  description: |
    Profile, account status, eligibility (requirements §5.4), favorite
    markets, and the username and avatar (design 2026-10-07, avatars and
    usernames). Every endpoint needs the access token. Error codes are
    listed in appendix C.
servers:
  - url: https://astras.vip
security:
  - bearer: []
tags:
  - name: user
paths:
  /v1/user/profile:
    get:
      operationId: getProfile
      summary: The caller's profile and account status
      tags: [user]
      responses:
        '200':
          description: Profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          $ref: './common.yaml#/components/responses/Error'
    patch:
      operationId: updateProfile
      summary: Change language, time zone or anti-phishing code
      description: |
        Omitted fields stay. Changing the anti-phishing code (an empty
        string clears it) needs a step-up token; FROZEN accounts may not
        change anything (USER_FROZEN).
      tags: [user]
      parameters:
        - name: X-Step-Up-Token
          in: header
          description: Required when anti_phishing_code is present.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                language:
                  type: string
                  description: The language of mails and notices; en, zh-TW (and zh-HK, zh-Hant) for Traditional Chinese, Simplified Chinese otherwise.
                  examples: [en, zh-CN, zh-TW]
                timezone:
                  type: string
                  examples: [Asia/Singapore]
                anti_phishing_code:
                  type: string
                  pattern: '^([A-Za-z0-9]{4,20})?$'
      responses:
        '200':
          description: Updated profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/user/username:
    put:
      operationId: changeUsername
      summary: Change the caller's username
      description: |
        3 to 20 letters, digits or underscores, not starting with an
        underscore (USER_USERNAME_INVALID, as are a few reserved names:
        admin, support, astras, house and the like); unique whatever the
        case (USER_USERNAME_TAKEN, 409); once in 7 days
        (USER_USERNAME_COOLDOWN, 409, details.next_change_at). The same
        name in another case is a change too. FROZEN accounts may not
        change it (USER_FROZEN). Kept in the user's security events; no
        mail.
      tags: [user]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [username]
              additionalProperties: false
              properties:
                username:
                  type: string
                  pattern: '^[A-Za-z0-9][A-Za-z0-9_]{2,19}$'
                  examples: [satoshi_n]
      responses:
        '200':
          description: The profile with the new name.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/user/avatar:
    post:
      operationId: uploadAvatar
      summary: Upload the caller's avatar
      description: |
        One part, file: a PNG, JPEG or WebP image of at most 5 MB
        (USER_AVATAR_TOO_LARGE, 413; the request at most 8 MB), each side
        at least 64 pixels, at most 2048 x 2048 pixels and 8 bits a channel
        (clients shrink a larger photo first). Its content decides the
        format, not its name or type: anything else, or an image that does
        not decode, is USER_AVATAR_INVALID (SVG and animated images too). The middle
        square is kept, scaled to 256 x 256 and 64 x 64 WebP without any
        metadata (EXIF and the like); the original is not kept, and the
        previous avatar's files are deleted. FROZEN accounts may not upload
        (USER_FROZEN). No Idempotency-Key: a repeat stores a new file.
      tags: [user]
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
            encoding:
              file:
                contentType: image/png, image/jpeg, image/webp
      responses:
        '200':
          description: The profile with the new avatar's URLs.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          $ref: './common.yaml#/components/responses/Error'
    delete:
      operationId: deleteAvatar
      summary: Go back to the default avatar
      description: The uploaded files are deleted; avatar_url and avatar_thumb_url become null. Without one it changes nothing.
      tags: [user]
      responses:
        '200':
          description: The profile with the default avatar.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Profile'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/user/eligibility:
    get:
      operationId: getEligibility
      summary: Whether the caller may use a feature now
      description: |
        Decided by the account status (§5.4 matrix), then the feature's
        switch with its region rules. Refusals carry USER_RISK_REVIEW,
        USER_FROZEN, USER_CLOSED, USER_REGION_NOT_ALLOWED or
        USER_NOT_ELIGIBLE (feature switched off).
      tags: [user]
      parameters:
        - name: feature
          in: query
          required: true
          schema:
            type: string
            enum: [SPOT_TRADE, DERIVATIVES_TRADE, DEPOSIT, WITHDRAW, TRANSFER, MARGIN_TRADE, COIN_M_TRADE]
          description: COIN_M_TRADE is trading the coin-margined perpetuals (derivatives.coin_m, design 2026-10-06 §2.5).
        - name: asset
          in: query
          schema:
            type: string
        - name: symbol
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Decision.
          content:
            application/json:
              schema:
                type: object
                required: [feature, allowed]
                properties:
                  feature:
                    type: string
                  allowed:
                    type: boolean
                  reason_code:
                    type: string
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/user/favorites:
    get:
      operationId: getFavorites
      summary: The caller's favorite markets
      description: In the caller's order; empty, with a null updated_at, until first set.
      tags: [user]
      responses:
        '200':
          description: The favorites.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorites'
        default:
          $ref: './common.yaml#/components/responses/Error'
    put:
      operationId: setFavorites
      summary: Replace the caller's favorite markets
      description: |
        Clients keep favorites locally and merge them into this list after
        signing in. Symbols are upper-cased and repeats dropped, keeping the
        first; they are not checked against the listing.
      tags: [user]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbols]
              additionalProperties: false
              properties:
                symbols:
                  type: array
                  maxItems: 100
                  items:
                    type: string
                    pattern: '^[A-Za-z0-9]{2,10}-[A-Za-z0-9]{2,10}(-[Pp][Ee][Rr][Pp])?$'
                    examples: [BTC-USDT, BTC-USDT-PERP]
      responses:
        '200':
          description: The favorites as stored.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Favorites'
        default:
          $ref: './common.yaml#/components/responses/Error'
components:
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Profile:
      type: object
      required: [user_id, username, username_changed_at, avatar_url, avatar_thumb_url, status, region, language, timezone,
        anti_phishing_code, kyc_level, version, created_at]
      properties:
        user_id:
          type: string
          format: uuid
        username:
          type: string
          description: |
            What the sites show and call the user by (design 2026-10-07 §1):
            user_ and 8 lowercase letters or digits at sign-up, changeable
            once in 7 days (PUT /v1/user/username). Signing in stays with
            the email or phone.
          examples: [user_k3x9q2ab]
        username_changed_at:
          type: [string, 'null']
          format: date-time
          description: When the user last changed it; null while it is the one given at sign-up (or by an operator's reset).
        avatar_url:
          type: [string, 'null']
          description: |
            The uploaded avatar, 256 x 256 WebP, a path every site serves
            (/uploads/avatars/<user_id>/<random>.webp; a new upload gets a
            new name). Null for the default: one of the sites' 12 built-in
            images, chosen by the user ID.
          examples: [/uploads/avatars/0192f0c4-8a3e-7b2d-9c1f-3e5a7d9b1c2e/k3x9q2ab5d7f.webp]
        avatar_thumb_url:
          type: [string, 'null']
          description: The same at 64 x 64; null with avatar_url.
        status:
          type: string
          enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        region:
          type: string
          description: ISO 3166-1 alpha-2.
        language:
          type: string
        timezone:
          type: string
        anti_phishing_code:
          type: string
          description: Empty until set; shown in every mail.
        kyc_level:
          type: integer
        version:
          type: integer
          format: int64
        created_at:
          type: string
          format: date-time
    Favorites:
      type: object
      required: [symbols, updated_at]
      properties:
        symbols:
          type: array
          items:
            type: string
        updated_at:
          type: [string, 'null']
          format: date-time
