openapi: 3.1.0
info:
  title: Exchange wallet API
  version: 0.2.0
  description: |
    Deposits and withdrawals (requirements §5.10, §11.5, §11.6). Each user gets one deposit
    address per network. Most networks are served by the custody wallet
    (ADR-0011: USDT on TRC20, BEP20 and ERC20, BTC, ETH): the custodian
    creates the address, watches the chain and reports a deposit once it
    is confirmed; on the platform's own network (ETH on Sepolia) the
    address is derived from the platform's deposit key and the scanner
    follows the chain. Either way a deposit is credited to the spot
    account once it has the network's confirmations. Deposits below the
    network's minimum, or to a closed account, are not credited to the
    user but held for manual handling (UNCLAIMED_DEPOSIT); transfers of
    tokens the platform does not list are recorded as REJECTED and not
    booked. Changes are pushed on the private WebSocket channel
    "deposits".

    Withdrawals go to addresses of the caller's address book, usable after
    a cooling-off period (24 hours; shorter in the test environment).
    Adding an address and requesting a withdrawal each take a step-up
    (X-Step-Up-Token from POST /v1/auth/step-up; with an authenticator app
    bound, proven by it). A request is checked (eligibility, minimum,
    daily and monthly limits in USDT), scored by the risk rules and its
    amount plus fee frozen; it is then APPROVED, or PENDING_REVIEW when a
    rule asks for a person (new account, new device, recent security
    change, new address, large amount, a large share of the daily limit).
    On a custody network an approved withdrawal is handed to the
    custodian (SUBMITTED), which sends it after its own checks; it is
    settled in the ledger and CONFIRMED when the custodian reports
    success, and FAILED with the funds released when it refuses or the
    transfer fails. On the platform's own network approved withdrawals are
    signed and broadcast, settled in the ledger at broadcast, and
    CONFIRMED after the network's confirmations. One to another user's
    deposit address completes inside the ledger with no fee. Until it is
    signed or handed over the caller can cancel it. Changes are pushed
    on the private channel "withdrawals". Every endpoint needs the access
    token, except the custodian's callback. Amounts are decimal strings
    (ADR-0008).
servers:
  - url: https://astras.vip
security:
  - bearer: []
tags:
  - name: deposits
  - name: withdrawals
  - name: custody
paths:
  /v1/wallet/networks:
    get:
      operationId: listWalletNetworks
      summary: The networks an asset moves on
      description: |
        What the deposit and withdrawal pages show of each network: its
        name, address format, confirmations, usual time to a credit,
        minimums, withdrawal fee and explorer links. USDT has one balance
        whatever network it arrives on; the network is chosen per deposit
        address and per withdrawal.
      tags: [deposits]
      parameters:
        - name: asset
          in: query
          description: The asset (case-insensitive); every asset's networks when omitted.
          schema:
            type: string
            examples: [USDT]
      responses:
        '200':
          description: The networks, closed ones included (see the switches).
          content:
            application/json:
              schema:
                type: object
                required: [networks]
                properties:
                  networks:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletNetwork'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/limits:
    get:
      operationId: getWithdrawLimits
      summary: The caller's withdrawal limits in effect
      description: |
        The daily and monthly limits in USDT the next withdrawal is checked
        against, what is used of them (today and this month, UTC), and the
        full limits: both identities (email and phone) and an authenticator
        app give them, the app only once it has been bound for
        totp_settling_hours (24); until then full_limits_at says when.
        The pages read the numbers and the hours from here.
      tags: [withdrawals]
      responses:
        '200':
          description: The limits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawLimits'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/withdraw-addresses/validate:
    post:
      operationId: validateWithdrawAddress
      summary: Check an address before saving or using it
      description: |
        Checks the form for the network (EVM: 0x and 40 hex digits, EIP-55
        when mixed case; TRON: Base58Check starting with T; Bitcoin:
        bech32/bech32m or Base58Check of the right network) and whether it
        is a platform deposit address: the caller's own is refused, another
        user's makes the withdrawal an internal transfer without a network
        fee. The form is all it can tell: a valid address may still belong
        to nobody.
      tags: [withdrawals]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [network, address]
              properties:
                asset:
                  type: string
                  description: Picks the network's asset when several share it.
                network:
                  type: string
                  examples: [ETH-SEPOLIA]
                address:
                  type: string
                memo:
                  type: string
                  description: Memo or tag, for networks that need one.
      responses:
        '200':
          description: The outcome; an invalid address is not an error.
          content:
            application/json:
              schema:
                type: object
                required: [valid, network, address_format, normalized, reason, internal]
                properties:
                  valid:
                    type: boolean
                  network:
                    type: string
                  address_format:
                    type: string
                    enum: [EVM, TRON, BTC]
                  normalized:
                    type: [string, 'null']
                    description: The address as the network writes it (EIP-55 case for EVM); null when invalid.
                  reason:
                    type: [string, 'null']
                    enum: [ADDRESS_FORMAT, ADDRESS_CHECKSUM, ADDRESS_NETWORK, MEMO_REQUIRED, ADDRESS_OWN, ADDRESS_RETIRED, null]
                    description: |
                      Why it is invalid: not an address of the network's kind,
                      a checksum mismatch (a typo), an address of another
                      network (e.g. testnet), a missing memo, the caller's
                      own deposit address, or a deposit address taken out of
                      use (the custodian's stand-in made it up: no chain
                      knows it).
                  internal:
                    type: boolean
                    description: Another user's deposit address; the withdrawal completes inside the platform with no fee.
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/deposit-address:
    get:
      operationId: getDepositAddress
      summary: The caller's deposit address for an asset on a network
      description: |
        Assigns the next derived address on first use; the same address
        serves every asset of the network. Fails with
        WALLET_NETWORK_UNKNOWN for a network the asset does not have,
        WALLET_NETWORK_DISABLED while the asset or the network takes no
        deposits, WALLET_UNAVAILABLE before the deposit key is configured,
        and the USER_ eligibility codes.
      tags: [deposits]
      parameters:
        - name: asset
          in: query
          required: true
          schema:
            type: string
            examples: [ETH]
        - name: network
          in: query
          required: true
          schema:
            type: string
            examples: [ETH-SEPOLIA]
      responses:
        '200':
          description: The address.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DepositAddress'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/deposits:
    get:
      operationId: listDeposits
      summary: The caller's deposits, newest first
      tags: [deposits]
      parameters:
        - name: cursor
          in: query
          description: next_cursor of the previous page.
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: One page.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deposit'
                  next_cursor:
                    type: [string, 'null']
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/withdraw-addresses:
    get:
      operationId: listWithdrawAddresses
      summary: The caller's withdrawal address book
      tags: [withdrawals]
      responses:
        '200':
          description: The entries, newest first.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WithdrawAddress'
        default:
          $ref: './common.yaml#/components/responses/Error'
    post:
      operationId: addWithdrawAddress
      summary: Add an address to the book
      description: |
        Needs a step-up. The address can be used from usable_at on. An
        address already in the book is returned as it is. Fails with
        WALLET_INVALID_ADDRESS, WALLET_NETWORK_UNKNOWN, WALLET_OWN_ADDRESS
        (the caller's own deposit address) or AUTH_STEP_UP_REQUIRED.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/StepUp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [network, address]
              additionalProperties: false
              properties:
                network:
                  type: string
                  examples: [ETH-SEPOLIA]
                address:
                  type: string
                label:
                  type: string
                  maxLength: 50
      responses:
        '201':
          description: The entry.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawAddress'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/withdraw-addresses/{id}:
    delete:
      operationId: deleteWithdrawAddress
      summary: Remove an address from the book
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Removed.
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/withdrawals:
    post:
      operationId: requestWithdrawal
      summary: Request a withdrawal
      description: |
        Needs a step-up. Fails with WALLET_NETWORK_DISABLED,
        WALLET_WITHDRAW_SUSPENDED (the asset's withdrawals are paused while
        the platform checks its funds), WALLET_INVALID_ADDRESS,
        WALLET_ADDRESS_NOT_WHITELISTED,
        WALLET_ADDRESS_COOLDOWN (details.usable_at), WALLET_BELOW_MINIMUM,
        WALLET_AMOUNT_PRECISION, WALLET_LIMIT_EXCEEDED (details: the limits
        in effect and what was used; full_limits_at when an authenticator
        app bound within the last 24 hours holds the full limits back,
        until then the base ones), WALLET_OWN_ADDRESS, AUTH_STEP_UP_REQUIRED and the
        USER_ eligibility codes (withdrawals need wallet.withdraw). When the
        ledger refuses the freeze (LEDGER_INSUFFICIENT_BALANCE) the
        withdrawal is stored as REJECTED and the error's details carry
        withdrawal_id.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/StepUp'
        - name: Idempotency-Key
          in: header
          schema:
            type: string
            maxLength: 100
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, network, address, amount]
              additionalProperties: false
              properties:
                asset:
                  type: string
                  examples: [ETH]
                network:
                  type: string
                  examples: [ETH-SEPOLIA]
                address:
                  type: string
                amount:
                  $ref: './market.yaml#/components/schemas/Decimal'
      responses:
        '201':
          description: Frozen and scored; APPROVED or PENDING_REVIEW.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: './common.yaml#/components/responses/Error'
    get:
      operationId: listWithdrawals
      summary: The caller's withdrawals, newest first
      tags: [withdrawals]
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
      responses:
        '200':
          description: One page.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Withdrawal'
                  next_cursor:
                    type: [string, 'null']
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/withdrawals/{id}:
    get:
      operationId: getWithdrawal
      summary: One of the caller's withdrawals
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/WithdrawalID'
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: './common.yaml#/components/responses/Error'
    delete:
      operationId: cancelWithdrawal
      summary: Cancel a withdrawal that is not signed yet
      description: |
        Releases the frozen funds. Fails with WALLET_WITHDRAWAL_NOT_CANCELABLE
        once it is being signed or is with the custodian.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/WithdrawalID'
      responses:
        '200':
          description: The withdrawal, CANCELED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: './common.yaml#/components/responses/Error'
  /v1/wallet/callbacks/udun:
    post:
      operationId: udunCallback
      summary: The custodian's notice of a deposit or withdrawal (Udun)
      description: |
        Called by the custodian, not by users (ADR-0011). The four fields
        come as a form or as JSON: body is the trade as a JSON string,
        signed with the merchant key as sign = md5(body + key + nonce +
        timestamp); the timestamp (seconds or milliseconds) must be within
        five minutes. A trade is applied once per status: tradeType 1 is a
        deposit, credited at status 3; tradeType 2 a withdrawal (businessId
        = the withdrawal ID), 0 and 1 the custodian's review, 2 refused, 3
        sent (settled and CONFIRMED), 4 failed. Every callback is logged
        for the admin console. The answer is "success" once the callback is
        recorded and applied; anything else asks the custodian to try again.
      tags: [custody]
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CustodyEnvelope'
          application/json:
            schema:
              $ref: '#/components/schemas/CustodyEnvelope'
      responses:
        '200':
          description: Recorded and applied (or already applied before).
          content:
            text/plain:
              schema:
                type: string
                const: success
        '401':
          description: Signature or timestamp wrong (WALLET_CALLBACK_SIGNATURE, WALLET_CALLBACK_STALE); logged and not applied.
          content:
            application/json:
              schema:
                $ref: './common.yaml#/components/schemas/Error'
        default:
          $ref: './common.yaml#/components/responses/Error'
components:
  parameters:
    StepUp:
      name: X-Step-Up-Token
      in: header
      required: true
      description: A step-up token from POST /v1/auth/step-up; each works once.
      schema:
        type: string
    WithdrawalID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
  securitySchemes:
    bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    WithdrawLimits:
      type: object
      required: [daily_limit, monthly_limit, used_today, used_this_month, full_daily_limit, full_monthly_limit, identities, totp_enabled,
        totp_settling_hours, full_limits_at]
      properties:
        daily_limit:
          type: string
          description: USDT a day, in effect now.
          examples: ['400']
        monthly_limit:
          type: string
          examples: ['4000']
        used_today:
          type: string
        used_this_month:
          type: string
        full_daily_limit:
          type: string
          description: USDT a day with both identities and a settled authenticator app.
          examples: ['2000']
        full_monthly_limit:
          type: string
          examples: ['20000']
        identities:
          type: integer
          description: Verified identities (email, phone).
        totp_enabled:
          type: boolean
        totp_settling_hours:
          type: integer
          description: How long a newly bound authenticator app waits before it raises the limits.
          examples: [24]
        full_limits_at:
          type: [string, 'null']
          format: date-time
          description: When the full limits come while an authenticator app bound with both identities settles; null otherwise.
    WalletNetwork:
      type: object
      required: [asset, network, display_name, chain, address_format, contract, confirmations, eta_minutes, min_deposit, min_withdraw,
        withdraw_fee, memo_required, deposit_enabled, withdraw_enabled, withdraw_suspended, explorer_tx_url, explorer_address_url]
      properties:
        asset:
          type: string
        network:
          type: string
          examples: [ETH-SEPOLIA]
        display_name:
          type: string
          examples: [TRC20, ERC20, Sepolia]
        chain:
          type: string
        address_format:
          type: string
          enum: [EVM, TRON, BTC]
        contract:
          type: [string, 'null']
          description: The token contract; null for the chain's native coin.
        confirmations:
          type: integer
        eta_minutes:
          type: integer
          description: Usual minutes from the transfer to the credit; 0 when unknown.
        min_deposit:
          type: string
        min_withdraw:
          type: string
        withdraw_fee:
          type: string
        memo_required:
          type: boolean
        deposit_enabled:
          type: boolean
        withdraw_enabled:
          type: boolean
          description: The network takes withdrawals now; false while the asset's withdrawals are suspended.
        withdraw_suspended:
          type: boolean
          description: >-
            The asset's withdrawals are suspended while the platform checks its funds (requests fail with
            WALLET_WITHDRAW_SUSPENDED); deposits go on.
        explorer_tx_url:
          type: [string, 'null']
          description: Explorer link of a transaction with a {tx} placeholder.
        explorer_address_url:
          type: [string, 'null']
          description: Explorer link of an address with an {address} placeholder.
    DepositAddress:
      type: object
      required: [asset, network, address, contract, min_deposit, confirmations]
      properties:
        asset:
          type: string
        network:
          type: string
        address:
          type: string
          description: EIP-55 checksummed.
          examples: ['0x5aAeb6053F3E94C9b9A09f33669435E7Ef1BeAed']
        contract:
          type: [string, 'null']
          description: The token contract; null for the chain's coin.
        min_deposit:
          $ref: './market.yaml#/components/schemas/Decimal'
        confirmations:
          type: integer
          description: Confirmations before the deposit is credited.
    Deposit:
      type: object
      required: [id, kind, asset, network, address, contract, tx_hash, log_index, block_number, amount, raw_amount, confirmations,
        required_confirmations, status, unclaimed, reason, detected_at, confirmed_at, credited_at]
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          enum: [CHAIN, INTERNAL]
          description: INTERNAL for another user's withdrawal to this address, completed in the ledger (tx_hash is then internal:<withdrawal id>).
        asset:
          type: [string, 'null']
          description: Null for a token the platform does not list.
        network:
          type: string
        address:
          type: string
        contract:
          type: [string, 'null']
        tx_hash:
          type: string
        log_index:
          type: integer
          description: The token transfer's log index; -1 for the chain's coin.
        block_number:
          type: integer
          format: int64
        amount:
          $ref: './market.yaml#/components/schemas/Decimal'
        raw_amount:
          type: string
          description: The transferred integer in the chain's smallest unit.
        confirmations:
          type: integer
        required_confirmations:
          type: integer
        status:
          type: string
          enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
          description: |
            ORPHANED: a chain reorganization dropped the transaction before
            it was credited. REJECTED: not credited to the account (reason
            says why).
        unclaimed:
          type: boolean
          description: Held in UNCLAIMED_DEPOSIT instead of the account.
        reason:
          type: [string, 'null']
          enum: [BELOW_MINIMUM, ACCOUNT_CLOSED, NOT_ELIGIBLE, UNSUPPORTED_TOKEN, UNKNOWN_ADDRESS, null]
          description: |
            UNKNOWN_ADDRESS: sent to an address no account held (a retired
            one, say); an administrator credited it to this account after
            finding it is theirs.
        detected_at:
          type: string
          format: date-time
        confirmed_at:
          type: [string, 'null']
          format: date-time
        credited_at:
          type: [string, 'null']
          format: date-time
    WithdrawAddress:
      type: object
      required: [id, network, address, label, created_at, usable_at]
      properties:
        id:
          type: string
          format: uuid
        network:
          type: string
        address:
          type: string
          description: EIP-55 checksummed on EVM networks, as the network writes it elsewhere.
        label:
          type: string
        created_at:
          type: string
          format: date-time
        usable_at:
          type: string
          format: date-time
          description: The end of the cooling-off period.
    Withdrawal:
      type: object
      required: [id, asset, network, address, amount, fee, internal, custody, status, risk_reasons, approvals_required, reject_reason,
        tx_hash, confirmations, required_confirmations, created_at, approved_at, submitted_at, broadcast_at, confirmed_at]
      properties:
        id:
          type: string
          format: uuid
        asset:
          type: string
        network:
          type: string
        address:
          type: string
        amount:
          $ref: './market.yaml#/components/schemas/Decimal'
        fee:
          $ref: './market.yaml#/components/schemas/Decimal'
        internal:
          type: boolean
          description: The address is another user's deposit address; the withdrawal completes inside the ledger.
        custody:
          type: boolean
          description: The custodian sends it (SUBMITTED until it reports); otherwise the platform signs and broadcasts it.
        status:
          type: string
          enum: [REQUESTED, PENDING_REVIEW, APPROVED, SIGNING, BROADCAST, CONFIRMING, SUBMITTED, CONFIRMED, INTERNAL_TRANSFER, REJECTED,
            CANCELED, FAILED]
        risk_reasons:
          type: array
          items:
            type: string
            enum: [NEW_ACCOUNT, NEW_DEVICE, SECURITY_CHANGE, NEW_ADDRESS, LARGE_AMOUNT, DAILY_SHARE]
        approvals_required:
          type: integer
        reject_reason:
          type: [string, 'null']
        tx_hash:
          type: [string, 'null']
        confirmations:
          type: integer
        required_confirmations:
          type: integer
        created_at:
          type: string
          format: date-time
        approved_at:
          type: [string, 'null']
          format: date-time
        submitted_at:
          type: [string, 'null']
          format: date-time
          description: When it was handed to the custodian.
        broadcast_at:
          type: [string, 'null']
          format: date-time
        confirmed_at:
          type: [string, 'null']
          format: date-time
    CustodyEnvelope:
      type: object
      required: [timestamp, nonce, sign, body]
      properties:
        timestamp:
          type: string
          description: Unix time in seconds or milliseconds (a number in JSON).
        nonce:
          type: string
          description: The custodian's random number (a number in JSON).
        sign:
          type: string
          description: md5(body + key + nonce + timestamp), lower-case hex.
        body:
          type: string
          description: |
            The trade as JSON: address, amount and fee (integers in units of
            10^-decimals), decimals, mainCoinType, coinType, businessId,
            blockHigh, status, tradeId, tradeType, txId, memo.
