openapi: 3.1.0
info:
  title: Exchange admin console API
  version: 0.1.0
  description: |
    The admin console's API (requirements §5.12), served by admin-service
    under /admin/v1 behind nginx; the user gateway never routes here, and
    this contract stays out of the public API reference.

    Administrators are created with `exchangectl admin create` (no
    sign-up). Signing in takes the password and a code of the
    authenticator app bound at creation; each code works once, and five
    failures lock the account for 15 minutes. The feature flag
    admin.login_without_totp switches the code off (test environments):
    the password alone signs in, and GET /admin/v1/login-options tells the
    sign-in page not to ask for it. The session is an HttpOnly,
    Secure, SameSite=Strict cookie `admin_session` scoped to /admin/; it
    ends after 8 hours, or after an hour without a request. Every request
    other than GET must carry the header `X-Admin-CSRF: 1`.

    Roles grant permissions: ADMIN (everything, and alone the console's
    settings), OPERATOR (accounts, orders, trading pairs and contracts,
    lifting a contract's reduce-only, feature flags other than the
    console's own), FINANCE (withdrawal reviews, ledger adjustments,
    insurance fund contributions), AUDITOR (read-only). Everyone may read,
    including the reports from the ClickHouse read models. A call
    outside the role fails with ADMIN_FORBIDDEN. Every change is audited
    (audit.events → ClickHouse audit_logs) with the administrator's email
    as the actor; changes also carry a reason of at least 3 characters.

    Fund operations (manual ledger adjustments and insurance fund
    contributions) are approved by a second administrator while the flag
    admin.two_person_approval is on. Off (single-person mode, the test
    server), an administrator carries one out alone when asked to
    (`direct`, and always from a user's page) if it is worth at most the
    single-operation limit and keeps their operations of the last 24 hours
    within the daily limit (GET /admin/v1/settings; 100,000 and 500,000
    USDT by default); anything larger, or of unknown worth, still waits
    for a second administrator. The ledger books each operation once with
    the idempotency key approval:<id>.

    Lists page with an opaque cursor: an answer's `next_cursor` (null on
    the last page) is passed back as `cursor` for the next; `limit` is
    1 to 200 (50 by default) unless an endpoint says otherwise. Orders,
    trades, deposits and the overview come from the ClickHouse read
    models, a few seconds behind the services.
servers:
  - url: https://admin.astras.vip
security:
  - session: []
tags:
  - name: session
  - name: users
  - name: withdrawals
  - name: instruments
  - name: flags
  - name: ledger
  - name: audit
  - name: reports
  - name: derivatives
  - name: custody
paths:
  /admin/v1/login-options:
    get:
      operationId: loginOptions
      summary: What signing in asks for
      description: |
        Whether the sign-in page asks for the authenticator code: true
        unless the feature flag admin.login_without_totp is on. Needs no
        session.
      tags: [session]
      security: []
      responses:
        '200':
          description: The sign-in options.
          content:
            application/json:
              schema:
                type: object
                required: [totp_required]
                properties:
                  totp_required:
                    type: boolean
  /admin/v1/login:
    post:
      operationId: login
      summary: Sign in with password and authenticator code
      description: |
        Sets the session cookie. Fails with ADMIN_LOGIN_FAILED for a wrong
        email, password or code (or a code used before), ADMIN_LOCKED
        after five failures in a row (15 minutes), and COMMON_RATE_LIMITED
        beyond 10 attempts a minute from one IP. The code may be left out
        while the flag admin.login_without_totp is on; it is then not
        checked.
      tags: [session]
      security:
        - csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                totp_code:
                  type: string
                  pattern: '^[0-9]{6}$'
                  description: Required unless GET /admin/v1/login-options says otherwise.
      responses:
        '200':
          description: Signed in.
          headers:
            Set-Cookie:
              schema:
                type: string
              description: admin_session=...; Path=/admin/; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                type: object
                required: [admin, expires_at]
                properties:
                  admin:
                    $ref: '#/components/schemas/Admin'
                  expires_at:
                    type: string
                    format: date-time
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/logout:
    post:
      operationId: logout
      summary: End the session
      tags: [session]
      security:
        - session: []
          csrf: []
      responses:
        '204':
          description: Signed out; the cookie is cleared.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me:
    get:
      operationId: me
      summary: The signed-in administrator and their permissions
      tags: [session]
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/settings:
    get:
      operationId: getSettings
      summary: The console's settings
      description: |
        Whether fund operations need a second administrator (the flag
        admin.two_person_approval) and the single-person limits, with the
        caller's single-person total of the last 24 hours. Every
        administrator may read them.
      tags: [session]
      responses:
        '200':
          description: The settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateSettings
      summary: Change the console's settings
      description: |
        Changes the fields given: the limits (audited as
        admin.settings.changed) and two-person approval (switches the flag
        admin.two_person_approval, audited by the flags; the other
        instances follow within 5 seconds). The daily limit must cover the
        single-operation one. Needs settings.write (ADMIN).
      tags: [session]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                two_person_approval:
                  type: boolean
                single_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                daily_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                withdrawal_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The settings after the change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/todo:
    get:
      operationId: getTodo
      summary: What waits for the administrator
      description: |
        The counts behind the console's badges, as far as the role shows
        them (zero otherwise): withdrawals in review (counted up to 200)
        and fund operations waiting for a decision. A count that cannot be
        read is zero and named in `partial`.
      tags: [session]
      responses:
        '200':
          description: The counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/events:
    get:
      operationId: streamEvents
      summary: The counts as they change (Server-Sent Events)
      description: |
        An event stream: `todo` with the counts of GET /admin/v1/todo at
        once and whenever they change (checked every 10 seconds),
        `signed_out` when the session ends, and a comment after 20 seconds
        without an event. The stream does not keep the session alive; the
        browser reconnects after 5 seconds when it drops.
      tags: [session]
      responses:
        '200':
          description: The stream.
          content:
            text/event-stream:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users:
    get:
      operationId: listUsers
      summary: Accounts, newest first
      description: Needs users.read. Contact data stays in auth-service; find an account by email or phone with users/lookup.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        - name: region
          in: query
          description: ISO 3166-1 alpha-2.
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of accounts.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSummary'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/orders:
    get:
      operationId: listOrders
      summary: Spot orders in their latest state, newest first
      description: From the read model orders_current. Needs reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: order_id
          in: query
          description: One order (the console's search).
          schema:
            type: string
            format: uuid
        - name: symbol
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [NEW, OPEN, PARTIALLY_FILLED, FILLED, CANCELED, REJECTED]
        - name: side
          in: query
          schema:
            type: string
            enum: [BUY, SELL]
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of orders.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/trades:
    get:
      operationId: listTrades
      summary: Spot trades, newest first
      description: From the read model trades; user_id matches either side. Needs reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: symbol
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of trades.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trade'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits:
    get:
      operationId: listDeposits
      summary: Deposits in their latest state, newest first
      description: From the read model wallet_deposits. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - name: tx_hash
          in: query
          description: The deposits of one transaction, any letter case (the console's search).
          schema:
            type: string
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/review:
    get:
      operationId: listReviewDeposits
      summary: wallet-service's deposits, for decisions
      description: |
        Newest first, straight from wallet-service (not the read model):
        attention=true lists the deposits waiting for a decision (booked
        to UNCLAIMED_DEPOSIT, or a backfill the custodian's callback
        disagreed with), manual_pending=true the backfilled ones without
        a callback yet. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - name: network
          in: query
          schema:
            type: string
        - name: attention
          in: query
          schema:
            type: string
            enum: ['true']
        - name: manual_pending
          in: query
          schema:
            type: string
            enum: ['true']
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewDeposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/manual/check:
    post:
      operationId: checkDepositBackfill
      summary: Check a backfill of a lost custodian callback without booking it
      description: |
        The checks of POST /admin/v1/deposits/manual (the network is a
        custodian's, the address is a user's on it, neither the trade nor
        the transfer is known, the amount fits the asset's precision) and
        what it would book. Not audited. Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillRequest'
      responses:
        '200':
          description: What the backfill would book.
          content:
            application/json:
              schema:
                type: object
                required: [user_id, asset, unclaimed, value_usdt]
                properties:
                  user_id:
                    type: string
                    format: uuid
                  asset:
                    type: string
                  unclaimed:
                    type: boolean
                    description: Below the network's minimum, so booked to UNCLAIMED_DEPOSIT instead of the user.
                  value_usdt:
                    description: The amount's worth; null without a price (a second administrator then decides).
                    $ref: '#/components/schemas/NullableDecimal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/manual:
    post:
      operationId: backfillDeposit
      summary: Backfill a custodian deposit whose callback was lost
      description: |
        For a deposit the administrator found in the custodian's console
        (this console cannot ask the custodian, so nothing here checks it
        there). After the checks of POST /admin/v1/deposits/manual/check
        it is a fund operation (kind DEPOSIT_BACKFILL): in single-person
        mode within the limits it is booked at once (EXECUTED), otherwise
        it waits for a second administrator (PENDING). Booked like a
        callback (credited, or to UNCLAIMED_DEPOSIT below the minimum)
        with source MANUAL; the custodian's own callback, when it comes,
        is matched against it, never booked again. Audited. Needs
        deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BackfillRequest'
                - type: object
                  required: [reason]
                  properties:
                    reason:
                      type: string
                      minLength: 10
      responses:
        '201':
          description: The fund operation, executed or waiting for a second administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}:
    get:
      operationId: getReviewDeposit
      summary: One of wallet-service's deposits
      description: Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/credit:
    post:
      operationId: creditDeposit
      summary: Give an unclaimed deposit to its user
      description: |
        Only a deposit booked to UNCLAIMED_DEPOSIT (below the minimum, the
        account closed or not eligible) and only its own asset and amount:
        the ledger moves it to the user's spot account (DEPOSIT_CREDIT,
        audited as ledger.unclaimed_released). An unsupported token has no
        asset and can only be rejected (WALLET_DEPOSIT_NOT_RELEASABLE).
        Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The deposit, CREDITED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/reject:
    post:
      operationId: rejectDeposit
      summary: Close a deposit waiting for a decision without moving funds
      description: |
        Marks it handled with the reason (resolution DISMISSED): an
        unclaimed deposit stays in UNCLAIMED_DEPOSIT, a disagreeing
        callback stays unbooked. Audited by the wallet
        (wallet.deposit.dismissed). Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/dashboard:
    get:
      operationId: getDashboard
      summary: The overview
      description: |
        Accounts (user-service), the last 24 hours' trading and what waits
        in the wallet (read models), the reference feed (market-data-service)
        and a daily series. A part that cannot be read is left empty and
        named in `partial`. Needs reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/lookup:
    get:
      operationId: lookupUser
      summary: Find an account by user ID, email address or phone number
      description: Phone numbers in E.164 with the leading "+". Needs users.read.
      tags: [users]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            examples: [alice@example.com]
      responses:
        '200':
          description: The account and its balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/status:
    post:
      operationId: changeUserStatus
      summary: Move an account to another status (freeze, unfreeze, review, close)
      description: |
        user-service applies its state machine (appendix B) and records the
        change with the administrator as the actor. Needs users.status.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
                reason:
                  type: string
                  description: Reason code of user-service, e.g. SUSPICIOUS_LOGIN, USER_REQUEST.
                note:
                  type: string
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}:
    get:
      operationId: getUser
      summary: An account with the console's tags on it
      description: Needs users.read. Unknown accounts fail with COMMON_NOT_FOUND.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummary'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/notes:
    get:
      operationId: listUserNotes
      summary: Administrators' notes on an account, newest first
      description: Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of notes.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: addUserNote
      summary: Write a note on an account
      description: Notes are never edited or removed; each is audited (admin.users.note_added). Needs users.notes.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 2000
      responses:
        '201':
          description: The note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/tags:
    put:
      operationId: setUserTags
      summary: Replace an account's tags
      description: |
        Tags are upper case codes (letters, digits, _; up to 32, at most
        10), e.g. VIP, SUSPICIOUS, TEST; the console's own, user-service
        never sees them. A change is audited with the tags before and after
        (admin.users.tags_changed). Needs users.notes.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tags]
              properties:
                tags:
                  type: array
                  maxItems: 10
                  items:
                    type: string
      responses:
        '200':
          description: The tags as stored (upper case, sorted).
          content:
            application/json:
              schema:
                type: object
                required: [tags]
                properties:
                  tags:
                    type: array
                    items:
                      type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/adjustments:
    post:
      operationId: adjustUserBalance
      summary: Credit or debit a user's balance
      description: |
        A manual adjustment (MANUAL_ADJUSTMENT against the ADJUSTMENT system
        account) of the user's SPOT or FUTURES account: booked at once in
        single-person mode within the limits (EXECUTED with its journal, or
        FAILED with the ledger's refusal such as
        LEDGER_ADJUSTMENT_DISABLED), otherwise PENDING for a second
        administrator with the reason in `escalation`. When the ledger does
        not answer the call fails with COMMON_UNAVAILABLE and the detail
        `approval_id` names the operation, left PENDING for its requester
        to finish (decide). Needs ledger.adjust.request.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                account_type:
                  type: string
                  enum: [SPOT, FUTURES]
                  default: SPOT
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  description: Positive credits, negative debits.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
                reference:
                  type: string
                  maxLength: 64
                  description: A ticket or order number kept with it (in the journal's memo).
      responses:
        '201':
          description: The operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/cancel-orders:
    post:
      operationId: cancelUserOrders
      summary: Cancel every open order of an account
      description: Needs orders.cancel. The cancellations complete asynchronously in the matching engine.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancellations requested.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/security:
    get:
      operationId: getUserSecurity
      summary: An account's sign-in security
      description: |
        Identities (masked: a***@x.com, +65912****4567), authenticator,
        password, lock, live sessions and devices (addresses masked), and
        the rebind requests waiting (auth-service). Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The account's security.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contacts/reveal:
    post:
      operationId: revealUserContacts
      summary: An account's email and phone, unmasked
      description: |
        Each call is audited (admin.users.contacts_revealed, naming the
        kinds shown, not the values); the answer is not cached. Needs
        users.contacts.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The identities.
          content:
            application/json:
              schema:
                type: object
                required: [identities]
                properties:
                  identities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Identity'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/login-history:
    get:
      operationId: listUserLogins
      summary: An account's sign-in attempts, newest first
      description: Addresses are masked. Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of sign-ins.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LoginEntry'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/sessions/revoke:
    post:
      operationId: revokeUserSessions
      summary: End one of an account's sessions, or all of them
      description: |
        The sessions end with reason ADMIN (auth-service); audited as
        admin.users.sessions_revoked. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                session_id:
                  type: string
                  format: uuid
                  description: Omitted for every live session.
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: How many sessions ended.
          content:
            application/json:
              schema:
                type: object
                required: [revoked]
                properties:
                  revoked:
                    type: integer
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/totp-reset:
    post:
      operationId: resetUserTotp
      summary: Remove an account's authenticator app
      description: |
        The user is told by mail and can bind a new one; audited as
        admin.users.totp_reset. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: Whether there was one to remove.
          content:
            application/json:
              schema:
                type: object
                required: [removed]
                properties:
                  removed:
                    type: boolean
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/password-reset:
    post:
      operationId: resetUserPassword
      summary: Give an account a temporary password
      description: |
        A random password (four groups of four letters and digits) replaces
        the user's; every session ends, the password lock is cleared and
        the user is told by mail as for a reset (withdrawals are reviewed
        for a day). The password is in this answer only: pass it on and
        ask the user to change it. Audited as admin.users.password_reset,
        without the password. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The temporary password (not cached).
          content:
            application/json:
              schema:
                type: object
                required: [temporary_password, sessions_revoked]
                properties:
                  temporary_password:
                    type: string
                  sessions_revoked:
                    type: integer
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/history:
    get:
      operationId: getUserHistory
      summary: An account's status changes and accepted documents
      description: Status changes newest first, at most 50 (user-service). Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The history.
          content:
            application/json:
              schema:
                type: object
                required: [status_changes, consents]
                properties:
                  status_changes:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatusChange'
                  consents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consent'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/risk:
    get:
      operationId: getUserRisk
      summary: The risk rules' assessments of an account, newest first
      description: |
        Only assessments with a rule hit are kept (risk-service). Moving the
        account to RISK_REVIEW and back is POST /admin/v1/users/{id}/status.
        Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The assessments.
          content:
            application/json:
              schema:
                type: object
                required: [assessments]
                properties:
                  assessments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assessment'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/identity-requests:
    get:
      operationId: listIdentityRequests
      summary: Identity rebind requests, newest first
      description: |
        A user with a single identity asks to move it to a new value and an
        administrator decides (auth-service). Values are masked. Needs
        users.read.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_REVIEW, APPROVED, REJECTED]
        - $ref: '#/components/parameters/UserFilter'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of requests.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdentityRequest'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/identity-requests/{id}/decide:
    post:
      operationId: decideIdentityRequest
      summary: Approve or reject an identity rebind request
      description: |
        Approving moves the identity to the new value and tells the user;
        a value another account holds fails with AUTH_IDENTITY_TAKEN. Audited as
        admin.users.identity_request_decided. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The decided request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityRequest'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/balances:
    get:
      operationId: getUserBalances
      summary: An account's balances, valued in USDT
      description: |
        Every SPOT and FUTURES balance with its total (available + frozen)
        valued at its USDT pair's last price, SPOT first and the larger
        worth first; assets without a USDT price are listed in `unpriced`
        and left out of the total. Needs users.read.
      tags: [users, ledger]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The balances.
          content:
            application/json:
              schema:
                type: object
                required: [balances, total_usdt, unpriced]
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/ValuedBalance'
                  total_usdt:
                    $ref: '#/components/schemas/Decimal'
                  unpriced:
                    type: array
                    items:
                      type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/holds:
    get:
      operationId: listUserHolds
      summary: Holds on an account's SPOT balance, newest first
      description: Active and released. Needs users.read.
      tags: [users, ledger]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The holds.
          content:
            application/json:
              schema:
                type: object
                required: [holds]
                properties:
                  holds:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: placeUserHold
      summary: Freeze part of an account's SPOT balance
      description: |
        The ledger moves the amount from available to frozen (ADMIN_FREEZE)
        and audits it as ledger.hold_placed; more than the available
        balance fails with LEDGER_INSUFFICIENT_BALANCE. The user sees the
        amount frozen until it is released. Needs ledger.hold.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  description: Positive.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/holds/{hold}:
    delete:
      operationId: releaseUserHold
      summary: Release a hold
      description: |
        The ledger returns the amount to the available balance
        (ADMIN_UNFREEZE) and audits it as ledger.hold_released; a hold is
        released once (LEDGER_HOLD_RELEASED). Needs ledger.hold.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - name: hold
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The released hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/orders/{order}/cancel:
    post:
      operationId: cancelUserOrder
      summary: Cancel one of an account's spot orders
      description: |
        The cancel completes asynchronously in the matching engine; the
        answer is the order as spot-trading-service has it. Audited as
        admin.orders.canceled. Needs orders.cancel.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/OrderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancel requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contract-orders:
    get:
      operationId: listUserContractOrders
      summary: An account's active contract orders
      description: As derivatives-service renders them, at most 100. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The orders.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractOrder'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contract-orders/{order}/cancel:
    post:
      operationId: cancelUserContractOrder
      summary: Cancel one of an account's contract orders
      description: Completes asynchronously in the engine. Audited as admin.derivatives.order_canceled. Needs orders.cancel.
      tags: [users, derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/OrderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancel requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/positions:
    get:
      operationId: listUserPositions
      summary: An account's open contract positions
      description: As derivatives-service renders them, with the liquidation estimate. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The positions.
          content:
            application/json:
              schema:
                type: object
                required: [positions]
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPosition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/positions/close:
    post:
      operationId: closeUserPosition
      summary: Close a position at the market (force close)
      description: |
        The closing orders resting on the position are canceled first;
        once the engine confirmed (the console waits a few seconds, then
        fails with DERIV_CLOSE_PENDING to try again), a market order of
        kind ADMIN takes the whole position: reduce-only in one-way mode,
        against its side in hedge mode. A position under liquidation is
        left to the liquidation engine (DERIV_POSITION_LIQUIDATING). The
        answer is the order. Audited as admin.derivatives.position_closed.
        Needs derivatives.write.
      tags: [users, derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, position_side, reason]
              properties:
                symbol:
                  type: string
                  examples: [BTC-USDT-PERP]
                position_side:
                  type: string
                  enum: [BOTH, LONG, SHORT]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The closing order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals:
    get:
      operationId: listWithdrawals
      summary: Withdrawals, the review queue by default
      description: |
        From wallet-service. The review queue (PENDING_REVIEW) lists oldest
        first, every other status newest first, unless order says otherwise.
        Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: status
          in: query
          description: A withdrawal status (appendix B), e.g. APPROVED, SUBMITTED, BROADCAST, CONFIRMED, REJECTED, FAILED; ALL for every status.
          schema:
            type: string
            default: PENDING_REVIEW
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          description: One network, e.g. TRON or ETH-SEPOLIA; every network when empty.
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: held
          in: query
          description: true for the withdrawals on hold, false for the others.
          schema:
            type: string
            enum: ['true', 'false']
        - name: min_value_usdt
          in: query
          schema:
            $ref: '#/components/schemas/Decimal'
        - name: max_value_usdt
          in: query
          schema:
            $ref: '#/components/schemas/Decimal'
        - name: min_risk
          in: query
          description: The lowest risk score listed.
          schema:
            type: integer
            minimum: 0
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of withdrawals.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Withdrawal'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/review:
    post:
      operationId: reviewWithdrawal
      summary: Approve or reject a withdrawal in review
      description: |
        The administrator's email is the reviewer; a withdrawal above
        20,000 USDT needs two distinct reviewers. Rejecting releases the
        frozen amount. Needs withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The withdrawal after the review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/review-batch:
    post:
      operationId: reviewWithdrawalBatch
      summary: Approve or reject several withdrawals with one reason
      description: |
        Each withdrawal is reviewed on its own as by POST
        /admin/v1/withdrawals/{id}/review (and audited by the wallet); one
        that fails (already decided, unknown) leaves the others decided and
        says why. At most 50 at a time. Needs withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, approve, reason]
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: string
                    format: uuid
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: What came of each.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required: [id, ok]
                      properties:
                        id:
                          type: string
                        ok:
                          type: boolean
                        status:
                          type: string
                          description: The withdrawal's status after the review.
                        code:
                          type: string
                          description: The error code of a failed one.
                        message:
                          type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}:
    get:
      operationId: getWithdrawal
      summary: A withdrawal with what its review needs
      description: |
        From wallet-service: the withdrawal, its address in the user's
        address book (when it was added, when its cooling-off ended) and
        the user's withdrawals' worth today and this month. Needs
        withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalDetail'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/hold:
    post:
      operationId: holdWithdrawal
      summary: Put a withdrawal in review on hold, or take it off hold
      description: |
        A held withdrawal stays in review with the reviewer's note (say,
        while the user is called) until it is taken off hold or decided;
        deciding it takes it off hold. Only a withdrawal in review
        (WALLET_WITHDRAWAL_NOT_IN_REVIEW otherwise). Audited by the wallet
        (wallet.withdrawal.hold, wallet.withdrawal.unhold). Needs
        withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hold]
              properties:
                hold:
                  type: boolean
                note:
                  type: string
                  minLength: 3
                  description: Required to put it on hold.
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments:
    get:
      operationId: listInstruments
      summary: Assets (with networks), trading pairs and perpetual contracts
      description: |
        As instrument-service returns them (protobuf JSON with field names;
        int64 as strings). Assets and networks change through the
        versioned reference-data file (exchangectl instruments apply, run
        by every deploy). Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The reference data.
          content:
            application/json:
              schema:
                type: object
                required: [assets, pairs, contracts]
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pair'
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/pairs/{symbol}/status:
    post:
      operationId: setPairStatus
      summary: Move a trading pair to another status (the per-pair emergency switch)
      description: |
        PREPARE → TRADING ⇄ HALT; TRADING or HALT → CANCEL_ONLY →
        DELISTED (CANCEL_ONLY is the way out: it cannot return to
        trading). Fails with INSTRUMENT_STATUS_TRANSITION_INVALID
        otherwise. Needs instruments.write.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
            examples: [BTC-USDT]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/flags:
    get:
      operationId: listFlags
      summary: Feature flags (requirements §5.14)
      description: Every flag the platform knows; one never set is off, with version 0. Needs flags.read.
      tags: [flags]
      responses:
        '200':
          description: The flags.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flag'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/flags/{key}:
    put:
      operationId: switchFlag
      summary: Turn a flag on or off
      description: |
        Keeps the flag's rules (regions, statuses, allow lists); services
        pick the change up within 5 seconds. Fails with COMMON_NOT_FOUND
        for a key the platform does not define. Needs flags.write.
      tags: [flags]
      security:
        - session: []
          csrf: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
            examples: [wallet.withdraw]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled, reason]
              properties:
                enabled:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The flag after the change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flag'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/ledger/adjustments:
    post:
      operationId: requestAdjustment
      summary: Request a manual adjustment of a user's balance
      description: |
        Creates a PENDING request for another administrator with
        ledger.adjust.approve (escalation REQUESTED), unless `direct` asks
        to carry it out at once, which works as POST
        /admin/v1/users/{id}/adjustments. A positive amount credits the
        user's SPOT (or FUTURES) account against the ADJUSTMENT system
        account, a negative one debits it. Needs ledger.adjust.request.
      tags: [ledger]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, asset, amount, reason]
              properties:
                user_id:
                  type: string
                  format: uuid
                account_type:
                  type: string
                  enum: [SPOT, FUTURES]
                  default: SPOT
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
                reference:
                  type: string
                  maxLength: 64
                direct:
                  type: boolean
                  default: false
                  description: Carry it out at once when single-person mode and its limits allow.
      responses:
        '201':
          description: The request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/approvals:
    get:
      operationId: listApprovals
      summary: Fund operations, newest first
      description: Two-person requests and single-person operations. Needs ledger.adjust.request or audit.read.
      tags: [ledger]
      parameters:
        - name: status
          in: query
          description: Empty for all.
          schema:
            type: string
            enum: [PENDING, EXECUTED, REJECTED, FAILED]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of requests.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/approvals/{id}/decide:
    post:
      operationId: decideApproval
      summary: Approve (and book) or reject a pending fund operation
      description: |
        Approving one's own request fails with ADMIN_SELF_APPROVAL, except
        a single-person operation whose outcome was unknown (its requester
        finishes it); rejecting one's own request withdraws it. A decided
        one fails with ADMIN_APPROVAL_DECIDED. Approving books the
        operation with the idempotency key approval:<id>: EXECUTED with
        the journal, or FAILED when the ledger refuses (for instance
        LEDGER_ADJUSTMENT_DISABLED while the flag ledger.manual_adjustment
        is off). When the ledger cannot be reached the request stays
        PENDING and can be approved again. Needs ledger.adjust.approve.
      tags: [ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The decided request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/audit-logs:
    get:
      operationId: searchAuditLogs
      summary: The audit trail, newest first
      description: |
        From ClickHouse audit_logs, which lags the change by a few seconds.
        Needs audit.read.
      tags: [audit]
      parameters:
        - name: actor
          in: query
          description: Exact actor, e.g. an administrator's email or cli:ubuntu.
          schema:
            type: string
        - name: target
          in: query
          description: Exact target, e.g. user:<id>, pair:BTC-USDT, flag:wallet.withdraw.
          schema:
            type: string
        - name: event_type
          in: query
          description: Exact event type, e.g. exchange.audit.v1.AdminAction.
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: A page of entries.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/trading:
    get:
      operationId: tradingReport
      summary: Trades and orders per symbol and day (UTC), newest first
      description: |
        From the ClickHouse read models (trades, order_updates), which lag
        the services by a few seconds. Needs reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The days.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingDay'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/wallet:
    get:
      operationId: walletReport
      summary: Credited deposits and confirmed withdrawals per asset and day (UTC)
      description: |
        Deposits booked to users (not the unclaimed ones) by the day they
        were credited; withdrawals by the day they were confirmed. Needs
        reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The days.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletDay'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/candles:
    get:
      operationId: candleReport
      summary: Candles of a symbol from the trades read model, newest first
      description: Intervals are aligned to the epoch in UTC. Needs reports.read.
      tags: [reports]
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            examples: [BTC-USDT]
        - name: interval
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d]
            default: 1h
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 48
      responses:
        '200':
          description: The candles.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/derivatives:
    get:
      operationId: derivativesReport
      summary: Each perpetual contract's trading, funding and liquidations per day (UTC)
      description: |
        From the ClickHouse contract read models (derivatives_fills,
        derivatives_funding, derivatives_liquidations): settled fills and
        their fees and results, the funding the positions paid and
        received at the day's settlements, the positions taken over, the
        auto-deleveraged counterparties and what the insurance fund paid.
        Needs reports.read.
      tags: [reports, derivatives]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The days.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DerivativesDay'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/open-interest:
    get:
      operationId: openInterestReport
      summary: Each contract's open positions from the positions read model
      description: |
        The latest position snapshots (derivatives_positions); a few
        seconds behind derivatives-service. Needs reports.read.
      tags: [reports, derivatives]
      responses:
        '200':
          description: The contracts with open positions.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OpenInterest'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/contracts:
    get:
      operationId: listContractStates
      summary: Each perpetual contract's status, reduce-only state, mark price and open interest
      description: |
        Live from derivatives-service. A contract goes reduce-only by
        itself when its index or mark price fails (requirements §11.7:
        risk.events SystemDegraded); only a person lifts it. Needs
        derivatives.read.
      tags: [derivatives]
      responses:
        '200':
          description: The contracts.
          content:
            application/json:
              schema:
                type: object
                required: [contracts]
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractState'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/contracts/{symbol}/status:
    post:
      operationId: setContractStatus
      summary: Move a perpetual contract to another status
      description: |
        The same transitions as trading pairs (PREPARE → TRADING ⇄ HALT;
        TRADING or HALT → CANCEL_ONLY → DELISTED); instrument-service
        records the change. Needs instruments.write.
      tags: [derivatives, instruments]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/Contract'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/contracts/{symbol}/lift-reduce-only:
    post:
      operationId: liftReduceOnly
      summary: End a contract's reduce-only once its prices are sound again
      description: |
        lifted is false when the contract was not reduce-only. Check the
        mark price first: a contract whose mark is still stale degrades
        again within seconds. Needs derivatives.write.
      tags: [derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/Contract'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The outcome.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, lifted]
                properties:
                  symbol:
                    type: string
                  lifted:
                    type: boolean
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/risk:
    get:
      operationId: listRiskPositions
      summary: Positions warned, taken over by the liquidation engine or close to it
      description: |
        Live from derivatives-service: positions taken over, warned
        (margin balance at most 1.2 × maintenance margin) or with a margin
        ratio of at least 0.5, riskiest first. Cross positions are
        measured on their own here. Needs derivatives.read.
      tags: [derivatives]
      responses:
        '200':
          description: The positions.
          content:
            application/json:
              schema:
                type: object
                required: [positions]
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiskPosition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/liquidations:
    get:
      operationId: listLiquidations
      summary: Liquidation steps, newest first
      description: From the ClickHouse read model derivatives_liquidations. Needs derivatives.read.
      tags: [derivatives]
      parameters:
        - $ref: '#/components/parameters/Days'
        - name: kind
          in: query
          description: Empty for all.
          schema:
            type: string
            enum: [WARNING, STARTED, FILLED, ADL]
        - name: symbol
          in: query
          description: One contract (BTC-USDT-PERP).
          schema:
            type: string
        - $ref: '#/components/parameters/UserFilter'
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: A page of steps.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiquidationStep'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/positions:
    get:
      operationId: listPositions
      summary: Every user's open contract positions, riskiest first
      description: |
        From derivatives-service, valued at the mark price: highest margin
        ratio (maintenance margin / margin balance) first, then the
        largest. Cross positions are measured on their own; their
        liquidation price is on the user's page. At most `limit` (500)
        positions; `truncated` says there are more. Needs derivatives.read.
      tags: [derivatives]
      parameters:
        - name: symbol
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/UserFilter'
        - name: watch
          in: query
          description: true for the positions under watch only (warned, taken over, margin ratio ≥ 0.5).
          schema:
            type: string
            enum: ['true']
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 500
      responses:
        '200':
          description: The positions.
          content:
            application/json:
              schema:
                type: object
                required: [positions, truncated, house_user_id]
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiskPosition'
                  truncated:
                    type: boolean
                  house_user_id:
                    type: [string, 'null']
                    description: HOUSE's account on the contracts (its positions are the counterparty of users').
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/insurance-fund:
    get:
      operationId: getInsuranceFund
      summary: The insurance fund's balance
      description: |
        The ledger's INSURANCE_FUND system account, with PNL_CLEARING (the
        open positions' unsettled results, which may be negative). Needs
        derivatives.read.
      tags: [derivatives]
      parameters:
        - name: asset
          in: query
          schema:
            type: string
            default: USDT
      responses:
        '200':
          description: The balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceFund'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/insurance-fund/contributions:
    post:
      operationId: requestInsuranceFunding
      summary: Contribute simulated funds to the insurance fund
      description: |
        Creates a PENDING INSURANCE_FUND request for another administrator
        with ledger.adjust.approve, or with `direct` carries it out at once
        when single-person mode and its limits allow (as POST
        /admin/v1/users/{id}/adjustments does for an adjustment); booking
        it (ledger FundInsurance, INSURANCE_CONTRIBUTION from ADJUSTMENT)
        needs the flag ledger.manual_adjustment. Needs
        ledger.adjust.request.
      tags: [derivatives, ledger]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reason]
              properties:
                asset:
                  type: string
                  default: USDT
                amount:
                  description: Positive.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
                reference:
                  type: string
                  maxLength: 64
                direct:
                  type: boolean
                  default: false
      responses:
        '201':
          description: The request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/house:
    get:
      operationId: getHouse
      summary: HOUSE's book (virtual liquidity, ADR-0013 and ADR-0015)
      description: |
        HOUSE's spot inventory (the ledger's MARKET_MAKER accounts) valued
        at the last prices, what it traded per pair (the trades read model)
        and its result at those prices, and its perpetual contract
        positions (the account HOUSE_USER_ID). Internal assets go below
        zero when HOUSE sold them short. A part that cannot be read is left
        empty and named in `partial`. Needs reports.read.
      tags: [reports]
      responses:
        '200':
          description: The book.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/House'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/health:
    get:
      operationId: getHealth
      summary: Every service's readiness
      description: Asks each service's ops endpoint (/readyz) within 2 seconds. Needs reports.read.
      tags: [reports]
      responses:
        '200':
          description: The services.
          content:
            application/json:
              schema:
                type: object
                required: [services]
                properties:
                  services:
                    type: array
                    items:
                      $ref: '#/components/schemas/ServiceHealth'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/ledger/system-balances:
    get:
      operationId: getSystemBalances
      summary: The platform's system accounts
      description: |
        FEE_REVENUE, INSURANCE_FUND, MARKET_MAKER (HOUSE), PNL_CLEARING,
        ADJUSTMENT, DEPOSIT_PENDING and the rest, in one asset or all.
        Needs reports.read.
      tags: [ledger]
      parameters:
        - name: asset
          in: query
          description: One asset; every asset when empty.
          schema:
            type: string
      responses:
        '200':
          description: The accounts by type and asset.
          content:
            application/json:
              schema:
                type: object
                required: [balances]
                properties:
                  balances:
                    type: array
                    items:
                      type: object
                      required: [account_type, asset, available, frozen]
                      properties:
                        account_type:
                          type: string
                        asset:
                          type: string
                        available:
                          $ref: '#/components/schemas/Decimal'
                        frozen:
                          $ref: '#/components/schemas/Decimal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/ledger/reconciliation:
    get:
      operationId: getReconciliation
      summary: The ledger's invariant checks
      description: |
        The latest run of every check of the ledger's reconciliation (hourly,
        requirements §11.4) and the last 50 runs that found mismatches, with
        the first ten mismatches of each. Needs reports.read.
      tags: [ledger]
      responses:
        '200':
          description: The runs.
          content:
            application/json:
              schema:
                type: object
                required: [latest, failures]
                properties:
                  latest:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReconciliationRun'
                  failures:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReconciliationRun'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/custody:
    get:
      operationId: getCustody
      summary: The custody wallet (ADR-0011)
      description: |
        The custodian's coins with their balances as it reports them now,
        matched to the networks that use them; the latest chain check of
        each holder and asset (the custodian and the platform's own
        wallets: held, expected by the ledger, held elsewhere, on its way
        out, unbooked fees, shortfall); the withdrawals with the custodian;
        and how many callbacks need a person. Without a configured
        custodian `configured` is false; an unreachable one leaves `coins`
        empty and says why in `error`. Needs withdrawals.read.
      tags: [custody]
      responses:
        '200':
          description: The custody wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyOverview'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/custody/callbacks:
    get:
      operationId: listCustodyCallbacks
      summary: The custodian's callbacks, newest first
      description: Every callback as received, with its signature check and outcome. Needs withdrawals.read.
      tags: [custody]
      parameters:
        - name: result
          in: query
          description: One outcome; every outcome when empty.
          schema:
            type: string
            enum: [RECEIVED, APPLIED, IGNORED, UNMATCHED, REJECTED, FAILED, DISCREPANCY]
        - name: kind
          in: query
          schema:
            type: string
            enum: [DEPOSIT, WITHDRAWAL]
        - name: q
          in: query
          description: A trade ID, withdrawal ID (businessId), transaction hash or address.
          schema:
            type: string
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of callbacks.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustodyCallback'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/custody/callbacks/{id}:
    get:
      operationId: getCustodyCallback
      summary: One callback with the request as received
      description: Needs withdrawals.read.
      tags: [custody]
      parameters:
        - $ref: '#/components/parameters/CallbackID'
      responses:
        '200':
          description: The callback.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyCallback'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/custody/callbacks/{id}/replay:
    post:
      operationId: replayCustodyCallback
      summary: Apply a stored callback again
      description: |
        For a verified callback that FAILED, stayed UNMATCHED or RECEIVED:
        its signature is checked again (not its age) and it is applied as
        if it had just arrived, which is harmless for one already applied.
        Audited. Needs withdrawals.review.
      tags: [custody]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/CallbackID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The callback after the replay.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustodyCallback'
        default:
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: admin_session
    csrf:
      type: apiKey
      in: header
      name: X-Admin-CSRF
      description: The value "1" on every request other than GET; a cross-site form cannot set it.
  parameters:
    CallbackID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Cursor:
      name: cursor
      in: query
      description: The previous page's next_cursor; omitted for the first page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    From:
      name: from
      in: query
      description: From this time on (RFC 3339).
      schema:
        type: string
        format: date-time
    To:
      name: to
      in: query
      description: Before this time (RFC 3339).
      schema:
        type: string
        format: date-time
    UserFilter:
      name: user_id
      in: query
      schema:
        type: string
        format: uuid
    Days:
      name: days
      in: query
      description: Days back, today included.
      schema:
        type: integer
        minimum: 1
        maximum: 90
        default: 7
    UserID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    OrderID:
      name: order
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Contract:
      name: symbol
      in: path
      required: true
      schema:
        type: string
        examples: [BTC-USDT-PERP]
  responses:
    Error:
      $ref: '../openapi/common.yaml#/components/responses/Error'
  schemas:
    House:
      type: object
      required: [assets, pairs, contracts, totals, partial]
      properties:
        assets:
          type: array
          items:
            type: object
            required: [asset, backed, balance, price, value_usdt]
            properties:
              asset:
                type: string
              backed:
                type: boolean
                description: The asset has deposits or withdrawals; HOUSE must hold it to sell it.
              balance:
                $ref: '#/components/schemas/Decimal'
              price:
                description: USDT per unit (the last price of its USDT pair); null without one.
                oneOf:
                  - $ref: '#/components/schemas/Decimal'
                  - type: 'null'
              value_usdt:
                oneOf:
                  - $ref: '#/components/schemas/Decimal'
                  - type: 'null'
        pairs:
          type: array
          items:
            type: object
            required: [symbol, trades, bought_base, sold_base, paid_quote, got_quote, last_at, net_base, net_quote, price, pnl_usdt]
            properties:
              symbol:
                type: string
              trades:
                type: integer
              bought_base:
                $ref: '#/components/schemas/Decimal'
              sold_base:
                $ref: '#/components/schemas/Decimal'
              paid_quote:
                $ref: '#/components/schemas/Decimal'
              got_quote:
                $ref: '#/components/schemas/Decimal'
              last_at:
                type: string
                format: date-time
              net_base:
                description: Bought less sold.
                $ref: '#/components/schemas/Decimal'
              net_quote:
                description: Got less paid.
                $ref: '#/components/schemas/Decimal'
              price:
                oneOf:
                  - $ref: '#/components/schemas/Decimal'
                  - type: 'null'
              pnl_usdt:
                description: net_base at the last price plus net_quote (USDT pairs); null without a price.
                oneOf:
                  - $ref: '#/components/schemas/Decimal'
                  - type: 'null'
        contracts:
          type: array
          description: HOUSE's open positions as derivatives-service renders a user's positions.
          items:
            type: object
            additionalProperties: true
        totals:
          type: object
          required: [inventory_usdt, backed_usdt, internal_usdt, pnl_usdt]
          properties:
            inventory_usdt:
              $ref: '#/components/schemas/Decimal'
            backed_usdt:
              $ref: '#/components/schemas/Decimal'
            internal_usdt:
              description: Below zero while HOUSE is short on internal assets.
              $ref: '#/components/schemas/Decimal'
            pnl_usdt:
              $ref: '#/components/schemas/Decimal'
        partial:
          type: array
          items:
            type: string
            enum: [prices, assets, inventory, trades, contracts]
    ServiceHealth:
      type: object
      required: [service, ready, latency_ms]
      properties:
        service:
          type: string
        ready:
          type: boolean
        latency_ms:
          type: integer
        error:
          type: string
    ReconciliationRun:
      type: object
      required: [check, started_at, mismatches, details]
      properties:
        check:
          type: string
          examples: [JOURNAL_BALANCED]
        started_at:
          type: string
          format: date-time
        mismatches:
          type: integer
        details:
          type: array
          description: The first ten mismatches.
          items:
            type: object
            required: [key, detail]
            properties:
              key:
                type: string
              detail:
                type: string
    NextCursor:
      type: [string, 'null']
      description: Pass as cursor for the next page; null on the last.
    UserSummary:
      type: object
      required: [id, status, region, language, kyc_level, created_at, tags]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        region:
          type: string
        language:
          type: string
        timezone:
          type: string
          description: An IANA zone; empty for the browser's.
        kyc_level:
          type: integer
        created_at:
          type: string
          format: date-time
        tags:
          type: array
          description: The console's tags on the account.
          items:
            type: string
    Note:
      type: object
      required: [id, body, admin_id, admin_email, created_at]
      properties:
        id:
          type: string
          format: uuid
        body:
          type: string
        admin_id:
          type: string
          format: uuid
        admin_email:
          type: string
        created_at:
          type: string
          format: date-time
    Order:
      type: object
      required: [order_id, client_order_id, user_id, symbol, side, type, time_in_force, price, quantity, quote_amount, status,
[...]
