openapi: 3.1.0
info:
  title: Exchange admin console API
  version: 0.1.0
  description: |
    The admin console's API (requirements §5.12), served by admin-service
    under /admin/v1 behind nginx; the user gateway never routes here, and
    this contract stays out of the public API reference.

    Administrators are created by an ADMIN on the administrators page
    (POST /admin/v1/admins), or with `exchangectl admin create` when no
    ADMIN can sign in (no sign-up). Signing in takes the password and a code of the
    authenticator app bound at creation; each code works once, and five
    failures lock the account for 15 minutes. The feature flag
    admin.login_without_totp switches the code off (test environments):
    the password alone signs in, and GET /admin/v1/login-options tells the
    sign-in page not to ask for it. The session is an HttpOnly,
    Secure, SameSite=Strict cookie `admin_session` scoped to /admin/; it
    ends after 8 hours, or after an hour without a request. Every request
    other than GET must carry the header `X-Admin-CSRF: 1`.

    Roles grant permissions: ADMIN (everything, and alone the console's
    settings, the administrators and the trading parameters: statuses,
    fee rates, risk ladders, reference symbols), OPERATOR (accounts,
    orders, the rest of the reference data and new pairs and contracts,
    lifting a contract's reduce-only, feature flags other than the
    console's own), FINANCE (withdrawal reviews, ledger adjustments,
    insurance fund contributions), AUDITOR (read-only). Everyone may read,
    including the reports from the ClickHouse read models. A call
    outside the role fails with ADMIN_FORBIDDEN. Every change is audited
    (audit.events → ClickHouse audit_logs) with the administrator's email
    as the actor; changes also carry a reason of at least 3 characters.

    Fund operations (manual ledger adjustments and insurance fund
    contributions) are approved by a second administrator while the flag
    admin.two_person_approval is on. Off (single-person mode, the test
    server), an administrator carries one out alone when asked to
    (`direct`, and always from a user's page) if it is worth at most the
    single-operation limit and keeps their operations of the last 24 hours
    within the daily limit (GET /admin/v1/settings; 100,000 and 500,000
    USDT by default); anything larger, or of unknown worth, still waits
    for a second administrator. The ledger books each operation once with
    the idempotency key approval:<id>.

    Lists page with an opaque cursor: an answer's `next_cursor` (null on
    the last page) is passed back as `cursor` for the next; `limit` is
    1 to 200 (50 by default) unless an endpoint says otherwise. Orders,
    trades, deposits and the overview come from the ClickHouse read
    models, a few seconds behind the services.
servers:
  - url: https://admin.astras.vip
security:
  - session: []
tags:
  - name: session
  - name: admins
  - name: users
  - name: withdrawals
  - name: instruments
  - name: flags
  - name: ledger
  - name: audit
  - name: reports
  - name: derivatives
  - name: content
  - name: custody
  - name: sim
paths:
  /admin/v1/login-options:
    get:
      operationId: loginOptions
      summary: What signing in asks for
      description: |
        Whether the sign-in page asks for the authenticator code: true
        unless the feature flag admin.login_without_totp is on. Needs no
        session.
      tags: [session]
      security: []
      responses:
        '200':
          description: The sign-in options.
          content:
            application/json:
              schema:
                type: object
                required: [totp_required]
                properties:
                  totp_required:
                    type: boolean
  /admin/v1/login:
    post:
      operationId: login
      summary: Sign in with password and authenticator code
      description: |
        Sets the session cookie. Fails with ADMIN_LOGIN_FAILED for a wrong
        email, password or code (or a code used before), ADMIN_LOCKED
        after five failures in a row (15 minutes), and COMMON_RATE_LIMITED
        beyond 10 attempts a minute from one IP. The code may be left out
        while the flag admin.login_without_totp is on; it is then not
        checked.
      tags: [session]
      security:
        - csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                totp_code:
                  type: string
                  pattern: '^[0-9]{6}$'
                  description: Required unless GET /admin/v1/login-options says otherwise.
      responses:
        '200':
          description: Signed in.
          headers:
            Set-Cookie:
              schema:
                type: string
              description: admin_session=...; Path=/admin/; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                type: object
                required: [admin, expires_at]
                properties:
                  admin:
                    $ref: '#/components/schemas/Admin'
                  expires_at:
                    type: string
                    format: date-time
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/logout:
    post:
      operationId: logout
      summary: End the session
      tags: [session]
      security:
        - session: []
          csrf: []
      responses:
        '204':
          description: Signed out; the cookie is cleared.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me:
    get:
      operationId: me
      summary: The signed-in administrator and their permissions
      tags: [session]
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/roles:
    get:
      operationId: listRoles
      summary: Every role with its permissions
      description: Any administrator reads them.
      tags: [admins]
      responses:
        '200':
          description: The roles.
          content:
            application/json:
              schema:
                type: object
                required: [roles]
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/RolePermissions'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins:
    get:
      operationId: listAdmins
      summary: The administrators
      description: Every administrator, with their live sessions. Needs admins.manage.
      tags: [admins]
      responses:
        '200':
          description: The administrators.
          content:
            application/json:
              schema:
                type: object
                required: [admins]
                properties:
                  admins:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedAdmin'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createAdmin
      summary: Create an administrator
      description: |
        Answers with the administrator, a password and an authenticator
        secret, shown this once: the answer is not cached (Cache-Control:
        no-store), and neither is logged or audited. The new administrator
        binds the secret in an authenticator app and signs in with both.
        Audited as admin.created. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, name, role, reason]
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                  minLength: 1
                role:
                  $ref: '#/components/schemas/AdminRole'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The administrator and their credentials.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCredentials'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/status:
    post:
      operationId: setAdminStatus
      summary: Disable or enable an administrator
      description: |
        Disabling ends their sessions at once; enabling also lifts a lock
        after failed sign-ins. Nobody changes their own account here
        (ADMIN_SELF), and an active ADMIN always remains
        (ADMIN_LAST_ADMIN). Audited as admin.disabled or admin.enabled.
        Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled, reason]
              properties:
                enabled:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAdmin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/role:
    post:
      operationId: setAdminRole
      summary: Change an administrator's role
      description: |
        Takes effect on their next request. Not one's own (ADMIN_SELF), nor
        the last active ADMIN's (ADMIN_LAST_ADMIN). Audited as
        admin.role_changed. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, reason]
              properties:
                role:
                  $ref: '#/components/schemas/AdminRole'
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAdmin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/password-reset:
    post:
      operationId: resetAdminPassword
      summary: Give an administrator a new password
      description: |
        Answers with the new password, shown this once (no-store, never
        logged or audited), and ends their sessions. Not one's own
        (ADMIN_SELF). Audited as admin.password_reset. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The new password.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCredentials'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/totp-reset:
    post:
      operationId: resetAdminTOTP
      summary: Give an administrator a new authenticator secret
      description: |
        Answers with the new secret and its otpauth URI, shown this once
        (no-store, never logged or audited); the old authenticator stops
        working and their sessions end. Not one's own (ADMIN_SELF).
        Audited as admin.totp_reset. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The new secret.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminCredentials'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/sessions:
    get:
      operationId: adminSessions
      summary: An administrator's live sessions
      description: At most 50, the latest first. Needs admins.manage.
      tags: [admins]
      parameters:
        - $ref: '#/components/parameters/AdminID'
      responses:
        '200':
          description: The sessions.
          content:
            application/json:
              schema:
                type: object
                required: [sessions]
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminSession'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/sessions/revoke:
    post:
      operationId: revokeAdminSessions
      summary: End every session of an administrator
      description: |
        Not one's own (ADMIN_SELF; signing out ends one's session).
        Audited as admin.sessions_revoked. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '204':
          description: The sessions ended.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/settings:
    get:
      operationId: getSettings
      summary: The console's settings
      description: |
        Whether fund operations need a second administrator (the flag
        admin.two_person_approval) and the single-person limits, with the
        caller's single-person total of the last 24 hours. Every
        administrator may read them.
      tags: [session]
      responses:
        '200':
          description: The settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateSettings
      summary: Change the console's settings
      description: |
        Changes the fields given: the limits and the delay of trading
        parameters' changes (audited as admin.settings.changed) and
        two-person approval (switches the flag
        admin.two_person_approval, audited by the flags; the other
        instances follow within 5 seconds). The daily limit must cover the
        single-operation one. Needs settings.write (ADMIN).
      tags: [session]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                two_person_approval:
                  type: boolean
                single_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                daily_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                withdrawal_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                change_delay_seconds:
                  type: integer
                  minimum: 60
                  maximum: 86400
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The settings after the change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/todo:
    get:
      operationId: getTodo
      summary: What waits for the administrator
      description: |
        The counts behind the console's badges, as far as the role shows
        them (zero otherwise): withdrawals in review (counted up to 200)
        and fund operations waiting for a decision. A count that cannot be
        read is zero and named in `partial`.
      tags: [session]
      responses:
        '200':
          description: The counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/events:
    get:
      operationId: streamEvents
      summary: The counts as they change (Server-Sent Events)
      description: |
        An event stream: `todo` with the counts of GET /admin/v1/todo at
        once and whenever they change (checked every 10 seconds),
        `signed_out` when the session ends, and a comment after 20 seconds
        without an event. The stream does not keep the session alive; the
        browser reconnects after 5 seconds when it drops.
      tags: [session]
      responses:
        '200':
          description: The stream.
          content:
            text/event-stream:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users:
    get:
      operationId: listUsers
      summary: Accounts, newest first
      description: Needs users.read. Contact data stays in auth-service; find an account by email or phone with users/lookup.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        - name: region
          in: query
          description: ISO 3166-1 alpha-2.
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of accounts.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSummary'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/orders:
    get:
      operationId: listOrders
      summary: Spot orders in their latest state, newest first
      description: From the read model orders_current. Needs reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: order_id
          in: query
          description: One order (the console's search).
          schema:
            type: string
            format: uuid
        - name: symbol
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [NEW, OPEN, PARTIALLY_FILLED, FILLED, CANCELED, REJECTED]
        - name: side
          in: query
          schema:
            type: string
            enum: [BUY, SELL]
        - $ref: '#/components/parameters/Accounts'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of orders.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/trades:
    get:
      operationId: listTrades
      summary: Spot trades, newest first
      description: >-
        From the read model trades; user_id matches either side. With accounts=bots only the trades between two bots,
        with accounts=users those with anyone else on a side (a user's trade with a bot is the users'). Needs
        reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: symbol
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Accounts'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of trades.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trade'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits:
    get:
      operationId: listDeposits
      summary: Deposits in their latest state, newest first
      description: From the read model wallet_deposits. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - name: tx_hash
          in: query
          description: The deposits of one transaction, any letter case (the console's search).
          schema:
            type: string
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/review:
    get:
      operationId: listReviewDeposits
      summary: wallet-service's deposits, for decisions
      description: |
        Newest first, straight from wallet-service (not the read model):
        attention=true lists the deposits waiting for a decision (booked
        to UNCLAIMED_DEPOSIT, or a backfill the custodian's callback
        disagreed with), manual_pending=true the backfilled ones without
        a callback yet. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - name: network
          in: query
          schema:
            type: string
        - name: attention
          in: query
          schema:
            type: string
            enum: ['true']
        - name: manual_pending
          in: query
          schema:
            type: string
            enum: ['true']
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewDeposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/manual/check:
    post:
      operationId: checkDepositBackfill
      summary: Check a backfill of a lost custodian callback without booking it
      description: |
        The checks of POST /admin/v1/deposits/manual (the network is a
        custodian's, the address is a user's on it, neither the trade nor
        the transfer is known, the amount fits the asset's precision) and
        what it would book. Not audited. Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillRequest'
      responses:
        '200':
          description: What the backfill would book.
          content:
            application/json:
              schema:
                type: object
                required: [user_id, asset, unclaimed, value_usdt]
                properties:
                  user_id:
                    type: string
                    format: uuid
                  asset:
                    type: string
                  unclaimed:
                    type: boolean
                    description: Below the network's minimum, so booked to UNCLAIMED_DEPOSIT instead of the user.
                  value_usdt:
                    description: The amount's worth; null without a price (a second administrator then decides).
                    $ref: '#/components/schemas/NullableDecimal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/manual:
    post:
      operationId: backfillDeposit
      summary: Backfill a custodian deposit whose callback was lost
      description: |
        For a deposit the administrator found in the custodian's console
        (this console cannot ask the custodian, so nothing here checks it
        there). After the checks of POST /admin/v1/deposits/manual/check
        it is a fund operation (kind DEPOSIT_BACKFILL): in single-person
        mode within the limits it is booked at once (EXECUTED), otherwise
        it waits for a second administrator (PENDING). Booked like a
        callback (credited, or to UNCLAIMED_DEPOSIT below the minimum)
        with source MANUAL; the custodian's own callback, when it comes,
        is matched against it, never booked again. Audited. Needs
        deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BackfillRequest'
                - type: object
                  required: [reason]
                  properties:
                    reason:
                      type: string
                      minLength: 10
      responses:
        '201':
          description: The fund operation, executed or waiting for a second administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}:
    get:
      operationId: getReviewDeposit
      summary: One of wallet-service's deposits
      description: Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/credit:
    post:
      operationId: creditDeposit
      summary: Give an unclaimed deposit to its user
      description: |
        Only a deposit booked to UNCLAIMED_DEPOSIT (below the minimum, the
        account closed or not eligible) and only its own asset and amount:
        the ledger moves it to the user's spot account (DEPOSIT_CREDIT,
        audited as ledger.unclaimed_released). An unsupported token has no
        asset and can only be rejected (WALLET_DEPOSIT_NOT_RELEASABLE).
        Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The deposit, CREDITED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/reject:
    post:
      operationId: rejectDeposit
      summary: Close a deposit waiting for a decision without moving funds
      description: |
        Marks it handled with the reason (resolution DISMISSED): an
        unclaimed deposit stays in UNCLAIMED_DEPOSIT, a disagreeing
        callback stays unbooked. Audited by the wallet
        (wallet.deposit.dismissed). Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/dashboard:
    get:
      operationId: getDashboard
      summary: The overview
      description: |
        Accounts (user-service), the last 24 hours' trading and what waits
        in the wallet (read models), the reference feed (market-data-service)
        and a daily series. A part that cannot be read is left empty and
        named in `partial`. Needs reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/lookup:
    get:
      operationId: lookupUser
      summary: Find an account by user ID, email address or phone number
      description: Phone numbers in E.164 with the leading "+". Needs users.read.
      tags: [users]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            examples: [alice@example.com]
      responses:
        '200':
          description: The account and its balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/status:
    post:
      operationId: changeUserStatus
      summary: Move an account to another status (freeze, unfreeze, review, close)
      description: |
        user-service applies its state machine (appendix B) and records the
        change with the administrator as the actor. Needs users.status.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
                reason:
                  type: string
                  description: Reason code of user-service, e.g. SUSPICIOUS_LOGIN, USER_REQUEST.
                note:
                  type: string
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}:
    get:
      operationId: getUser
      summary: An account with the console's tags on it
      description: Needs users.read. Unknown accounts fail with COMMON_NOT_FOUND.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummary'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/notes:
    get:
      operationId: listUserNotes
      summary: Administrators' notes on an account, newest first
      description: Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of notes.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: addUserNote
      summary: Write a note on an account
      description: Notes are never edited or removed; each is audited (admin.users.note_added). Needs users.notes.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 2000
      responses:
        '201':
          description: The note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/tags:
    put:
      operationId: setUserTags
      summary: Replace an account's tags
      description: |
        Tags are upper case codes (letters, digits, _; up to 32, at most
        10), e.g. VIP, SUSPICIOUS, TEST; the console's own, user-service
        never sees them. A change is audited with the tags before and after
        (admin.users.tags_changed). Needs users.notes.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tags]
              properties:
                tags:
                  type: array
                  maxItems: 10
                  items:
                    type: string
      responses:
        '200':
          description: The tags as stored (upper case, sorted).
          content:
            application/json:
              schema:
                type: object
                required: [tags]
                properties:
                  tags:
                    type: array
                    items:
                      type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/adjustments:
    post:
      operationId: adjustUserBalance
      summary: Credit or debit a user's balance
      description: |
        A manual adjustment (MANUAL_ADJUSTMENT against the ADJUSTMENT system
        account) of the user's SPOT or FUTURES account: booked at once in
        single-person mode within the limits (EXECUTED with its journal, or
        FAILED with the ledger's refusal such as
        LEDGER_ADJUSTMENT_DISABLED), otherwise PENDING for a second
        administrator with the reason in `escalation`. When the ledger does
        not answer the call fails with COMMON_UNAVAILABLE and the detail
        `approval_id` names the operation, left PENDING for its requester
        to finish (decide). Needs ledger.adjust.request.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                account_type:
                  type: string
                  enum: [SPOT, FUTURES]
                  default: SPOT
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  description: Positive credits, negative debits.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
                reference:
                  type: string
                  maxLength: 64
                  description: A ticket or order number kept with it (in the journal's memo).
      responses:
        '201':
          description: The operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/cancel-orders:
    post:
      operationId: cancelUserOrders
      summary: Cancel every open order of an account
      description: Needs orders.cancel. The cancellations complete asynchronously in the matching engine.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancellations requested.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/security:
    get:
      operationId: getUserSecurity
      summary: An account's sign-in security
      description: |
        Identities (masked: a***@x.com, +65912****4567), authenticator,
        password, lock, live sessions and devices (addresses masked), and
        the rebind requests waiting (auth-service). Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The account's security.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contacts/reveal:
    post:
      operationId: revealUserContacts
      summary: An account's email and phone, unmasked
      description: |
        Each call is audited (admin.users.contacts_revealed, naming the
        kinds shown, not the values); the answer is not cached. Needs
        users.contacts.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The identities.
          content:
            application/json:
              schema:
                type: object
                required: [identities]
                properties:
                  identities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Identity'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/login-history:
    get:
      operationId: listUserLogins
      summary: An account's sign-in attempts, newest first
      description: Addresses are masked. Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of sign-ins.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LoginEntry'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/sessions/revoke:
    post:
      operationId: revokeUserSessions
      summary: End one of an account's sessions, or all of them
      description: |
        The sessions end with reason ADMIN (auth-service); audited as
        admin.users.sessions_revoked. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                session_id:
                  type: string
                  format: uuid
                  description: Omitted for every live session.
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: How many sessions ended.
          content:
            application/json:
              schema:
                type: object
                required: [revoked]
                properties:
                  revoked:
                    type: integer
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/totp-reset:
    post:
      operationId: resetUserTotp
      summary: Remove an account's authenticator app
      description: |
        The user is told by mail and can bind a new one; audited as
        admin.users.totp_reset. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: Whether there was one to remove.
          content:
            application/json:
              schema:
                type: object
                required: [removed]
                properties:
                  removed:
                    type: boolean
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/password-reset:
    post:
      operationId: resetUserPassword
      summary: Give an account a temporary password
      description: |
        A random password (four groups of four letters and digits) replaces
        the user's; every session ends, the password lock is cleared and
        the user is told by mail as for a reset (withdrawals are reviewed
        for a day). The password is in this answer only: pass it on and
        ask the user to change it. Audited as admin.users.password_reset,
        without the password. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The temporary password (not cached).
          content:
            application/json:
              schema:
                type: object
                required: [temporary_password, sessions_revoked]
                properties:
                  temporary_password:
                    type: string
                  sessions_revoked:
                    type: integer
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/history:
    get:
      operationId: getUserHistory
      summary: An account's status changes and accepted documents
      description: Status changes newest first, at most 50 (user-service). Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The history.
          content:
            application/json:
              schema:
                type: object
                required: [status_changes, consents]
                properties:
                  status_changes:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatusChange'
                  consents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consent'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/risk:
    get:
      operationId: getUserRisk
      summary: The risk rules' assessments of an account, newest first
      description: |
        Only assessments with a rule hit are kept (risk-service). Moving the
        account to RISK_REVIEW and back is POST /admin/v1/users/{id}/status.
        Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The assessments.
          content:
            application/json:
              schema:
                type: object
                required: [assessments]
                properties:
                  assessments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assessment'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/identity-requests:
    get:
      operationId: listIdentityRequests
      summary: Identity rebind requests, newest first
      description: |
        A user with a single identity asks to move it to a new value and an
        administrator decides (auth-service). Values are masked. Needs
        users.read.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_REVIEW, APPROVED, REJECTED]
        - $ref: '#/components/parameters/UserFilter'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of requests.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdentityRequest'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/identity-requests/{id}/decide:
    post:
      operationId: decideIdentityRequest
      summary: Approve or reject an identity rebind request
      description: |
        Approving moves the identity to the new value and tells the user;
        a value another account holds fails with AUTH_IDENTITY_TAKEN. Audited as
        admin.users.identity_request_decided. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The decided request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityRequest'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/balances:
    get:
      operationId: getUserBalances
      summary: An account's balances, valued in USDT
      description: |
        Every SPOT and FUTURES balance with its total (available + frozen)
        valued at its USDT pair's last price, SPOT first and the larger
        worth first; assets without a USDT price are listed in `unpriced`
        and left out of the total. Needs users.read.
      tags: [users, ledger]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The balances.
          content:
            application/json:
              schema:
                type: object
                required: [balances, total_usdt, unpriced]
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/ValuedBalance'
                  total_usdt:
                    $ref: '#/components/schemas/Decimal'
                  unpriced:
                    type: array
                    items:
                      type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/holds:
    get:
      operationId: listUserHolds
      summary: Holds on an account's SPOT balance, newest first
      description: Active and released. Needs users.read.
      tags: [users, ledger]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The holds.
          content:
            application/json:
              schema:
                type: object
                required: [holds]
                properties:
                  holds:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: placeUserHold
      summary: Freeze part of an account's SPOT balance
      description: |
        The ledger moves the amount from available to frozen (ADMIN_FREEZE)
        and audits it as ledger.hold_placed; more than the available
        balance fails with LEDGER_INSUFFICIENT_BALANCE. The user sees the
        amount frozen until it is released. Needs ledger.hold.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  description: Positive.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/holds/{hold}:
    delete:
      operationId: releaseUserHold
      summary: Release a hold
      description: |
        The ledger returns the amount to the available balance
        (ADMIN_UNFREEZE) and audits it as ledger.hold_released; a hold is
        released once (LEDGER_HOLD_RELEASED). Needs ledger.hold.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - name: hold
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The released hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/orders/{order}/cancel:
    post:
      operationId: cancelUserOrder
      summary: Cancel one of an account's spot orders
      description: |
        The cancel completes asynchronously in the matching engine; the
        answer is the order as spot-trading-service has it. Audited as
        admin.orders.canceled. Needs orders.cancel.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/OrderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancel requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contract-orders:
    get:
      operationId: listUserContractOrders
      summary: An account's active contract orders
      description: As derivatives-service renders them, at most 100. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The orders.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractOrder'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contract-orders/{order}/cancel:
    post:
      operationId: cancelUserContractOrder
      summary: Cancel one of an account's contract orders
      description: Completes asynchronously in the engine. Audited as admin.derivatives.order_canceled. Needs orders.cancel.
      tags: [users, derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/OrderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancel requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/positions:
    get:
      operationId: listUserPositions
      summary: An account's open contract positions
      description: As derivatives-service renders them, with the liquidation estimate. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The positions.
          content:
            application/json:
              schema:
                type: object
                required: [positions]
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPosition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/positions/close:
    post:
      operationId: closeUserPosition
      summary: Close a position at the market (force close)
      description: |
        The closing orders resting on the position are canceled first;
        once the engine confirmed (the console waits a few seconds, then
        fails with DERIV_CLOSE_PENDING to try again), a market order of
        kind ADMIN takes the whole position: reduce-only in one-way mode,
        against its side in hedge mode. A position under liquidation is
        left to the liquidation engine (DERIV_POSITION_LIQUIDATING). The
        answer is the order. Audited as admin.derivatives.position_closed.
        Needs derivatives.write.
      tags: [users, derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, position_side, reason]
              properties:
                symbol:
                  type: string
                  examples: [BTC-USDT-PERP]
                position_side:
                  type: string
                  enum: [BOTH, LONG, SHORT]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The closing order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals:
    get:
      operationId: listWithdrawals
      summary: Withdrawals, the review queue by default
      description: |
        From wallet-service. The review queue (PENDING_REVIEW) lists oldest
        first, every other status newest first, unless order says otherwise.
        Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: status
          in: query
          description: A withdrawal status (appendix B), e.g. APPROVED, SUBMITTED, BROADCAST, CONFIRMED, REJECTED, FAILED; ALL for every status.
          schema:
            type: string
            default: PENDING_REVIEW
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          description: One network, e.g. TRON or ETH-SEPOLIA; every network when empty.
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: held
          in: query
          description: true for the withdrawals on hold, false for the others.
          schema:
            type: string
            enum: ['true', 'false']
        - name: min_value_usdt
          in: query
          schema:
            $ref: '#/components/schemas/Decimal'
        - name: max_value_usdt
          in: query
          schema:
            $ref: '#/components/schemas/Decimal'
        - name: min_risk
          in: query
          description: The lowest risk score listed.
          schema:
            type: integer
            minimum: 0
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of withdrawals.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Withdrawal'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/review:
    post:
      operationId: reviewWithdrawal
      summary: Approve or reject a withdrawal in review
      description: |
        The administrator's email is the reviewer; a withdrawal above
        20,000 USDT needs two distinct reviewers. Rejecting releases the
        frozen amount. Needs withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The withdrawal after the review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/review-batch:
    post:
      operationId: reviewWithdrawalBatch
      summary: Approve or reject several withdrawals with one reason
      description: |
        Each withdrawal is reviewed on its own as by POST
        /admin/v1/withdrawals/{id}/review (and audited by the wallet); one
        that fails (already decided, unknown) leaves the others decided and
        says why. At most 50 at a time. Needs withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, approve, reason]
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: string
                    format: uuid
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: What came of each.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required: [id, ok]
                      properties:
                        id:
                          type: string
                        ok:
                          type: boolean
                        status:
                          type: string
                          description: The withdrawal's status after the review.
                        code:
                          type: string
                          description: The error code of a failed one.
                        message:
                          type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}:
    get:
      operationId: getWithdrawal
      summary: A withdrawal with what its review needs
      description: |
        From wallet-service: the withdrawal, its address in the user's
        address book (when it was added, when its cooling-off ended) and
        the user's withdrawals' worth today and this month. Needs
        withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalDetail'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/hold:
    post:
      operationId: holdWithdrawal
      summary: Put a withdrawal in review on hold, or take it off hold
      description: |
        A held withdrawal stays in review with the reviewer's note (say,
        while the user is called) until it is taken off hold or decided;
        deciding it takes it off hold. Only a withdrawal in review
        (WALLET_WITHDRAWAL_NOT_IN_REVIEW otherwise). Audited by the wallet
        (wallet.withdrawal.hold, wallet.withdrawal.unhold). Needs
        withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hold]
              properties:
                hold:
                  type: boolean
                note:
                  type: string
                  minLength: 3
                  description: Required to put it on hold.
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments:
    get:
      operationId: listInstruments
      summary: Assets (with networks), trading pairs and perpetual contracts
      description: |
        As instrument-service returns them (protobuf JSON with field names;
        int64 as strings). They change through the versioned reference-data
        file (exchangectl instruments apply, run by every deploy) and, since
        C3, through POST /admin/v1/instruments/apply. Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The reference data.
          content:
            application/json:
              schema:
                type: object
                required: [assets, pairs, contracts]
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pair'
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/config:
    get:
      operationId: getInstrumentConfig
      summary: The reference data as a config document
      description: |
        In the shape of deploy/instruments/<env>.json (what exchangectl
        instruments apply reads), statuses and versions included: what the
        console's forms start from. Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentConfig'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/preview:
    post:
      operationId: previewInstrumentConfig
      summary: What a config document would change, changing nothing
      description: |
        The document names only the items to create or change, each whole
        (a field left out becomes empty). Items missing are left alone,
        statuses never change here (the status endpoints do that): a new
        pair or contract starts in PREPARE (ADMIN_NEW_ITEM_NOT_PREPARE for
        another status). A pair's
        new reference symbol must be listed on the reference market's spot
        market (ADMIN_REFERENCE_UNKNOWN otherwise: it would fail the
        reference reads of every pair); clearing the reference symbol of a
        pair HOUSE quotes or a perpetual's index follows is refused
        (ADMIN_REFERENCE_IN_USE); `warnings` note what else follows.

        `guard` lists the trading parameters the document moves (fee rates,
        a pair's fee tier, reference symbol and multiplier, a contract's
        fee tier and risk ladder) with, for a ladder, the open positions it
        would liquidate (derivatives-service measures them as its margin
        monitor does). Such a document is applied only by an ADMIN bringing
        back `guard.confirmation` (bound to them and to exactly these
        changes, valid 10 minutes), and then waits (see apply). Needs
        instruments.write.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [config]
              properties:
                config:
                  $ref: '#/components/schemas/InstrumentConfigPatch'
      responses:
        '200':
          description: The changes it would make.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConfigResult'
                  - type: object
                    required: [guard]
                    properties:
                      guard:
                        $ref: '#/components/schemas/ChangeGuard'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/apply:
    post:
      operationId: applyInstrumentConfig
      summary: Apply a config document
      description: |
        As POST /admin/v1/instruments/preview, then applied in one
        transaction by instrument-service (source CONSOLE in its history,
        each change versioned and published). The deploy's sync of the
        reference-data file keeps what the console changed last (exchangectl
        instruments apply --force overrides). Audited
        (admin.instruments.applied). Needs instruments.write.

        A document moving trading parameters (design 2026-10-02 §2 item 6)
        needs instruments.trading (ADMIN) and the preview's confirmation
        (ADMIN_CONFIRMATION_REQUIRED without it, with `reason` expired or
        changed when it no longer holds): it answers 202 with the change,
        which takes effect the settings' change_delay_seconds later, or,
        while admin.two_person_approval is on, that long after a second
        ADMIN approved it (POST /admin/v1/instruments/changes/{id}/decide);
        audited as admin.instruments.change_requested. New items touch
        nobody until opened and apply at once.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [config, reason]
              properties:
                config:
                  $ref: '#/components/schemas/InstrumentConfigPatch'
                reason:
                  type: string
                  minLength: 3
                confirmation:
                  type: string
                  description: The preview's guard.confirmation.token, for a document moving trading parameters.
      responses:
        '200':
          description: The changes made.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConfigResult'
                  - type: object
                    required: [change]
                    properties:
                      change:
                        type: 'null'
        '202':
          description: The changes confirmed, waiting.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConfigResult'
                  - type: object
                    required: [change]
                    properties:
                      change:
                        $ref: '#/components/schemas/InstrumentChange'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles:
    get:
      operationId: listArticles
      summary: A section's announcements or help articles, every status
      description: |
        Kept by notification-service and read by the sites through GET
        /v1/announcements and /v1/help once published (design 2026-10-02
        §4.5). Every administrator reads them.
      tags: [content]
      parameters:
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ANNOUNCEMENT, HELP]
      responses:
        '200':
          description: The articles.
          content:
            application/json:
              schema:
                type: object
                required: [articles]
                properties:
                  articles:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createArticle
      summary: Write a draft
      description: |
        Chinese (zh-CN) title and Markdown body required, English
        optional; the slug is unique in its section
        (NOTIFY_ARTICLE_EXISTS). Audited as admin.content.created on
        <section>:<slug>. Needs content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ArticleWrite'
                - type: object
                  required: [section, reason]
                  properties:
                    section:
                      type: string
                      enum: [ANNOUNCEMENT, HELP]
                    reason:
                      type: string
                      minLength: 3
      responses:
        '201':
          description: The draft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles/{id}:
    get:
      operationId: getArticle
      summary: An article with every text
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateArticle
      summary: Rewrite an article
      description: |
        At the version read (COMMON_CONFLICT when someone saved it
        meanwhile); its status stays: a published article changes on the
        sites within a minute. Audited as admin.content.updated. Needs
        content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ArticleWrite'
                - type: object
                  required: [version, reason]
                  properties:
                    version:
                      type: integer
                    reason:
                      type: string
                      minLength: 3
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles/{id}/publish:
    post:
      operationId: publishArticle
      summary: Publish an article, now or at a time
      description: |
        The sites show it from publish_at on (now when left out). Audited
        as admin.content.published. Needs content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, reason]
              properties:
                version:
                  type: integer
                publish_at:
                  type: string
                  format: date-time
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles/{id}/archive:
    post:
      operationId: archiveArticle
      summary: Take an article off the sites
      description: It may be published again. Audited as admin.content.archived. Needs content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, reason]
              properties:
                version:
                  type: integer
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/broadcasts:
    get:
      operationId: listBroadcasts
      summary: The in-app messages sent, newest first
      description: With how many each reached and how many of them read it. Every administrator reads them.
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: A page of messages.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Broadcast'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: sendBroadcast
      summary: Send an in-app message to one user, a tag's users or everyone
      description: |
        notification-service delivers it in rounds, each user once in their
        language (Chinese without English), as a notice of type BROADCAST
        on the sites' inbox and pushed live; email also mails it. A tag's
        users are those tagged now (ADMIN_TAG_EMPTY when none, at most
        10,000). Audited as admin.notices.sent on broadcast:<id>. Needs
        notices.send.
      tags: [content]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audience, title, body, reason]
              properties:
                audience:
                  type: string
                  enum: [ALL, USER, TAG]
                user_id:
                  type: string
                  format: uuid
                  description: With USER.
                tag:
                  type: string
                  description: With TAG.
                title:
                  $ref: '#/components/schemas/LocalizedText'
                body:
                  $ref: '#/components/schemas/LocalizedText'
                link:
                  type: string
                  description: A path on the sites the message leads to, such as /assets.
                email:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The message, being delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/broadcasts/{id}:
    get:
      operationId: getBroadcast
      summary: An in-app message sent, with its counts
      tags: [content]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The message.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim:
    get:
      operationId: getSim
      summary: The simulated market of the platform coin, as market-sim renders it
      description: |
        ASTRA design §6 (docs/runbook/market-sim.md): the target and the
        last price, the settings and their version, the guards' counts,
        the bots with their balances and errors, the running and queued
        events, the price band (anchor, where the makers quote, whether
        they walk toward a target beyond the band), the watchdog and the
        perpetual. Needs reports.read.
      tags: [sim]
      responses:
        '200':
          description: The state.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimStatus'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/history:
    get:
      operationId: getSimHistory
      summary: The target and the last price every 10 seconds
      tags: [sim]
      parameters:
        - name: minutes
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 1440
            default: 1440
      responses:
        '200':
          description: The samples, oldest first.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SimSample'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/events:
    get:
      operationId: listSimEvents
      summary: The price events running and queued, or the latest of every status
      tags: [sim]
      parameters:
        - name: all
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 200
            default: 50
      responses:
        '200':
          description: The events.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/SimEvent'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createSimEvent
      summary: Create a price event
      description: |
        Needs sim.control and a reason. market-sim runs it (at once or at
        starts_at, at most 24 hours ahead) in the administrator's name;
        beyond one operator's share of price moves in an hour (30% at once,
        50% an hour) it becomes a request for a second administrator with
        sim.control (202, decided on the approvals), whose name market-sim
        then receives as the approver. 403 SIM_EVENTS_OFF while the flag
        sim.events is off; 400 beyond the hard caps.
      tags: [sim]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/SimEventWrite'
                - $ref: '#/components/schemas/Reason'
      responses:
        '201':
          description: The event.
          content:
            application/json:
              schema:
                type: object
                required: [event]
                properties:
                  event:
                    $ref: '#/components/schemas/SimEvent'
        '202':
          description: Beyond one operator's share; waiting for a second administrator.
          content:
            application/json:
              schema:
                type: object
                required: [approval]
                properties:
                  approval:
                    $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/events/{id}/end:
    post:
      operationId: endSimEvent
      summary: Cancel a queued event or end a running one
      description: A HALT ends by resuming the pair and its perpetual. Needs sim.control.
      tags: [sim]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The event, ended.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimEvent'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/params:
    put:
      operationId: updateSimParams
      summary: Replace the simulated market's settings
      description: |
        Every field, as GET /admin/v1/sim shows them. Needs sim.control.
        Changes that move the price or the turnover beyond one operator's
        share become a request for a second administrator (202).
      tags: [sim]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - type: object
                  required: [params]
                  properties:
                    params:
                      $ref: '#/components/schemas/SimParams'
                - $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The settings' new version.
          content:
            application/json:
              schema:
                type: object
                required: [version]
                properties:
                  version:
                    type: integer
        '202':
          description: Waiting for a second administrator.
          content:
            application/json:
              schema:
                type: object
                required: [approval]
                properties:
                  approval:
                    $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/impact:
    post:
      operationId: simImpact
      summary: What a mark price would do to the simulated market's perpetual
      description: |
        ASTRA design §6.3: the open longs and shorts, the positions the
        margin monitor would take over at that price that it does not now
        (a cross account whole), their notional and accounts, and what they
        lack beyond their margin (the insurance fund's estimated share);
        HOUSE left out (derivatives-service's price impact). Changes
        nothing. Needs reports.read.
      tags: [sim]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [price]
              properties:
                price:
                  $ref: '#/components/schemas/Decimal'
      responses:
        '200':
          description: The impact.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimImpact'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/token:
    get:
      operationId: getSimToken
      summary: Who holds the simulated market's coin
      description: |
        The coin (the base of market-sim's pair, ASTRA) as the ledger's
        lines hold it (the read model, a few seconds behind): the bots
        (market-sim's list) and the other users with how many of each hold
        some, the platform's system accounts, what manual adjustments
        issued (the ADJUSTMENT account's debit) and the 20 largest holders.
        Needs reports.read.
      tags: [sim]
      responses:
        '200':
          description: The holdings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SimToken'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/sim/mint:
    post:
      operationId: mintSimBots
      summary: More of the coin or USDT for the bots
      description: |
        A fund operation of kind SIM_MINT (ASTRA design §4; no transfers
        between bots, the pool grows by audited adjustments): the amount
        split evenly, to two decimal places, over the bots (of one role, or
        every one), the first taking the rounding; one manual adjustment of
        each bot's SPOT account, keyed by the operation and the bot.
        Booked at once in single-person mode within the limits (EXECUTED,
        or FAILED with the ledger's refusal of the first bot), otherwise
        PENDING for a second administrator with ledger.adjust.approve;
        COMMON_UNAVAILABLE with the detail approval_id when the ledger does
        not answer. A refusal after some bots were booked answers the
        ledger's code with the details approval_id, bot, booked and of: the
        operation stays PENDING (counted in its requester's 24 hours) to be
        finished on the approvals page once the cause is fixed, its keys
        booking only the rest. At most 10,000,000 of the coin or 1,000,000
        USDT at once, whoever approves (422 ADMIN_SIM_MINT_CAP, details
        asset and max). Needs ledger.adjust.request.
      tags: [sim, ledger]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                asset:
                  type: string
                  description: The coin or USDT.
                  examples: [ASTRA]
                amount:
                  description: In all, positive.
                  $ref: '#/components/schemas/Decimal'
                role:
                  type: string
                  enum: [MAKER, TAKER, TREND, EXECUTOR]
                  description: Only the bots of this role; every bot when absent.
                reason:
                  type: string
                  minLength: 3
                reference:
                  type: string
                  maxLength: 64
      responses:
        '201':
          description: The operation (payload bots lists each bot's share as JSON).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/assets/{code}/profile:
    parameters:
      - name: code
        in: path
        required: true
        schema:
          type: string
          pattern: '^[A-Za-z0-9]{2,10}$'
    get:
      operationId: getAssetProfile
      summary: An asset's profile, as the sites show it
      description: |
        The name, introductions, links and logo the sites show for an
        asset beyond its code (ASTRA design §5.3; instrument-service keeps
        it). The logo is at logo_url, a path the console's domain also
        serves. Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The profile.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetProfile'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateAssetProfile
      summary: Replace an asset's profile
      description: |
        The text replaces the old (an empty display name shows the asset's
        name); logo (base64, with logo_mime: PNG, SVG or WebP, square, at
        most 200 KB; an SVG is rebuilt from an allow list of elements)
        replaces the logo, clear_logo removes it, neither keeps it. The
        sites show it within a minute: a new logo gets a new URL. Audited
        as admin.instruments.profile_updated on asset:<code>, the logo by
        its type and size. Needs instruments.write.
      tags: [instruments]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/AssetProfileWrite'
                - $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The profile, its version moved on.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetProfile'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/changes:
    get:
      operationId: listInstrumentChanges
      summary: The changes of trading parameters, newest first
      description: |
        Waiting for a second ADMIN (PENDING_APPROVAL) or their time
        (SCHEDULED), applied, canceled, rejected or failed (the target
        moved since it was confirmed). Needs instruments.read.
      tags: [instruments]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_APPROVAL, SCHEDULED, APPLIED, CANCELED, REJECTED, FAILED]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of changes.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/InstrumentChange'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/changes/{id}/decide:
    post:
      operationId: decideInstrumentChange
      summary: Approve or reject a change waiting for a second ADMIN
      description: |
        Approved, it takes effect change_delay_seconds later; not by its
        requester (ADMIN_SELF_APPROVAL, who cancels instead);
        ADMIN_CHANGE_CLOSED once decided. Audited as
        admin.instruments.change_approved or change_rejected. Needs
        instruments.trading.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ChangeID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
[...]
