openapi: 3.1.0
info:
  title: Exchange admin console API
  version: 0.1.0
  description: |
    The admin console's API (requirements §5.12), served by admin-service
    under /admin/v1 behind nginx; the user gateway never routes here, and
    this contract stays out of the public API reference.

    Administrators are created with `exchangectl admin create` (no
    sign-up). Signing in takes the password and a code of the
    authenticator app bound at creation; each code works once, and five
    failures lock the account for 15 minutes. The session is an HttpOnly,
    Secure, SameSite=Strict cookie `admin_session` scoped to /admin/; it
    ends after 8 hours, or after an hour without a request. Every request
    other than GET must carry the header `X-Admin-CSRF: 1`.

    Roles grant permissions: ADMIN (everything), OPERATOR (accounts,
    orders, trading pairs and contracts, lifting a contract's reduce-only,
    feature flags), FINANCE (withdrawal reviews, ledger adjustments,
    insurance fund contributions), AUDITOR (read-only). Everyone may read,
    including the reports from the ClickHouse read models. A call
    outside the role fails with ADMIN_FORBIDDEN. Every change is audited
    (audit.events → ClickHouse audit_logs) with the administrator's email
    as the actor; changes also carry a reason of at least 3 characters.
    Manual ledger adjustments and insurance fund contributions take two
    administrators: one requests, a different one approves, and the ledger
    books it idempotently.

    Lists page with an opaque cursor: an answer's `next_cursor` (null on
    the last page) is passed back as `cursor` for the next; `limit` is
    1 to 200 (50 by default) unless an endpoint says otherwise. Orders,
    trades, deposits and the overview come from the ClickHouse read
    models, a few seconds behind the services.
servers:
  - url: https://astras.vip
security:
  - session: []
tags:
  - name: session
  - name: users
  - name: withdrawals
  - name: instruments
  - name: flags
  - name: ledger
  - name: audit
  - name: reports
  - name: derivatives
paths:
  /admin/v1/login:
    post:
      operationId: login
      summary: Sign in with password and authenticator code
      description: |
        Sets the session cookie. Fails with ADMIN_LOGIN_FAILED for a wrong
        email, password or code (or a code used before), ADMIN_LOCKED
        after five failures in a row (15 minutes), and COMMON_RATE_LIMITED
        beyond 10 attempts a minute from one IP.
      tags: [session]
      security:
        - csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password, totp_code]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                totp_code:
                  type: string
                  pattern: '^[0-9]{6}$'
      responses:
        '200':
          description: Signed in.
          headers:
            Set-Cookie:
              schema:
                type: string
              description: admin_session=...; Path=/admin/; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                type: object
                required: [admin, expires_at]
                properties:
                  admin:
                    $ref: '#/components/schemas/Admin'
                  expires_at:
                    type: string
                    format: date-time
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/logout:
    post:
      operationId: logout
      summary: End the session
      tags: [session]
      security:
        - session: []
          csrf: []
      responses:
        '204':
          description: Signed out; the cookie is cleared.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me:
    get:
      operationId: me
      summary: The signed-in administrator and their permissions
      tags: [session]
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users:
    get:
      operationId: listUsers
      summary: Accounts, newest first
      description: Needs users.read. Contact data stays in auth-service; find an account by email or phone with users/lookup.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        - name: region
          in: query
          description: ISO 3166-1 alpha-2.
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of accounts.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSummary'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/orders:
    get:
      operationId: listOrders
      summary: Spot orders in their latest state, newest first
      description: From the read model orders_current. Needs reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: symbol
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [NEW, OPEN, PARTIALLY_FILLED, FILLED, CANCELED, REJECTED]
        - name: side
          in: query
          schema:
            type: string
            enum: [BUY, SELL]
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of orders.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/trades:
    get:
      operationId: listTrades
      summary: Spot trades, newest first
      description: From the read model trades; user_id matches either side. Needs reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: symbol
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of trades.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trade'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits:
    get:
      operationId: listDeposits
      summary: Deposits in their latest state, newest first
      description: From the read model wallet_deposits. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/dashboard:
    get:
      operationId: getDashboard
      summary: The overview
      description: |
        Accounts (user-service), the last 24 hours' trading and what waits
        in the wallet (read models), the reference feed (market-data-service)
        and a daily series. A part that cannot be read is left empty and
        named in `partial`. Needs reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/lookup:
    get:
      operationId: lookupUser
      summary: Find an account by user ID, email address or phone number
      description: Phone numbers in E.164 with the leading "+". Needs users.read.
      tags: [users]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            examples: [alice@example.com]
      responses:
        '200':
          description: The account and its balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/status:
    post:
      operationId: changeUserStatus
      summary: Move an account to another status (freeze, unfreeze, review, close)
      description: |
        user-service applies its state machine (appendix B) and records the
        change with the administrator as the actor. Needs users.status.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
                reason:
                  type: string
                  description: Reason code of user-service, e.g. SUSPICIOUS_LOGIN, USER_REQUEST.
                note:
                  type: string
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/cancel-orders:
    post:
      operationId: cancelUserOrders
      summary: Cancel every open order of an account
      description: Needs orders.cancel. The cancellations complete asynchronously in the matching engine.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancellations requested.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals:
    get:
      operationId: listWithdrawals
      summary: Withdrawals, the review queue by default
      description: |
        From wallet-service. The review queue (PENDING_REVIEW) lists oldest
        first, every other status newest first, unless order says otherwise.
        Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: status
          in: query
          description: A withdrawal status (appendix B), e.g. APPROVED, BROADCAST, CONFIRMED, REJECTED, FAILED; ALL for every status.
          schema:
            type: string
            default: PENDING_REVIEW
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of withdrawals.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Withdrawal'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/review:
    post:
      operationId: reviewWithdrawal
      summary: Approve or reject a withdrawal in review
      description: |
        The administrator's email is the reviewer; a withdrawal above
        20,000 USDT needs two distinct reviewers. Rejecting releases the
        frozen amount. Needs withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The withdrawal after the review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments:
    get:
      operationId: listInstruments
      summary: Assets (with networks), trading pairs and perpetual contracts
      description: |
        As instrument-service returns them (protobuf JSON with field names;
        int64 as strings). Assets and networks change through the
        versioned reference-data file (exchangectl instruments apply, run
        by every deploy). Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The reference data.
          content:
            application/json:
              schema:
                type: object
                required: [assets, pairs, contracts]
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pair'
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/pairs/{symbol}/status:
    post:
      operationId: setPairStatus
      summary: Move a trading pair to another status (the per-pair emergency switch)
      description: |
        PREPARE → TRADING ⇄ HALT; TRADING or HALT → CANCEL_ONLY →
        DELISTED (CANCEL_ONLY is the way out: it cannot return to
        trading). Fails with INSTRUMENT_STATUS_TRANSITION_INVALID
        otherwise. Needs instruments.write.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      parameters:
        - name: symbol
          in: path
          required: true
          schema:
            type: string
            examples: [BTC-USDT]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/flags:
    get:
      operationId: listFlags
      summary: Feature flags (requirements §5.14)
      description: Every flag the platform knows; one never set is off, with version 0. Needs flags.read.
      tags: [flags]
      responses:
        '200':
          description: The flags.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Flag'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/flags/{key}:
    put:
      operationId: switchFlag
      summary: Turn a flag on or off
      description: |
        Keeps the flag's rules (regions, statuses, allow lists); services
        pick the change up within 5 seconds. Fails with COMMON_NOT_FOUND
        for a key the platform does not define. Needs flags.write.
      tags: [flags]
      security:
        - session: []
          csrf: []
      parameters:
        - name: key
          in: path
          required: true
          schema:
            type: string
            examples: [wallet.withdraw]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled, reason]
              properties:
                enabled:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The flag after the change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Flag'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/ledger/adjustments:
    post:
      operationId: requestAdjustment
      summary: Request a manual adjustment of a user's spot balance
      description: |
        Creates a PENDING request for another administrator with
        ledger.adjust.approve. A positive amount credits the user's SPOT
        account against the ADJUSTMENT system account, a negative one
        debits it. Needs ledger.adjust.request.
      tags: [ledger]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, asset, amount, reason]
              properties:
                user_id:
                  type: string
                  format: uuid
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/approvals:
    get:
      operationId: listApprovals
      summary: Two-person requests, newest first
      description: Needs ledger.adjust.request or audit.read.
      tags: [ledger]
      parameters:
        - name: status
          in: query
          description: Empty for all.
          schema:
            type: string
            enum: [PENDING, EXECUTED, REJECTED, FAILED]
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of requests.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Approval'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/approvals/{id}/decide:
    post:
      operationId: decideApproval
      summary: Approve (and book) or reject another administrator's request
      description: |
        Fails with ADMIN_SELF_APPROVAL for one's own request and
        ADMIN_APPROVAL_DECIDED once decided. Approving books the
        adjustment with the idempotency key approval:<id>: EXECUTED with
        the journal, or FAILED when the ledger refuses (for instance
        LEDGER_ADJUSTMENT_DISABLED while the flag ledger.manual_adjustment
        is off). When the ledger cannot be reached the request stays
        PENDING and can be approved again. Needs ledger.adjust.approve.
      tags: [ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The decided request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/audit-logs:
    get:
      operationId: searchAuditLogs
      summary: The audit trail, newest first
      description: |
        From ClickHouse audit_logs, which lags the change by a few seconds.
        Needs audit.read.
      tags: [audit]
      parameters:
        - name: actor
          in: query
          description: Exact actor, e.g. an administrator's email or cli:ubuntu.
          schema:
            type: string
        - name: target
          in: query
          description: Exact target, e.g. user:<id>, pair:BTC-USDT, flag:wallet.withdraw.
          schema:
            type: string
        - name: event_type
          in: query
          description: Exact event type, e.g. exchange.audit.v1.AdminAction.
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: A page of entries.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/AuditEntry'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/trading:
    get:
      operationId: tradingReport
      summary: Trades and orders per symbol and day (UTC), newest first
      description: |
        From the ClickHouse read models (trades, order_updates), which lag
        the services by a few seconds. Needs reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The days.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/TradingDay'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/wallet:
    get:
      operationId: walletReport
      summary: Credited deposits and confirmed withdrawals per asset and day (UTC)
      description: |
        Deposits booked to users (not the unclaimed ones) by the day they
        were credited; withdrawals by the day they were confirmed. Needs
        reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The days.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WalletDay'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/candles:
    get:
      operationId: candleReport
      summary: Candles of a symbol from the trades read model, newest first
      description: Intervals are aligned to the epoch in UTC. Needs reports.read.
      tags: [reports]
      parameters:
        - name: symbol
          in: query
          required: true
          schema:
            type: string
            examples: [BTC-USDT]
        - name: interval
          in: query
          schema:
            type: string
            enum: [1m, 5m, 15m, 1h, 4h, 1d]
            default: 1h
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 48
      responses:
        '200':
          description: The candles.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Candle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/derivatives:
    get:
      operationId: derivativesReport
      summary: Each perpetual contract's trading, funding and liquidations per day (UTC)
      description: |
        From the ClickHouse contract read models (derivatives_fills,
        derivatives_funding, derivatives_liquidations): settled fills and
        their fees and results, the funding the positions paid and
        received at the day's settlements, the positions taken over, the
        auto-deleveraged counterparties and what the insurance fund paid.
        Needs reports.read.
      tags: [reports, derivatives]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The days.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/DerivativesDay'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/reports/open-interest:
    get:
      operationId: openInterestReport
      summary: Each contract's open positions from the positions read model
      description: |
        The latest position snapshots (derivatives_positions); a few
        seconds behind derivatives-service. Needs reports.read.
      tags: [reports, derivatives]
      responses:
        '200':
          description: The contracts with open positions.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/OpenInterest'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/contracts:
    get:
      operationId: listContractStates
      summary: Each perpetual contract's status, reduce-only state, mark price and open interest
      description: |
        Live from derivatives-service. A contract goes reduce-only by
        itself when its index or mark price fails (requirements §11.7:
        risk.events SystemDegraded); only a person lifts it. Needs
        derivatives.read.
      tags: [derivatives]
      responses:
        '200':
          description: The contracts.
          content:
            application/json:
              schema:
                type: object
                required: [contracts]
                properties:
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractState'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/contracts/{symbol}/status:
    post:
      operationId: setContractStatus
      summary: Move a perpetual contract to another status
      description: |
        The same transitions as trading pairs (PREPARE → TRADING ⇄ HALT;
        TRADING or HALT → CANCEL_ONLY → DELISTED); instrument-service
        records the change. Needs instruments.write.
      tags: [derivatives, instruments]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/Contract'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/contracts/{symbol}/lift-reduce-only:
    post:
      operationId: liftReduceOnly
      summary: End a contract's reduce-only once its prices are sound again
      description: |
        lifted is false when the contract was not reduce-only. Check the
        mark price first: a contract whose mark is still stale degrades
        again within seconds. Needs derivatives.write.
      tags: [derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/Contract'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The outcome.
          content:
            application/json:
              schema:
                type: object
                required: [symbol, lifted]
                properties:
                  symbol:
                    type: string
                  lifted:
                    type: boolean
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/risk:
    get:
      operationId: listRiskPositions
      summary: Positions warned, taken over by the liquidation engine or close to it
      description: |
        Live from derivatives-service: positions taken over, warned
        (margin balance at most 1.2 × maintenance margin) or with a margin
        ratio of at least 0.5, riskiest first. Cross positions are
        measured on their own here. Needs derivatives.read.
      tags: [derivatives]
      responses:
        '200':
          description: The positions.
          content:
            application/json:
              schema:
                type: object
                required: [positions]
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/RiskPosition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/liquidations:
    get:
      operationId: listLiquidations
      summary: Liquidation steps, newest first
      description: From the ClickHouse read model derivatives_liquidations. Needs derivatives.read.
      tags: [derivatives]
      parameters:
        - $ref: '#/components/parameters/Days'
        - name: kind
          in: query
          description: Empty for all.
          schema:
            type: string
            enum: [WARNING, STARTED, FILLED, ADL]
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 100
      responses:
        '200':
          description: A page of steps.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LiquidationStep'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/insurance-fund:
    get:
      operationId: getInsuranceFund
      summary: The insurance fund's balance
      description: |
        The ledger's INSURANCE_FUND system account, with PNL_CLEARING (the
        open positions' unsettled results, which may be negative). Needs
        derivatives.read.
      tags: [derivatives]
      parameters:
        - name: asset
          in: query
          schema:
            type: string
            default: USDT
      responses:
        '200':
          description: The balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsuranceFund'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/derivatives/insurance-fund/contributions:
    post:
      operationId: requestInsuranceFunding
      summary: Request a contribution of simulated funds to the insurance fund
      description: |
        Creates a PENDING INSURANCE_FUND request for another administrator
        with ledger.adjust.approve; approving books it (ledger
        FundInsurance, INSURANCE_CONTRIBUTION from ADJUSTMENT), which needs
        the flag ledger.manual_adjustment. Needs ledger.adjust.request.
      tags: [derivatives, ledger]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [amount, reason]
              properties:
                asset:
                  type: string
                  default: USDT
                amount:
                  description: Positive.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
components:
  securitySchemes:
    session:
      type: apiKey
      in: cookie
      name: admin_session
    csrf:
      type: apiKey
      in: header
      name: X-Admin-CSRF
      description: The value "1" on every request other than GET; a cross-site form cannot set it.
  parameters:
    Cursor:
      name: cursor
      in: query
      description: The previous page's next_cursor; omitted for the first page.
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 200
        default: 50
    From:
      name: from
      in: query
      description: From this time on (RFC 3339).
      schema:
        type: string
        format: date-time
    To:
      name: to
      in: query
      description: Before this time (RFC 3339).
      schema:
        type: string
        format: date-time
    UserFilter:
      name: user_id
      in: query
      schema:
        type: string
        format: uuid
    Days:
      name: days
      in: query
      description: Days back, today included.
      schema:
        type: integer
        minimum: 1
        maximum: 90
        default: 7
    UserID:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    Contract:
      name: symbol
      in: path
      required: true
      schema:
        type: string
        examples: [BTC-USDT-PERP]
  responses:
    Error:
      $ref: '../openapi/common.yaml#/components/responses/Error'
  schemas:
    NextCursor:
      type: [string, 'null']
      description: Pass as cursor for the next page; null on the last.
    UserSummary:
      type: object
      required: [id, status, region, language, kyc_level, created_at]
      properties:
        id:
          type: string
          format: uuid
        status:
          type: string
          enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        region:
          type: string
        language:
          type: string
        kyc_level:
          type: integer
        created_at:
          type: string
          format: date-time
    Order:
      type: object
      required: [order_id, client_order_id, user_id, symbol, side, type, time_in_force, price, quantity, quote_amount, status,
        filled_quantity, filled_quote, reason, created_at, updated_at]
      properties:
        order_id:
          type: string
          format: uuid
        client_order_id:
          type: string
        user_id:
          type: string
          format: uuid
        symbol:
          type: string
        side:
          type: string
          enum: [BUY, SELL]
        type:
          type: string
          examples: [LIMIT, MARKET]
        time_in_force:
          type: string
        price:
          $ref: '#/components/schemas/NullableDecimal'
        quantity:
          $ref: '#/components/schemas/NullableDecimal'
        quote_amount:
          $ref: '#/components/schemas/NullableDecimal'
        status:
          type: string
        filled_quantity:
          $ref: '#/components/schemas/Decimal'
        filled_quote:
          $ref: '#/components/schemas/Decimal'
        reason:
          type: string
          description: Why it was canceled or rejected; empty otherwise.
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    Trade:
      type: object
      required: [trade_id, symbol, trade_number, price, quantity, quote_quantity, taker_side, buyer_user_id, buyer_order_id,
        seller_user_id, seller_order_id, buyer_is_maker, buyer_fee, seller_fee, executed_at]
      properties:
        trade_id:
          type: string
          format: uuid
        symbol:
          type: string
        trade_number:
          type: integer
          format: int64
        price:
          $ref: '#/components/schemas/Decimal'
        quantity:
          $ref: '#/components/schemas/Decimal'
        quote_quantity:
          $ref: '#/components/schemas/Decimal'
        taker_side:
          type: string
          enum: [BUY, SELL]
        buyer_user_id:
          type: string
        buyer_order_id:
          type: string
        seller_user_id:
          type: string
        seller_order_id:
          type: string
        buyer_is_maker:
          type: boolean
        buyer_fee:
          $ref: '#/components/schemas/Decimal'
        seller_fee:
          $ref: '#/components/schemas/Decimal'
        executed_at:
          type: string
          format: date-time
    Deposit:
      type: object
      required: [deposit_id, user_id, asset, network, kind, address, tx_hash, amount, status, unclaimed, reason, confirmations,
        required_confirmations, updated_at]
      properties:
        deposit_id:
          type: string
          format: uuid
        user_id:
          type: string
          description: Empty for a deposit to no known address.
        asset:
          type: string
        network:
          type: string
        kind:
          type: string
          examples: [CHAIN, INTERNAL]
        address:
          type: string
        tx_hash:
          type: string
        amount:
          $ref: '#/components/schemas/Decimal'
        status:
          type: string
        unclaimed:
          type: boolean
        reason:
          type: string
        confirmations:
          type: integer
        required_confirmations:
          type: integer
        updated_at:
          type: string
          format: date-time
    Dashboard:
      type: object
      required: [users, trading, wallet, risk, feed, series, partial]
      properties:
        users:
          type: object
          required: [total, new_24h]
          properties:
            total:
              type: integer
              format: int64
            new_24h:
              type: integer
              format: int64
        trading:
          type: object
          required: [trades_24h, active_traders_24h, turnover_24h]
          properties:
            trades_24h:
              type: integer
              format: int64
            active_traders_24h:
              type: integer
              format: int64
            turnover_24h:
              type: array
              items:
                type: object
                required: [quote_asset, amount]
                properties:
                  quote_asset:
                    type: string
                  amount:
                    $ref: '#/components/schemas/Decimal'
        wallet:
          type: object
          required: [pending_deposits, pending_withdrawals]
          properties:
            pending_deposits:
              type: integer
              format: int64
              description: Deposits detected or confirming.
            pending_withdrawals:
              type: integer
              format: int64
              description: Withdrawals waiting for review.
        risk:
          type: object
          required: [events_24h]
          properties:
            events_24h:
              type: integer
              format: int64
        feed:
          description: The reference feed; null when market-data-service could not be asked.
          oneOf:
            - type: 'null'
            - type: object
              required: [state, received_at, followed, halted]
              properties:
                state:
                  type: string
                  enum: [OFF, OK, DELAYED, DOWN]
                received_at:
                  type: [string, 'null']
                  format: date-time
                followed:
                  type: array
                  items:
                    type: string
                halted:
                  type: array
                  description: Pairs halted because the feed was lost (market.halt_on_feed_loss).
                  items:
                    type: object
                    required: [symbol, halted_at]
                    properties:
                      symbol:
                        type: string
                      halted_at:
                        type: string
                        format: date-time
        series:
          type: array
          description: One per UTC day, oldest first.
          items:
            type: object
            required: [day, new_users, trades, turnover_usdt]
            properties:
              day:
                type: string
                format: date
              new_users:
                type: integer
                format: int64
              trades:
                type: integer
                format: int64
              turnover_usdt:
                $ref: '#/components/schemas/Decimal'
        partial:
          type: array
          description: The parts that could not be read (users, activity, feed).
          items:
            type: string
    Decimal:
      type: string
      pattern: '^-?[0-9]+(\.[0-9]+)?$'
      examples: ['12.5']
    Reason:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          minLength: 3
    Transition:
      type: object
      required: [from, to]
      properties:
        from:
          type: string
        to:
          type: string
    Admin:
      type: object
      required: [id, email, name, role, permissions]
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
        name:
          type: string
        role:
          type: string
          enum: [ADMIN, OPERATOR, FINANCE, AUDITOR]
        permissions:
          type: array
          items:
            type: string
            enum: [users.read, users.status, orders.cancel, instruments.read, instruments.write, flags.read, flags.write,
              withdrawals.read, withdrawals.review, ledger.adjust.request, ledger.adjust.approve, audit.read, reports.read,
              derivatives.read, derivatives.write]
    UserView:
      type: object
      required: [user, balances]
      properties:
        user:
          type: object
          required: [id, status, region, language, kyc_level, created_at]
          properties:
            id:
              type: string
              format: uuid
            status:
              type: string
              enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
            region:
              type: string
            language:
              type: string
            kyc_level:
              type: integer
            created_at:
              type: string
              format: date-time
        balances:
          type: array
          items:
            type: object
            required: [account_type, asset, available, frozen]
            properties:
              account_type:
                type: string
                examples: [SPOT]
              asset:
                type: string
              available:
                $ref: '#/components/schemas/Decimal'
              frozen:
                $ref: '#/components/schemas/Decimal'
    Withdrawal:
      type: object
      required: [id, asset, network, address, amount, fee, internal, status, risk_reasons, approvals_required, created_at]
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
          description: In lists only.
        asset:
          type: string
        network:
          type: string
        address:
          type: string
        amount:
          $ref: '#/components/schemas/Decimal'
        fee:
          $ref: '#/components/schemas/Decimal'
        internal:
          type: boolean
        status:
          type: string
        risk_score:
          type: integer
          description: In lists only.
        risk_reasons:
          type: array
          items:
            type: string
            examples: [NEW_ACCOUNT, NEW_DEVICE, SECURITY_CHANGE, NEW_ADDRESS, LARGE_AMOUNT, DAILY_SHARE]
        value_usdt:
          $ref: '#/components/schemas/Decimal'
        approvals_required:
          type: integer
        approvals:
          type: array
          description: Reviewers so far (in lists only).
          items:
            type: string
        reject_reason:
          type: [string, 'null']
        tx_hash:
          type: [string, 'null']
        confirmations:
          type: integer
        required_confirmations:
          type: integer
        created_at:
          type: string
          format: date-time
        approved_at:
          type: [string, 'null']
        broadcast_at:
          type: [string, 'null']
        confirmed_at:
          type: [string, 'null']
    Network:
      type: object
      properties:
        asset_code:
          type: string
        network:
          type: string
        chain:
          type: string
        contract_address:
          type: string
        confirmations:
          type: integer
        min_deposit:
          $ref: '#/components/schemas/Decimal'
        min_withdraw:
          $ref: '#/components/schemas/Decimal'
        withdraw_fee:
          $ref: '#/components/schemas/Decimal'
        memo_required:
          type: boolean
        deposit_enabled:
          type: boolean
        withdraw_enabled:
          type: boolean
        version:
          type: string
    Asset:
      type: object
      properties:
        asset_code:
          type: string
        name:
          type: string
        decimals:
          type: integer
        deposit_enabled:
          type: boolean
        withdraw_enabled:
          type: boolean
        trading_enabled:
          type: boolean
        risk_restricted:
          type: boolean
        networks:
          type: array
          items:
            $ref: '#/components/schemas/Network'
        version:
          type: string
    Pair:
      type: object
      properties:
        symbol:
          type: string
        base_asset:
          type: string
        quote_asset:
          type: string
        tick_size:
          $ref: '#/components/schemas/Decimal'
        lot_size:
          $ref: '#/components/schemas/Decimal'
        min_quantity:
          $ref: '#/components/schemas/Decimal'
        max_quantity:
          $ref: '#/components/schemas/Decimal'
        min_notional:
          $ref: '#/components/schemas/Decimal'
        price_band:
          $ref: '#/components/schemas/Decimal'
        fee_tier:
          type: string
        maker_fee_rate:
          $ref: '#/components/schemas/Decimal'
        taker_fee_rate:
          $ref: '#/components/schemas/Decimal'
        status:
          type: string
          enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
        version:
          type: string
    Flag:
      type: object
      required: [key, enabled, description, version, updated_by, updated_at]
      properties:
        key:
          type: string
        enabled:
          type: boolean
        description:
          type: string
        rules:
          description: Targeting rules (regions, statuses, allow lists), kept as they are by a switch.
        version:
          type: integer
        updated_by:
          type: string
        updated_at:
          type: [string, 'null']
          format: date-time
          description: Null for a known flag never set (off).
    Approval:
      type: object
      required: [id, kind, payload, reason, status, requested_by, decided_by, result, created_at, decided_at]
      properties:
        id:
          type: string
          format: uuid
        kind:
          type: string
          enum: [LEDGER_ADJUSTMENT, INSURANCE_FUND]
        payload:
          type: object
          description: For LEDGER_ADJUSTMENT user_id, asset and amount; for INSURANCE_FUND asset and amount.
          additionalProperties:
            type: string
        reason:
          type: string
        status:
          type: string
          enum: [PENDING, EXECUTED, REJECTED, FAILED]
        requested_by:
          type: string
          format: uuid
          description: The requesting administrator's ID.
        decided_by:
          type: [string, 'null']
        result:
          type: string
          description: The journal once executed, the ledger's refusal, or the rejection reason.
        created_at:
          type: string
          format: date-time
        decided_at:
          type: [string, 'null']
    AuditEntry:
      type: object
      required: [event_id, event_type, actor, target, occurred_at, payload]
      properties:
        event_id:
          type: string
          format: uuid
        event_type:
          type: string
          examples: [audit.v1.AdminActionPerformed]
        actor:
          type: string
        target:
          type: string
        occurred_at:
          type: string
          format: date-time
        payload:
          description: The event as JSON.
    TradingDay:
      type: object
      required: [day, symbol, trades, volume, quote_volume, orders, rejected]
      properties:
        day:
          type: string
          format: date
        symbol:
          type: string
        trades:
          type: integer
        volume:
          $ref: '#/components/schemas/Decimal'
        quote_volume:
          $ref: '#/components/schemas/Decimal'
        orders:
          type: integer
          description: Orders accepted.
        rejected:
          type: integer
          description: Orders rejected (by the funds check or the engine).
    WalletDay:
      type: object
      required: [day, asset, deposits, deposit_amount, withdrawals, withdrawal_amount, withdrawal_fees]
      properties:
        day:
          type: string
          format: date
        asset:
          type: string
        deposits:
          type: integer
        deposit_amount:
          $ref: '#/components/schemas/Decimal'
        withdrawals:
          type: integer
        withdrawal_amount:
          $ref: '#/components/schemas/Decimal'
        withdrawal_fees:
          $ref: '#/components/schemas/Decimal'
    Candle:
      type: object
      required: [open_time, open, high, low, close, volume, quote_volume, trades]
      properties:
        open_time:
          type: string
          format: date-time
        open:
          $ref: '#/components/schemas/Decimal'
        high:
          $ref: '#/components/schemas/Decimal'
        low:
          $ref: '#/components/schemas/Decimal'
        close:
          $ref: '#/components/schemas/Decimal'
        volume:
          $ref: '#/components/schemas/Decimal'
        quote_volume:
          $ref: '#/components/schemas/Decimal'
        trades:
          type: integer
    NullableDecimal:
      type: [string, 'null']
      pattern: '^-?[0-9]+(\.[0-9]+)?$'
    Contract:
      type: object
      properties:
        symbol:
          type: string
        type:
          type: string
          enum: [PERPETUAL]
        base_asset:
          type: string
        quote_asset:
          type: string
        index_symbol:
          type: string
        tick_size:
          $ref: '#/components/schemas/Decimal'
        lot_size:
          $ref: '#/components/schemas/Decimal'
        min_quantity:
          $ref: '#/components/schemas/Decimal'
        max_quantity:
          $ref: '#/components/schemas/Decimal'
        min_notional:
          $ref: '#/components/schemas/Decimal'
        price_band:
          $ref: '#/components/schemas/Decimal'
        risk_tiers:
          type: array
          items:
            type: object
            properties:
              max_notional:
                $ref: '#/components/schemas/Decimal'
              max_leverage:
                type: integer
              mmr:
                $ref: '#/components/schemas/Decimal'
        funding_interval_hours:
          type: integer
        interest_rate:
          $ref: '#/components/schemas/Decimal'
        funding_cap:
          $ref: '#/components/schemas/Decimal'
        impact_notional:
          $ref: '#/components/schemas/Decimal'
        fee_tier:
          type: string
        maker_fee_rate:
          $ref: '#/components/schemas/Decimal'
        taker_fee_rate:
          $ref: '#/components/schemas/Decimal'
        status:
          type: string
          enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
        version:
          type: string
    ContractState:
      type: object
      required: [symbol, status, reduce_only, reduce_only_reason, reduce_only_since, lifted_by, mark_price, mark_at, mark_fresh,
        open_interest, positions]
      properties:
        symbol:
          type: string
        status:
          type: string
          enum: [PREPARE, TRADING, HALT, CANCEL_ONLY, DELISTED]
        reduce_only:
          type: boolean
        reduce_only_reason:
          type: string
          description: Why it last went reduce-only, e.g. MARK_PRICE_STALE or INDEX_SOURCES.
        reduce_only_since:
          type: [string, 'null']
          format: date-time
        lifted_by:
          type: string
          description: Who lifted the last reduce-only.
        mark_price:
          $ref: '#/components/schemas/NullableDecimal'
        mark_at:
          type: [string, 'null']
          format: date-time
        mark_fresh:
          type: boolean
          description: Whether the mark price is recent enough to trade on.
        open_interest:
          description: The long quantity (equal to the short one).
          $ref: '#/components/schemas/Decimal'
        positions:
          type: integer
    RiskPosition:
      type: object
      required: [position_id, user_id, symbol, position_side, quantity, entry_price, mark_price, notional, unrealized_pnl, margin,
        margin_mode, leverage, maintenance_margin, liquidation_price, realized_pnl, funding, updated_at, liquidating,
        liquidation_attempts, warned_at, margin_ratio]
      properties:
        position_id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        symbol:
          type: string
        position_side:
          type: string
          enum: [BOTH, LONG, SHORT]
        quantity:
          description: 'Signed: positive long, negative short.'
          $ref: '#/components/schemas/Decimal'
        entry_price:
          $ref: '#/components/schemas/Decimal'
        mark_price:
          $ref: '#/components/schemas/NullableDecimal'
        notional:
          $ref: '#/components/schemas/NullableDecimal'
        unrealized_pnl:
          $ref: '#/components/schemas/NullableDecimal'
        margin:
          $ref: '#/components/schemas/Decimal'
        margin_mode:
          type: string
          enum: [CROSS, ISOLATED]
        leverage:
          type: integer
        maintenance_margin:
          $ref: '#/components/schemas/NullableDecimal'
        liquidation_price:
          $ref: '#/components/schemas/NullableDecimal'
        realized_pnl:
          $ref: '#/components/schemas/Decimal'
        funding:
          $ref: '#/components/schemas/Decimal'
        updated_at:
          type: string
          format: date-time
        liquidating:
          type: boolean
          description: Taken over by the liquidation engine.
        liquidation_attempts:
          type: integer
        warned_at:
          type: [string, 'null']
          format: date-time
        margin_ratio:
          description: Maintenance margin / (margin + unrealized result); null without a mark price or once the margin is gone.
          $ref: '#/components/schemas/NullableDecimal'
    LiquidationStep:
      type: object
      required: [event_id, kind, user_id, symbol, position_side, cross, adl, trade_id, price, quantity, realized_pnl,
        insurance_paid, mark_price, bankruptcy_price, margin_balance, maintenance_margin, occurred_at]
      properties:
        event_id:
          type: string
          format: uuid
        kind:
          type: string
          enum: [WARNING, STARTED, FILLED, ADL]
          description: |
            WARNING: margin balance at most 1.2 × maintenance; STARTED:
            taken over; FILLED: a liquidation order (or, adl, an
            auto-deleveraging) closed part of it; ADL: a counterparty's
            position closed by auto-deleveraging.
        user_id:
          type: string
          format: uuid
        symbol:
          type: string
          description: Empty for a warning of a cross account.
        position_side:
          type: string
        cross:
          type: boolean
        adl:
          type: boolean
        trade_id:
          type: string
        price:
          $ref: '#/components/schemas/Decimal'
        quantity:
          $ref: '#/components/schemas/Decimal'
        realized_pnl:
          $ref: '#/components/schemas/Decimal'
        insurance_paid:
          $ref: '#/components/schemas/Decimal'
        mark_price:
          $ref: '#/components/schemas/Decimal'
        bankruptcy_price:
          $ref: '#/components/schemas/Decimal'
        margin_balance:
          $ref: '#/components/schemas/Decimal'
        maintenance_margin:
          $ref: '#/components/schemas/Decimal'
        occurred_at:
          type: string
          format: date-time
    InsuranceFund:
      type: object
      required: [asset, balance, pnl_clearing]
      properties:
        asset:
          type: string
        balance:
          $ref: '#/components/schemas/Decimal'
        pnl_clearing:
          $ref: '#/components/schemas/Decimal'
    DerivativesDay:
      type: object
      required: [day, symbol, fills, volume, notional, fees, realized_pnl, funding_paid, funding_received, liquidations, adl,
        insurance_paid]
      properties:
        day:
          type: string
          format: date
        symbol:
          type: string
        fills:
          type: integer
          description: Settled sides of trades (two per trade).
        volume:
          description: Quantity traded (once per trade).
          $ref: '#/components/schemas/Decimal'
        notional:
          $ref: '#/components/schemas/Decimal'
        fees:
          $ref: '#/components/schemas/Decimal'
        realized_pnl:
          $ref: '#/components/schemas/Decimal'
        funding_paid:
          $ref: '#/components/schemas/Decimal'
        funding_received:
          $ref: '#/components/schemas/Decimal'
        liquidations:
          type: integer
          description: Positions taken over.
        adl:
          type: integer
          description: Counterparty positions auto-deleveraged.
        insurance_paid:
          $ref: '#/components/schemas/Decimal'
    OpenInterest:
      type: object
      required: [symbol, long, short, positions]
      properties:
        symbol:
          type: string
        long:
          $ref: '#/components/schemas/Decimal'
        short:
          $ref: '#/components/schemas/Decimal'
        positions:
          type: integer
