openapi: 3.1.0
info:
  title: Exchange admin console API
  version: 0.1.0
  description: |
    The admin console's API (requirements §5.12), served by admin-service
    under /admin/v1 behind nginx; the user gateway never routes here, and
    this contract stays out of the public API reference.

    Administrators are created by an ADMIN on the administrators page
    (POST /admin/v1/admins), or with `exchangectl admin create` when no
    ADMIN can sign in (no sign-up). Signing in takes the password and a code of the
    authenticator app bound at creation; each code works once, and five
    failures lock the account for 15 minutes. The feature flag
    admin.login_without_totp switches the code off (test environments):
    the password alone signs in, and GET /admin/v1/login-options tells the
    sign-in page not to ask for it. The session is an HttpOnly,
    Secure, SameSite=Strict cookie `admin_session` scoped to /admin/; it
    ends after 8 hours, or after an hour without a request. Every request
    other than GET must carry the header `X-Admin-CSRF: 1`.

    Roles grant permissions: ADMIN (everything, and alone the console's
    settings, the administrators and the trading parameters: statuses,
    fee rates, risk ladders, reference symbols), OPERATOR (accounts,
    orders, the rest of the reference data and new pairs and contracts,
    lifting a contract's reduce-only, feature flags other than the
    console's own), FINANCE (withdrawal reviews, ledger adjustments,
    insurance fund contributions), AUDITOR (read-only). Everyone may read,
    including the reports from the ClickHouse read models. A call
    outside the role fails with ADMIN_FORBIDDEN. Every change is audited
    (audit.events → ClickHouse audit_logs) with the administrator's email
    as the actor; changes also carry a reason of at least 3 characters.

    Fund operations (manual ledger adjustments and insurance fund
    contributions) are approved by a second administrator while the flag
    admin.two_person_approval is on. Off (single-person mode, the test
    server), an administrator carries one out alone when asked to
    (`direct`, and always from a user's page) if it is worth at most the
    single-operation limit and keeps their operations of the last 24 hours
    within the daily limit (GET /admin/v1/settings; 100,000 and 500,000
    USDT by default); anything larger, or of unknown worth, still waits
    for a second administrator. The ledger books each operation once with
    the idempotency key approval:<id>.

    Lists page with an opaque cursor: an answer's `next_cursor` (null on
    the last page) is passed back as `cursor` for the next; `limit` is
    1 to 200 (50 by default) unless an endpoint says otherwise. Orders,
    trades, deposits and the overview come from the ClickHouse read
    models, a few seconds behind the services.

    The margin endpoints (tag margin, design 2026-10-06 §8) are a draft
    for batch E5: admin-service does not serve them yet, and they change
    to match E0's contract (api/openapi/margin.yaml, margin.events) when
    it lands.
servers:
  - url: https://admin.astras.vip
security:
  - session: []
tags:
  - name: session
  - name: admins
  - name: users
  - name: withdrawals
  - name: instruments
  - name: flags
  - name: ledger
  - name: audit
  - name: reports
  - name: derivatives
  - name: content
  - name: custody
  - name: sim
  - name: platform
  - name: margin
paths:
  /admin/v1/login-options:
    get:
      operationId: loginOptions
      summary: What signing in asks for
      description: |
        Whether the sign-in page asks for the authenticator code: true
        unless the feature flag admin.login_without_totp is on. Needs no
        session.
      tags: [session]
      security: []
      responses:
        '200':
          description: The sign-in options.
          content:
            application/json:
              schema:
                type: object
                required: [totp_required]
                properties:
                  totp_required:
                    type: boolean
  /admin/v1/login:
    post:
      operationId: login
      summary: Sign in with password and authenticator code
      description: |
        Sets the session cookie. Fails with ADMIN_LOGIN_FAILED for a wrong
        email, password or code (or a code used before), ADMIN_LOCKED
        after five failures in a row (15 minutes), and COMMON_RATE_LIMITED
        beyond 10 attempts a minute from one IP. The code may be left out
        while the flag admin.login_without_totp is on; it is then not
        checked.
      tags: [session]
      security:
        - csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, password]
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                totp_code:
                  type: string
                  pattern: '^[0-9]{6}$'
                  description: Required unless GET /admin/v1/login-options says otherwise.
      responses:
        '200':
          description: Signed in.
          headers:
            Set-Cookie:
              schema:
                type: string
              description: admin_session=...; Path=/admin/; HttpOnly; Secure; SameSite=Strict
          content:
            application/json:
              schema:
                type: object
                required: [admin, expires_at]
                properties:
                  admin:
                    $ref: '#/components/schemas/Admin'
                  expires_at:
                    type: string
                    format: date-time
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/logout:
    post:
      operationId: logout
      summary: End the session
      tags: [session]
      security:
        - session: []
          csrf: []
      responses:
        '204':
          description: Signed out; the cookie is cleared.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me:
    get:
      operationId: me
      summary: The signed-in administrator and their permissions
      tags: [session]
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Admin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me/password:
    post:
      operationId: changeOwnPassword
      summary: Change one's own password
      description: |
        The current password proves it is them (ADMIN_PASSWORD_WRONG); the
        new one has at least 12 characters. Their other sessions end.
        Audited as admin.password_changed. Open to an administrator who
        must change their password first (must_change_password); nothing
        else is (ADMIN_PASSWORD_CHANGE_REQUIRED, C5.5 ⑪).
      tags: [session]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password, new_password]
              properties:
                current_password:
                  type: string
                new_password:
                  type: string
                  minLength: 12
      responses:
        '204':
          description: Changed.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me/totp/start:
    post:
      operationId: startOwnTOTP
      summary: A new authenticator for oneself, to bind
      description: |
        The current password and, while sign-in asks for codes, the current
        authenticator's code prove it is them (ADMIN_PASSWORD_WRONG,
        ADMIN_TOTP_CODE_WRONG). Answers with a new secret and its otpauth
        URI (no-store); the old authenticator signs in until POST
        /admin/v1/me/totp binds the new one, within 10 minutes. This and
        the other two of one's own credentials take 10 requests in 15
        minutes per administrator (COMMON_RATE_LIMITED).
      tags: [session]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [current_password]
              properties:
                current_password:
                  type: string
                totp_code:
                  type: string
                  description: The current authenticator's code; left out while admin.login_without_totp is on.
      responses:
        '200':
          description: The new authenticator.
          content:
            application/json:
              schema:
                type: object
                required: [totp_secret, totp_uri]
                properties:
                  totp_secret:
                    type: string
                  totp_uri:
                    type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/me/totp:
    post:
      operationId: confirmOwnTOTP
      summary: Bind the new authenticator with its code
      description: |
        A wrong code is ADMIN_TOTP_CODE_WRONG; nothing waiting (or late)
        COMMON_CONFLICT. Their other sessions end. Audited as
        admin.totp_changed.
      tags: [session]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [totp_code]
              properties:
                totp_code:
                  type: string
                  pattern: '^[0-9]{6}$'
      responses:
        '204':
          description: Bound.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/setup/inspect:
    post:
      operationId: inspectAdminSetup
      summary: What a one-time setup link sets up
      description: |
        No session: the token is the proof (ADMIN_SETUP_INVALID when it is
        unknown, used or expired). Answers with the account and, when the
        link binds an authenticator, its secret and otpauth URI (no-store).
        Throttled with the sign-in.
      tags: [session]
      security:
        - csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
      responses:
        '200':
          description: The setup.
          content:
            application/json:
              schema:
                type: object
                required: [email, name, kind, expires_at, sets_password, totp_secret, totp_uri]
                properties:
                  email:
                    type: string
                  name:
                    type: string
                  kind:
                    type: string
                    enum: [CREATE, PASSWORD, TOTP]
                  expires_at:
                    type: string
                    format: date-time
                  sets_password:
                    type: boolean
                  totp_secret:
                    type: [string, 'null']
                  totp_uri:
                    type: [string, 'null']
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/setup:
    post:
      operationId: completeAdminSetup
      summary: Set what a one-time setup link sets up
      description: |
        The password (at least 12 characters) when the link sets one, the
        authenticator's current code when it binds one
        (ADMIN_TOTP_CODE_WRONG). The link is spent; the administrator then
        signs in as usual. Audited as admin.setup_completed in their name,
        with the address it came from. Throttled with the sign-in.
      tags: [session]
      security:
        - csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [token]
              properties:
                token:
                  type: string
                password:
                  type: string
                totp_code:
                  type: string
      responses:
        '204':
          description: Set up.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/roles:
    get:
      operationId: listRoles
      summary: Every role with its permissions
      description: Any administrator reads them.
      tags: [admins]
      responses:
        '200':
          description: The roles.
          content:
            application/json:
              schema:
                type: object
                required: [roles]
                properties:
                  roles:
                    type: array
                    items:
                      $ref: '#/components/schemas/RolePermissions'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins:
    get:
      operationId: listAdmins
      summary: The administrators
      description: Every administrator, with their live sessions. Needs admins.manage.
      tags: [admins]
      responses:
        '200':
          description: The administrators.
          content:
            application/json:
              schema:
                type: object
                required: [admins]
                properties:
                  admins:
                    type: array
                    items:
                      $ref: '#/components/schemas/ManagedAdmin'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createAdmin
      summary: Create an administrator
      description: |
        Answers with the administrator and a one-time setup link's token
        (a day), shown this once: the answer is not cached (Cache-Control:
        no-store), and the token is neither logged nor audited. Its holder
        sets the password and binds the authenticator (POST
        /admin/v1/setup): whoever created the account never knows what
        signs it in (C5.5 ⑪). Audited as admin.created. Needs
        admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [email, name, role, reason]
              properties:
                email:
                  type: string
                  format: email
                name:
                  type: string
                  minLength: 1
                role:
                  $ref: '#/components/schemas/AdminRole'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The administrator and their setup link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSetup'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/status:
    post:
      operationId: setAdminStatus
      summary: Disable or enable an administrator
      description: |
        Disabling ends their sessions at once; enabling also lifts a lock
        after failed sign-ins. Nobody changes their own account here
        (ADMIN_SELF), and an active ADMIN always remains
        (ADMIN_LAST_ADMIN). Audited as admin.disabled or admin.enabled.
        Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [enabled, reason]
              properties:
                enabled:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAdmin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/role:
    post:
      operationId: setAdminRole
      summary: Change an administrator's role
      description: |
        Takes effect on their next request. Not one's own (ADMIN_SELF), nor
        the last active ADMIN's (ADMIN_LAST_ADMIN). Audited as
        admin.role_changed. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [role, reason]
              properties:
                role:
                  $ref: '#/components/schemas/AdminRole'
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedAdmin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/password-reset:
    post:
      operationId: resetAdminPassword
      summary: Reset an administrator's password
      description: |
        The old password stops working and their sessions end; answers
        with a one-time setup link's token (a day, no-store, never logged
        or audited) whose holder sets a new one (C5.5 ⑪). Not one's own
        (ADMIN_SELF). Audited as admin.password_reset. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The setup link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSetup'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/totp-reset:
    post:
      operationId: resetAdminTOTP
      summary: Reset an administrator's authenticator
      description: |
        The old authenticator stops working and their sessions end;
        answers with a one-time setup link's token (a day, no-store, never
        logged or audited) whose holder binds a new one (C5.5 ⑪). Not
        one's own (ADMIN_SELF). Audited as admin.totp_reset. Needs
        admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The setup link.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdminSetup'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/sessions:
    get:
      operationId: adminSessions
      summary: An administrator's live sessions
      description: At most 50, the latest first. Needs admins.manage.
      tags: [admins]
      parameters:
        - $ref: '#/components/parameters/AdminID'
      responses:
        '200':
          description: The sessions.
          content:
            application/json:
              schema:
                type: object
                required: [sessions]
                properties:
                  sessions:
                    type: array
                    items:
                      $ref: '#/components/schemas/AdminSession'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/admins/{id}/sessions/revoke:
    post:
      operationId: revokeAdminSessions
      summary: End every session of an administrator
      description: |
        Not one's own (ADMIN_SELF; signing out ends one's session).
        Audited as admin.sessions_revoked. Needs admins.manage.
      tags: [admins]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/AdminID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '204':
          description: The sessions ended.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/settings:
    get:
      operationId: getSettings
      summary: The console's settings
      description: |
        Whether fund operations need a second administrator (the flag
        admin.two_person_approval) and the single-person limits, with the
        caller's single-person total of the last 24 hours. Every
        administrator may read them.
      tags: [session]
      responses:
        '200':
          description: The settings.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateSettings
      summary: Change the console's settings
      description: |
        Changes the fields given: the limits and the delay of trading
        parameters' changes (audited as admin.settings.changed) and
        two-person approval (switches the flag
        admin.two_person_approval, audited by the flags; the other
        instances follow within 5 seconds). The daily limit must cover the
        single-operation one, and each limit is at most ten times its
        default (single 1,000,000, 24 hours 5,000,000, withdrawal
        1,000,000 USDT). Needs settings.write (ADMIN).
      tags: [session]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                two_person_approval:
                  type: boolean
                single_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                daily_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                withdrawal_max_usdt:
                  $ref: '#/components/schemas/Decimal'
                change_delay_seconds:
                  type: integer
                  minimum: 60
                  maximum: 86400
                  description: At least change_delay_floor_seconds (COMMON_INVALID_ARGUMENT below it).
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The settings after the change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/todo:
    get:
      operationId: getTodo
      summary: What waits for the administrator
      description: |
        The counts behind the console's badges, as far as the role shows
        them (zero otherwise): withdrawals in review (counted up to 200)
        and fund operations waiting for a decision. A count that cannot be
        read is zero and named in `partial`.
      tags: [session]
      responses:
        '200':
          description: The counts.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Todo'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/events:
    get:
      operationId: streamEvents
      summary: The counts as they change (Server-Sent Events)
      description: |
        An event stream: `todo` with the counts of GET /admin/v1/todo at
        once and whenever they change (checked every 10 seconds),
        `signed_out` when the session ends, and a comment after 20 seconds
        without an event. The stream does not keep the session alive; the
        browser reconnects after 5 seconds when it drops.
      tags: [session]
      responses:
        '200':
          description: The stream.
          content:
            text/event-stream:
              schema:
                type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users:
    get:
      operationId: listUsers
      summary: Accounts, newest first
      description: Needs users.read. Contact data stays in auth-service; find an account by email or phone with users/lookup.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
        - name: region
          in: query
          description: ISO 3166-1 alpha-2.
          schema:
            type: string
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of accounts.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserSummary'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/orders:
    get:
      operationId: listOrders
      summary: Spot orders in their latest state, newest first
      description: From the read model orders_current. Needs reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: order_id
          in: query
          description: One order (the console's search).
          schema:
            type: string
            format: uuid
        - name: symbol
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [NEW, OPEN, PARTIALLY_FILLED, FILLED, CANCELED, REJECTED]
        - name: side
          in: query
          schema:
            type: string
            enum: [BUY, SELL]
        - $ref: '#/components/parameters/Accounts'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of orders.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Order'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/trades:
    get:
      operationId: listTrades
      summary: Spot trades, newest first
      description: >-
        From the read model trades; user_id matches either side. With accounts=bots only the trades between two bots,
        with accounts=users those with anyone else on a side (a user's trade with a bot is the users'). Needs
        reports.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: symbol
          in: query
          schema:
            type: string
        - $ref: '#/components/parameters/Accounts'
        - $ref: '#/components/parameters/From'
        - $ref: '#/components/parameters/To'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of trades.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Trade'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits:
    get:
      operationId: listDeposits
      summary: Deposits in their latest state, newest first
      description: From the read model wallet_deposits. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - name: tx_hash
          in: query
          description: The deposits of one transaction, any letter case (the console's search).
          schema:
            type: string
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Deposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/review:
    get:
      operationId: listReviewDeposits
      summary: wallet-service's deposits, for decisions
      description: |
        Newest first, straight from wallet-service (not the read model):
        attention=true lists the deposits waiting for a decision (booked
        to UNCLAIMED_DEPOSIT, or a backfill the custodian's callback
        disagreed with), manual_pending=true the backfilled ones without
        a callback yet. Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - $ref: '#/components/parameters/UserFilter'
        - name: status
          in: query
          schema:
            type: string
            enum: [DETECTED, CONFIRMING, CONFIRMED, CREDITED, ORPHANED, REJECTED]
        - name: network
          in: query
          schema:
            type: string
        - name: attention
          in: query
          schema:
            type: string
            enum: ['true']
        - name: manual_pending
          in: query
          schema:
            type: string
            enum: ['true']
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of deposits.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ReviewDeposit'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/manual/check:
    post:
      operationId: checkDepositBackfill
      summary: Check a backfill of a lost custodian callback without booking it
      description: |
        The checks of POST /admin/v1/deposits/manual (the network is a
        custodian's, the address is a user's on it, neither the trade nor
        the transfer is known, the amount fits the asset's precision) and
        what it would book. Not audited. Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillRequest'
      responses:
        '200':
          description: What the backfill would book.
          content:
            application/json:
              schema:
                type: object
                required: [user_id, asset, unclaimed, value_usdt]
                properties:
                  user_id:
                    type: string
                    format: uuid
                  asset:
                    type: string
                  unclaimed:
                    type: boolean
                    description: Below the network's minimum, so booked to UNCLAIMED_DEPOSIT instead of the user.
                  value_usdt:
                    description: The amount's worth; null without a price (a second administrator then decides).
                    $ref: '#/components/schemas/NullableDecimal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/manual:
    post:
      operationId: backfillDeposit
      summary: Backfill a custodian deposit whose callback was lost
      description: |
        For a deposit the administrator found in the custodian's console
        (this console cannot ask the custodian, so nothing here checks it
        there). After the checks of POST /admin/v1/deposits/manual/check
        it is a fund operation (kind DEPOSIT_BACKFILL): in single-person
        mode within the limits it is booked at once (EXECUTED), otherwise
        it waits for a second administrator (PENDING). Booked like a
        callback (credited, or to UNCLAIMED_DEPOSIT below the minimum)
        with source MANUAL; the custodian's own callback, when it comes,
        is matched against it, never booked again. Audited. Needs
        deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/BackfillRequest'
                - type: object
                  required: [reason]
                  properties:
                    reason:
                      type: string
                      minLength: 10
      responses:
        '201':
          description: The fund operation, executed or waiting for a second administrator.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}:
    get:
      operationId: getReviewDeposit
      summary: One of wallet-service's deposits
      description: Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/credit:
    post:
      operationId: creditDeposit
      summary: Give an unclaimed deposit to its user
      description: |
        Only a deposit booked to UNCLAIMED_DEPOSIT (below the minimum, the
        account closed or not eligible) and only its own asset and amount:
        the ledger moves it to the user's spot account (DEPOSIT_CREDIT,
        audited as ledger.unclaimed_released). An unsupported token has no
        asset and can only be rejected (WALLET_DEPOSIT_NOT_RELEASABLE).
        Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The deposit, CREDITED.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/assign:
    post:
      operationId: assignDeposit
      summary: Credit a deposit of nobody to a user
      description: |
        A deposit of nobody (user_id the nil UUID, reason UNKNOWN_ADDRESS:
        the custodian reported a deposit to an address no user has, B7a)
        waits in UNCLAIMED_DEPOSIT. This credits its own asset and amount
        to the user named: a fund operation of kind DEPOSIT_ASSIGN, carried
        out at once in single-person mode within the limits, else waiting
        for a second administrator (C5.5 ㉑). Credited to a user other than
        the address's holder, now or before it was retired, it waits for a
        second administrator whatever its worth (escalation
        NOT_ADDRESS_HOLDER). wallet-service sets the owner
        and releases it (audited as wallet.deposit.assigned and
        ledger.unclaimed_released). Any other deposit is
        ADMIN_DEPOSIT_NOT_UNOWNED; while another request for the deposit
        waits or once one was carried out, ADMIN_DEPOSIT_ASSIGN_OPEN (one
        live request per deposit); a user who may not take deposits is
        refused by wallet-service. The same request under its
        Idempotency-Key returns the operation, finishing one whose outcome
        was unknown. Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [user_id, reason]
              properties:
                user_id:
                  type: string
                  format: uuid
                  description: The user it is credited to.
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The operation, EXECUTED with the release's journal, or PENDING with why it waits.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/deposits/{id}/reject:
    post:
      operationId: rejectDeposit
      summary: Close a deposit waiting for a decision without moving funds
      description: |
        Marks it handled with the reason (resolution DISMISSED): an
        unclaimed deposit stays in UNCLAIMED_DEPOSIT, a disagreeing
        callback stays unbooked (a backfill it disagreed with is never
        sent to the ledger). An unclaimed deposit the ledger released
        already, its release not recorded, is not closed: 409
        WALLET_DEPOSIT_RELEASED (details journal_id); crediting it again
        records the release. A deposit of nobody the ledger released to a
        user already is not closed either: 409
        WALLET_DEPOSIT_RELEASED_TO_USER (details user_id, journal_id);
        assigning it to that user records the release. Audited by the
        wallet (wallet.deposit.dismissed). Needs deposits.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The deposit.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ReviewDeposit'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/dashboard:
    get:
      operationId: getDashboard
      summary: The overview
      description: |
        Accounts (user-service), the last 24 hours' trading and what waits
        in the wallet (read models), the reference feed (market-data-service)
        and a daily series. A part that cannot be read is left empty and
        named in `partial`. Needs reports.read.
      tags: [reports]
      parameters:
        - $ref: '#/components/parameters/Days'
      responses:
        '200':
          description: The overview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Dashboard'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/lookup:
    get:
      operationId: lookupUser
      summary: Find an account by user ID, email address or phone number
      description: Phone numbers in E.164 with the leading "+". Needs users.read.
      tags: [users]
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: string
            examples: [alice@example.com]
      responses:
        '200':
          description: The account and its balances.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserView'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/status:
    post:
      operationId: changeUserStatus
      summary: Move an account to another status (freeze, unfreeze, review, close)
      description: |
        user-service applies its state machine (appendix B) and records the
        change with the administrator as the actor. Needs users.status.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [to, reason]
              properties:
                to:
                  type: string
                  enum: [ACTIVE, RISK_REVIEW, FROZEN, CLOSED]
                reason:
                  type: string
                  description: Reason code of user-service, e.g. SUSPICIOUS_LOGIN, USER_REQUEST.
                note:
                  type: string
      responses:
        '200':
          description: The change.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Transition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}:
    get:
      operationId: getUser
      summary: An account with the console's tags on it
      description: Needs users.read. Unknown accounts fail with COMMON_NOT_FOUND.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSummary'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/notes:
    get:
      operationId: listUserNotes
      summary: Administrators' notes on an account, newest first
      description: Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of notes.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Note'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: addUserNote
      summary: Write a note on an account
      description: Notes are never edited or removed; each is audited (admin.users.note_added). Needs users.notes.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [body]
              properties:
                body:
                  type: string
                  minLength: 1
                  maxLength: 2000
      responses:
        '201':
          description: The note.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Note'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/tags:
    put:
      operationId: setUserTags
      summary: Replace an account's tags
      description: |
        Tags are upper case codes (letters, digits, _; up to 32, at most
        10), e.g. VIP, SUSPICIOUS, TEST; the console's own, user-service
        never sees them. A change is audited with the tags before and after
        (admin.users.tags_changed). Needs users.notes.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [tags]
              properties:
                tags:
                  type: array
                  maxItems: 10
                  items:
                    type: string
      responses:
        '200':
          description: The tags as stored (upper case, sorted).
          content:
            application/json:
              schema:
                type: object
                required: [tags]
                properties:
                  tags:
                    type: array
                    items:
                      type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/adjustments:
    post:
      operationId: adjustUserBalance
      summary: Credit or debit a user's balance
      description: |
        A manual adjustment (MANUAL_ADJUSTMENT against the ADJUSTMENT system
        account) of the user's SPOT or FUTURES account: booked at once in
        single-person mode within the limits (EXECUTED with its journal, or
        FAILED with the ledger's refusal such as
        LEDGER_ADJUSTMENT_DISABLED), otherwise PENDING for a second
        administrator with the reason in `escalation`. When the ledger does
        not answer the call fails with COMMON_UNAVAILABLE and the detail
        `approval_id` names the operation, left PENDING for its requester
        to finish (decide). Needs ledger.adjust.request.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                account_type:
                  type: string
                  enum: [SPOT, FUTURES]
                  default: SPOT
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  description: Positive credits, negative debits.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
                reference:
                  type: string
                  maxLength: 64
                  description: A ticket or order number kept with it (in the journal's memo).
      responses:
        '201':
          description: The operation.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Approval'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/cancel-orders:
    post:
      operationId: cancelUserOrders
      summary: Cancel every open order of an account
      description: Needs orders.cancel. The cancellations complete asynchronously in the matching engine.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancellations requested.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/security:
    get:
      operationId: getUserSecurity
      summary: An account's sign-in security
      description: |
        Identities (masked: a***@x.com, +65912****4567), authenticator,
        password, lock, live sessions and devices (addresses masked), and
        the rebind requests waiting (auth-service). Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The account's security.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Security'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contacts/reveal:
    post:
      operationId: revealUserContacts
      summary: An account's email and phone, unmasked
      description: |
        Each call is audited (admin.users.contacts_revealed, naming the
        kinds shown, not the values); the answer is not cached. Needs
        users.contacts.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The identities.
          content:
            application/json:
              schema:
                type: object
                required: [identities]
                properties:
                  identities:
                    type: array
                    items:
                      $ref: '#/components/schemas/Identity'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/login-history:
    get:
      operationId: listUserLogins
      summary: An account's sign-in attempts, newest first
      description: Addresses are masked. Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of sign-ins.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/LoginEntry'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/sessions/revoke:
    post:
      operationId: revokeUserSessions
      summary: End one of an account's sessions, or all of them
      description: |
        The sessions end with reason ADMIN (auth-service); audited as
        admin.users.sessions_revoked. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [reason]
              properties:
                session_id:
                  type: string
                  format: uuid
                  description: Omitted for every live session.
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: How many sessions ended.
          content:
            application/json:
              schema:
                type: object
                required: [revoked]
                properties:
                  revoked:
                    type: integer
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/totp-reset:
    post:
      operationId: resetUserTotp
      summary: Remove an account's authenticator app
      description: |
        The user is told by mail and can bind a new one; audited as
        admin.users.totp_reset. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: Whether there was one to remove.
          content:
            application/json:
              schema:
                type: object
                required: [removed]
                properties:
                  removed:
                    type: boolean
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/password-reset:
    post:
      operationId: resetUserPassword
      summary: Give an account a temporary password
      description: |
        A random password (four groups of four letters and digits) replaces
        the user's; every session ends, the password lock is cleared and
        the user is told by mail as for a reset (withdrawals are reviewed
        for a day). The password is in this answer only: pass it on and
        ask the user to change it. Audited as admin.users.password_reset,
        without the password. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The temporary password (not cached).
          content:
            application/json:
              schema:
                type: object
                required: [temporary_password, sessions_revoked]
                properties:
                  temporary_password:
                    type: string
                  sessions_revoked:
                    type: integer
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/history:
    get:
      operationId: getUserHistory
      summary: An account's status changes and accepted documents
      description: Status changes newest first, at most 50 (user-service). Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The history.
          content:
            application/json:
              schema:
                type: object
                required: [status_changes, consents]
                properties:
                  status_changes:
                    type: array
                    items:
                      $ref: '#/components/schemas/StatusChange'
                  consents:
                    type: array
                    items:
                      $ref: '#/components/schemas/Consent'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/risk:
    get:
      operationId: getUserRisk
      summary: The risk rules' assessments of an account, newest first
      description: |
        Only assessments with a rule hit are kept (risk-service). Moving the
        account to RISK_REVIEW and back is POST /admin/v1/users/{id}/status.
        Needs users.read.
      tags: [users]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: The assessments.
          content:
            application/json:
              schema:
                type: object
                required: [assessments]
                properties:
                  assessments:
                    type: array
                    items:
                      $ref: '#/components/schemas/Assessment'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/identity-requests:
    get:
      operationId: listIdentityRequests
      summary: Identity rebind requests, newest first
      description: |
        A user with a single identity asks to move it to a new value and an
        administrator decides (auth-service). Values are masked. Needs
        users.read.
      tags: [users]
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [PENDING_REVIEW, APPROVED, REJECTED]
        - $ref: '#/components/parameters/UserFilter'
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of requests.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/IdentityRequest'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/identity-requests/{id}/decide:
    post:
      operationId: decideIdentityRequest
      summary: Approve or reject an identity rebind request
      description: |
        Approving moves the identity to the new value and tells the user;
        a value another account holds fails with AUTH_IDENTITY_TAKEN. Audited as
        admin.users.identity_request_decided. Needs users.security.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The decided request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityRequest'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/balances:
    get:
      operationId: getUserBalances
      summary: An account's balances, valued in USDT
      description: |
        Every SPOT and FUTURES balance with its total (available + frozen)
        valued at its USDT pair's last price, SPOT first and the larger
        worth first; assets without a USDT price are listed in `unpriced`
        and left out of the total. Needs users.read.
      tags: [users, ledger]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The balances.
          content:
            application/json:
              schema:
                type: object
                required: [balances, total_usdt, unpriced]
                properties:
                  balances:
                    type: array
                    items:
                      $ref: '#/components/schemas/ValuedBalance'
                  total_usdt:
                    $ref: '#/components/schemas/Decimal'
                  unpriced:
                    type: array
                    items:
                      type: string
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/holds:
    get:
      operationId: listUserHolds
      summary: Holds on an account's SPOT balance, newest first
      description: Active and released. Needs users.read.
      tags: [users, ledger]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The holds.
          content:
            application/json:
              schema:
                type: object
                required: [holds]
                properties:
                  holds:
                    type: array
                    items:
                      $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: placeUserHold
      summary: Freeze part of an account's SPOT balance
      description: |
        The ledger moves the amount from available to frozen (ADMIN_FREEZE)
        and audits it as ledger.hold_placed; more than the available
        balance fails with LEDGER_INSUFFICIENT_BALANCE. The user sees the
        amount frozen until it is released. Needs ledger.hold.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [asset, amount, reason]
              properties:
                asset:
                  type: string
                  examples: [USDT]
                amount:
                  description: Positive.
                  $ref: '#/components/schemas/Decimal'
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/holds/{hold}:
    delete:
      operationId: releaseUserHold
      summary: Release a hold
      description: |
        The ledger returns the amount to the available balance
        (ADMIN_UNFREEZE) and audits it as ledger.hold_released; a hold is
        released once (LEDGER_HOLD_RELEASED). Needs ledger.hold.
      tags: [users, ledger]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/UserID'
        - name: hold
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '200':
          description: The released hold.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Hold'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/orders/{order}/cancel:
    post:
      operationId: cancelUserOrder
      summary: Cancel one of an account's spot orders
      description: |
        The cancel completes asynchronously in the matching engine; the
        answer is the order as spot-trading-service has it. Audited as
        admin.orders.canceled. Needs orders.cancel.
      tags: [users]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/OrderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancel requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServiceOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contract-orders:
    get:
      operationId: listUserContractOrders
      summary: An account's active contract orders
      description: As derivatives-service renders them, at most 100. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The orders.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContractOrder'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/contract-orders/{order}/cancel:
    post:
      operationId: cancelUserContractOrder
      summary: Cancel one of an account's contract orders
      description: Completes asynchronously in the engine. Audited as admin.derivatives.order_canceled. Needs orders.cancel.
      tags: [users, derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/UserID'
        - $ref: '#/components/parameters/OrderID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Reason'
      responses:
        '202':
          description: Cancel requested.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/positions:
    get:
      operationId: listUserPositions
      summary: An account's open contract positions
      description: As derivatives-service renders them, with the liquidation estimate. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
      responses:
        '200':
          description: The positions.
          content:
            application/json:
              schema:
                type: object
                required: [positions]
                properties:
                  positions:
                    type: array
                    items:
                      $ref: '#/components/schemas/UserPosition'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/futures-margin:
    get:
      operationId: getUserFuturesMargin
      summary: An account's cross margin, and what a debit would leave of it
      description: |
        The cross positions' equity and maintenance margin at the marks, as
        derivatives-service's margin monitor measures them, and the equity
        and state after a debit of the FUTURES balance (a negative
        adjustment lowers the equity at once; LIQUIDATE means the next round
        of the monitor takes the positions over). Unmeasured while a cross
        position's contract has no fresh mark price. Needs users.read.
      tags: [users, derivatives]
      parameters:
        - $ref: '#/components/parameters/UserID'
        - name: debit
          in: query
          description: The debit to measure (positive; 0 by default).
          schema:
            $ref: '#/components/schemas/Decimal'
      responses:
        '200':
          description: The cross margin.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrossMargin'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/users/{id}/positions/close:
    post:
      operationId: closeUserPosition
      summary: Close a position at the market (force close)
      description: |
        The user's orders resting on the contract are canceled first, all
        of them (an opening order filled after the close would open the
        position again); once the engine confirmed (the console waits a few
        seconds, then fails with DERIV_CLOSE_PENDING to try again), a
        market order of kind ADMIN takes the whole position: reduce-only in
        one-way mode, against its side in hedge mode. A position under
        liquidation is left to the liquidation engine
        (DERIV_POSITION_LIQUIDATING); HOUSE's are not closed here
        (DERIV_HOUSE_NOT_CLOSED). The answer is the order as last seen: the
        console waits a few seconds for it to finish. On a thin book it may
        fill in part (CANCELED with filled_quantity below quantity): the
        rest of the position stays, look again and close it again. Audited
        as admin.derivatives.position_close_requested with its key, and as
        admin.derivatives.position_closed with what filled once the order is
        final. Needs derivatives.write.
      tags: [users, derivatives]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - $ref: '#/components/parameters/UserID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [symbol, position_side, reason]
              properties:
                symbol:
                  type: string
                  examples: [BTC-USDT-PERP]
                position_side:
                  type: string
                  enum: [BOTH, LONG, SHORT]
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The closing order.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContractOrder'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals:
    get:
      operationId: listWithdrawals
      summary: Withdrawals, the review queue by default
      description: |
        From wallet-service. The review queue (PENDING_REVIEW) lists oldest
        first, every other status newest first, unless order says otherwise.
        Needs withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: status
          in: query
          description: A withdrawal status (appendix B), e.g. APPROVED, SUBMITTED, BROADCAST, CONFIRMED, REJECTED, FAILED; ALL for every status.
          schema:
            type: string
            default: PENDING_REVIEW
        - $ref: '#/components/parameters/UserFilter'
        - name: asset
          in: query
          schema:
            type: string
        - name: network
          in: query
          description: One network, e.g. TRON or ETH-SEPOLIA; every network when empty.
          schema:
            type: string
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
        - name: held
          in: query
          description: true for the withdrawals on hold (in review), false for the others.
          schema:
            type: string
            enum: ['true', 'false']
        - name: min_value_usdt
          in: query
          schema:
            $ref: '#/components/schemas/Decimal'
        - name: max_value_usdt
          in: query
          schema:
            $ref: '#/components/schemas/Decimal'
        - name: min_risk
          in: query
          description: The lowest risk score listed.
          schema:
            type: integer
            minimum: 0
        - $ref: '#/components/parameters/Cursor'
        - $ref: '#/components/parameters/Limit'
      responses:
        '200':
          description: A page of withdrawals.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Withdrawal'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/review:
    post:
      operationId: reviewWithdrawal
      summary: Approve or reject a withdrawal in review
      description: |
        The administrator's email is the reviewer; a withdrawal above
        20,000 USDT needs two distinct reviewers. In single-person mode
        one approval completes a withdrawal worth at most the settings'
        withdrawal_max_usdt both when it was requested and at the current
        price; one worth more now, or of no fresh price (over a minute
        old), needs two reviewers whatever the risk rules asked for: the
        approval counts and another administrator approves too. Rejecting
        releases the frozen amount. The same review again with its
        Idempotency-Key answers with the withdrawal as it stands. A
        withdrawal of an asset whose withdrawals are suspended is approved
        all the same; the answer carries suspended_at and
        suspension_reason: it waits until they are resumed. Needs
        withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [approve, reason]
              properties:
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The withdrawal after the review.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/review-batch:
    post:
      operationId: reviewWithdrawalBatch
      summary: Approve or reject several withdrawals with one reason
      description: |
        Each withdrawal is reviewed on its own as by POST
        /admin/v1/withdrawals/{id}/review (and audited by the wallet); one
        that fails (already decided, unknown) leaves the others decided and
        says why. One on hold is left out (ADMIN_WITHDRAWAL_HELD: its
        reviewer decides it on its own). At most 50 at a time. The same
        batch again with its Idempotency-Key answers for those it reviewed
        as they stand. Needs withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [ids, approve, reason]
              properties:
                ids:
                  type: array
                  minItems: 1
                  maxItems: 50
                  items:
                    type: string
                    format: uuid
                approve:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: What came of each.
          content:
            application/json:
              schema:
                type: object
                required: [results]
                properties:
                  results:
                    type: array
                    items:
                      type: object
                      required: [id, ok]
                      properties:
                        id:
                          type: string
                        ok:
                          type: boolean
                        status:
                          type: string
                          description: The withdrawal's status after the review.
                        code:
                          type: string
                          description: The error code of a failed one.
                        message:
                          type: string
                        suspended:
                          type: boolean
                          description: Approved, it waits until its asset's withdrawals are resumed.
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/suspensions:
    get:
      operationId: listWithdrawalSuspensions
      summary: The assets whose withdrawals are suspended
      description: |
        wallet-service suspends an asset's withdrawals when funds are
        missing on two custody checks (or an operator does, exchangectl
        wallet withdrawals-suspend): new requests are refused, approved
        ones wait. Needs withdrawals.read.
      tags: [withdrawals]
      responses:
        '200':
          description: The suspended assets.
          content:
            application/json:
              schema:
                type: object
                required: [items]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/WithdrawalSuspension'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/suspensions/{asset}/resume:
    post:
      operationId: resumeWithdrawals
      summary: Lift an asset's withdrawal suspension
      description: |
        Its approved withdrawals go out within a round, and the custody
        checks start over (funds still missing suspend it again on two
        checks). wallet-service audits it (wallet.withdrawals.resume) in
        the ADMIN's name. COMMON_NOT_FOUND when it is not suspended.
        Needs withdrawals.resume (ADMIN).
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: asset
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReasonRequest'
      responses:
        '200':
          description: The suspension lifted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalSuspension'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}:
    get:
      operationId: getWithdrawal
      summary: A withdrawal with what its review needs
      description: |
        From wallet-service: the withdrawal, its address in the user's
        address book (when it was added, when its cooling-off ended) and
        the user's withdrawals' worth today and this month. Needs
        withdrawals.read.
      tags: [withdrawals]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalDetail'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/withdrawals/{id}/hold:
    post:
      operationId: holdWithdrawal
      summary: Put a withdrawal in review on hold, or take it off hold
      description: |
        A held withdrawal stays in review with the reviewer's note (say,
        while the user is called) until it is taken off hold or decided;
        deciding it takes it off hold. Only a withdrawal in review
        (WALLET_WITHDRAWAL_NOT_IN_REVIEW otherwise). Audited by the wallet
        (wallet.withdrawal.hold, wallet.withdrawal.unhold). Needs
        withdrawals.review.
      tags: [withdrawals]
      security:
        - session: []
          csrf: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [hold]
              properties:
                hold:
                  type: boolean
                note:
                  type: string
                  minLength: 3
                  description: Required to put it on hold.
      responses:
        '200':
          description: The withdrawal.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Withdrawal'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments:
    get:
      operationId: listInstruments
      summary: Assets (with networks), trading pairs and perpetual contracts
      description: |
        As instrument-service returns them (protobuf JSON with field names;
        int64 as strings). They change through the versioned reference-data
        file (exchangectl instruments apply, run by every deploy) and, since
        C3, through POST /admin/v1/instruments/apply. Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The reference data.
          content:
            application/json:
              schema:
                type: object
                required: [assets, pairs, contracts]
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  pairs:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pair'
                  contracts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Contract'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/config:
    get:
      operationId: getInstrumentConfig
      summary: The reference data as a config document
      description: |
        In the shape of deploy/instruments/<env>.json (what exchangectl
        instruments apply reads), statuses and versions included: what the
        console's forms start from. Needs instruments.read.
      tags: [instruments]
      responses:
        '200':
          description: The document.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstrumentConfig'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/preview:
    post:
      operationId: previewInstrumentConfig
      summary: What a config document would change, changing nothing
      description: |
        The document names only the items to create or change, each whole
        (a field left out becomes empty). Items missing are left alone,
        statuses never change here (the status endpoints do that): a new
        pair or contract starts in PREPARE (ADMIN_NEW_ITEM_NOT_PREPARE for
        another status). A pair's
        new reference symbol must be listed on the reference market's spot
        market (ADMIN_REFERENCE_UNKNOWN otherwise: it would fail the
        reference reads of every pair); clearing the reference symbol of a
        pair HOUSE quotes or a perpetual's index follows is refused
        (ADMIN_REFERENCE_IN_USE); `warnings` note what else follows.

        `guard` lists the trading parameters the document moves (fee rates,
        a pair's fee tier, reference symbol and multiplier, a contract's
        fee tier and risk ladder) with, for a ladder, the open positions it
        would liquidate (derivatives-service measures them as its margin
        monitor does). Such a document is applied only by an ADMIN bringing
        back `guard.confirmation` (bound to them and to exactly these
        changes, valid 10 minutes), and then waits (see apply). Needs
        instruments.write.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [config]
              properties:
                config:
                  $ref: '#/components/schemas/InstrumentConfigPatch'
      responses:
        '200':
          description: The changes it would make.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConfigResult'
                  - type: object
                    required: [guard]
                    properties:
                      guard:
                        $ref: '#/components/schemas/ChangeGuard'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/instruments/apply:
    post:
      operationId: applyInstrumentConfig
      summary: Apply a config document
      description: |
        As POST /admin/v1/instruments/preview, then applied in one
        transaction by instrument-service (source CONSOLE in its history,
        each change versioned and published). The deploy's sync of the
        reference-data file keeps what the console changed last (exchangectl
        instruments apply --force overrides). Audited
        (admin.instruments.applied). Needs instruments.write.

        A document moving trading parameters (design 2026-10-02 §2 item 6)
        needs instruments.trading (ADMIN) and the preview's confirmation
        (ADMIN_CONFIRMATION_REQUIRED without it, with `reason` expired or
        changed when it no longer holds): it answers 202 with the change,
        the same change when the confirmation is brought again (one
        confirmation confirms one change), which takes effect the settings'
        change_delay_seconds later, or,
        while admin.two_person_approval is on, that long after a second
        ADMIN approved it (POST /admin/v1/instruments/changes/{id}/decide);
        audited as admin.instruments.change_requested. New items touch
        nobody until opened and apply at once.
      tags: [instruments]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [config, reason]
              properties:
                config:
                  $ref: '#/components/schemas/InstrumentConfigPatch'
                reason:
                  type: string
                  minLength: 3
                confirmation:
                  type: string
                  description: The preview's guard.confirmation.token, for a document moving trading parameters.
      responses:
        '200':
          description: The changes made.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConfigResult'
                  - type: object
                    required: [change]
                    properties:
                      change:
                        type: 'null'
        '202':
          description: The changes confirmed, waiting.
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/ConfigResult'
                  - type: object
                    required: [change]
                    properties:
                      change:
                        $ref: '#/components/schemas/InstrumentChange'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles:
    get:
      operationId: listArticles
      summary: A section's announcements or help articles, every status
      description: |
        Kept by notification-service and read by the sites through GET
        /v1/announcements and /v1/help once published (design 2026-10-02
        §4.5). Every administrator reads them.
      tags: [content]
      parameters:
        - name: section
          in: query
          required: true
          schema:
            type: string
            enum: [ANNOUNCEMENT, HELP, LEGAL, HOME]
      responses:
        '200':
          description: The articles.
          content:
            application/json:
              schema:
                type: object
                required: [articles]
                properties:
                  articles:
                    type: array
                    items:
                      $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: createArticle
      summary: Write a draft
      description: |
        Chinese (zh-CN) title and Markdown body required, English
        optional. A slug holds one article per mode in its section: a TEST
        and a FORMAL one side by side, or one for BOTH; another that
        overlaps is NOTIFY_ARTICLE_EXISTS (409). Audited as
        admin.content.created on <section>:<slug>. Needs content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ArticleWrite'
                - type: object
                  required: [section, reason]
                  properties:
                    section:
                      type: string
                      enum: [ANNOUNCEMENT, HELP, LEGAL, HOME]
                    reason:
                      type: string
                      minLength: 3
      responses:
        '201':
          description: The draft.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles/{id}:
    get:
      operationId: getArticle
      summary: An article with every text
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
    put:
      operationId: updateArticle
      summary: Rewrite an article
      description: |
        At the version read (COMMON_CONFLICT when someone saved it
        meanwhile); its status stays: a published article changes on the
        sites within a minute. Audited as admin.content.updated. Needs
        content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ArticleWrite'
                - type: object
                  required: [version, reason]
                  properties:
                    version:
                      type: integer
                    reason:
                      type: string
                      minLength: 3
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles/{id}/publish:
    post:
      operationId: publishArticle
      summary: Publish an article, now or at a time
      description: |
        The sites show it from publish_at on (now when left out). Audited
        as admin.content.published. Needs content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, reason]
              properties:
                version:
                  type: integer
                publish_at:
                  type: string
                  format: date-time
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/articles/{id}/archive:
    post:
      operationId: archiveArticle
      summary: Take an article off the sites
      description: It may be published again. Audited as admin.content.archived. Needs content.write.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/ArticleID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [version, reason]
              properties:
                version:
                  type: integer
                reason:
                  type: string
                  minLength: 3
      responses:
        '200':
          description: The article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ContentArticle'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/broadcasts:
    get:
      operationId: listBroadcasts
      summary: The in-app messages sent, newest first
      description: With how many each reached and how many of them read it. Every administrator reads them.
      tags: [content]
      parameters:
        - $ref: '#/components/parameters/Cursor'
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
      responses:
        '200':
          description: A page of messages.
          content:
            application/json:
              schema:
                type: object
                required: [items, next_cursor]
                properties:
                  items:
                    type: array
                    items:
                      $ref: '#/components/schemas/Broadcast'
                  next_cursor:
                    $ref: '#/components/schemas/NextCursor'
        default:
          $ref: '#/components/responses/Error'
    post:
      operationId: sendBroadcast
      summary: Send an in-app message to one user, a tag's users or everyone
      description: |
        notification-service delivers it in rounds, each user once in their
        language (Chinese without English), as a notice of type BROADCAST
        on the sites' inbox and pushed live; email also mails it. A tag's
        users are those tagged now (ADMIN_TAG_EMPTY when none, at most
        10,000). Audited as admin.notices.sent on broadcast:<id>. Needs
        notices.send.
      tags: [content]
      security:
        - session: []
          csrf: []
      parameters:
        - $ref: '#/components/parameters/IdempotencyKey'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [audience, title, body, reason]
              properties:
                audience:
                  type: string
                  enum: [ALL, USER, TAG]
                user_id:
                  type: string
                  format: uuid
                  description: With USER.
                tag:
                  type: string
                  description: With TAG.
                title:
                  $ref: '#/components/schemas/LocalizedText'
                body:
                  $ref: '#/components/schemas/LocalizedText'
                link:
                  type: string
                  description: A path on the sites the message leads to, such as /assets.
                email:
                  type: boolean
                reason:
                  type: string
                  minLength: 3
      responses:
        '201':
          description: The message, being delivered.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Broadcast'
        default:
          $ref: '#/components/responses/Error'
  /admin/v1/broadcasts/{id}:
    get:
      operationId: getBroadcast
      summary: An in-app message sent, with its counts
      tags: [content]
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
[...]
